<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/iview/2.14.0/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <style scoped th:fragment="common-css">
        .folderContent {
            height: fit-content;
            padding: 5px;
            margin: 3px;
        }

        .resourceTitle {
            font-size: 18px;
            height: 20px;
            line-height: 20px;
        }

        .resourceBtnDiv {
            display: flex;
            align-items: center;
            height: 20px;
            padding: 5px;
        }

        .fileBtn {
            margin: 0px 3px;
        }

        .itemIcon {
            margin-right: 5px;
        }

        .fileItemName {
            width: 35%;
            margin-right: 5%;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;
            cursor: pointer;
            overflow: hidden;
        }

        .fileItemSize {
            width: 10%;
            margin-right: 5%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 16px;
        }

        .demo-spin-icon-load {
            animation: ani-demo-spin 1s linear infinite;
        }

        @keyframes ani-demo-spin {
            from {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(180deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .demo-spin-col {
            height: 100px;
            position: relative;
        }

        .personalFileLabel {
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .personalFileDes {
            display: inline-block;
            margin: 0 5px;
            width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .fileBtnHoverBlue:hover {
            background-color: #2db7f5;
            color: white;
        }

        .fileBtnHoverGreen:hover {
            background-color: #19be6b;
            color: white;
        }

        .fileBtnHoverOrange:hover {
            background-color: #ff9900;
            color: white;
        }

        .fileBtnHoverRed:hover {
            background-color: #ed4014;
            color: white;
        }

        .fileBtnHoverGray:hover {
            background-color: #808695;
            color: white;
        }
        .demo-spin-icon-load{
            animation: ani-demo-spin 1s linear infinite;
        }
    </style>
</head>

<body>
    <template th:fragment="common-html" id="folderTreeComponent">
        <div class="fileSpace">
            <Card :padding="1" dis-hover>
                <div slot="title" class="resourceTitle">
                    <strong>Resources List</strong>
                </div>
                <div slot="extra" class="resourceBtnDiv">
                    <Tooltip content="Back" placement="bottom" class="fileBtn">
                        <i-button @click="backforeFolder" class="fileBtnHoverGray">
                            <Icon type="md-arrow-round-back" size="20"></Icon>
                        </i-button>
                    </Tooltip>
                    <Tooltip content="New folder" placement="bottom" class="fileBtn" v-if="role != 'Visitor'&& role!='Token'">
                        <i-button @click="addFolderModalShow" class="fileBtnHoverGreen">
                            <Icon type="ios-folder" size="20"></Icon>
                        </i-button>
                    </Tooltip>
                </div>
                <div class="folderContent">
                    <Card v-if="folderNameStack.length>0" :padding="5" dis-hover>
                        <div style="display:flex;align-items:center">
                            <div style="min-width:60px" v-show="currentFolder.files.length>0">
                                <Checkbox :indeterminate="indeterminate" :value="checkAll" @click.prevent.native="handleCheckAll" v-show="currentFolder.files.length>0"
                                    style="align-items:center">
                                    All files
                                </Checkbox>
                            </div>
                            <div style="flex:1;margin-left:3px;">
                                <Breadcrumb>
                                    <Breadcrumb-item>
                                        <Icon type="md-folder"></Icon>
                                    </Breadcrumb-item>
                                    <Breadcrumb-item v-for="(folderName,index) in folderNameStack" :key="index" v-if="index!=0">{{folderName}}</Breadcrumb-item>
                                </Breadcrumb>
                            </div>
                            <div style="align-items:flex-end">
                                <Tooltip content="Download" placement="bottom" class="fileBtn">
                                    <i-button @click="downloadSelectFile" v-show="currentFolder.files.length>0" shape="circle" icon="md-cloud-download" class="fileBtnHoverGray"></i-button>
                                </Tooltip>
                                <Tooltip content="Upload files" placement="bottom" class="fileBtn">
                                    <i-button @click="uploadModalShow" shape="circle" icon="md-cloud-upload" class="fileBtnHoverGreen" v-if="role != 'Visitor'&& role!='Token'"></i-button>
                                </Tooltip>
                                <Tooltip content="Share personal files" placement="left" class="fileBtn">
                                    <i-button @click="shareModalShow" shape="circle" icon="ios-copy" class="fileBtnHoverOrange" v-if="role != 'Visitor'&& role!='Token'"></i-button>
                                </Tooltip>
                            </div>
                        </div>
                    </Card>
                    <div v-if="currentFolder.folders.length>0 || currentFolder.files.length>0" :style="{height:listContentCSS}">
                        <vue-scroll :ops="ops">
                            <Card v-for="(folder,index) in currentFolder.folders" :key="folder.index" :padding="5">
                                <div>
                                    <Icon type="ios-folder-open" class="itemIcon" size="25"></Icon>
                                    <a @click="enterFolder(folder.uid)" class="fileItemName" :title="folder.name">{{folder.name}}</a>
                                    <div style="float:right" v-if="role != 'Visitor'&& role!='Token'">
                                        <i-button @click="renameFolderModalShow(folder)" class="fileBtnHoverBlue" shape="circle" icon="ios-create" title="Rename"
                                            size="small" type="text"></i-button>
                                        <i-button @click="deleteFolder(folder)" class="fileBtnHoverRed" shape="circle" icon="ios-trash" title="Delete" size="small"
                                            style="margin-left:5px" type="text"></i-button>
                                    </div>
                                </div>
                            </Card>
                            <Checkbox-group v-model="chooseFilesArray" @on-change="checkAllGroupChange">
                                <Card v-for="(file,index) in currentFolder.files" :key="file.index" :padding="5">
                                    <div>
                                        <Checkbox :label="file.pathURL">&nbsp;</Checkbox>
                                        <Icon type="ios-document-outline" class="itemIcon" size="25"></Icon>
                                        <span @click="getFileInfo(file)" class="fileItemName" :title="file.name">{{file.name}}</span>
                                        <span class="fileItemSize">{{file.fileSize}}</span>
                                        <span style="width:20%;margin-right:5%">{{file.uploadTime.substring(0,10)}}</span>
                                        <div style="float:right">
                                            <i-button @click="filePreview(file)" shape="circle" icon="md-eye" title="Preview" size="small" class="fileBtnHoverGreen"
                                                type="text"></i-button>
                                            <i-button @click="fileDownload(file)" shape="circle" icon="ios-cloud-download" title="Download" size="small" class="fileBtnHoverGray"
                                                type="text"></i-button>
                                            <i-button @click="showCopyFileModel(file)" shape="circle" icon="ios-share-alt" title="Copy to personal center" size="small" class="fileBtnHoverOrange"
                                                type="text" v-if="role != 'Visitor'&& role!='Token'"></i-button>
                                            <i-button @click="fileEditModelShow(file)" shape="circle" icon="md-create" title="Edit info" size="small" class="fileBtnHoverBlue"
                                                type="text" v-if="role != 'Visitor'&& role!='Token'"></i-button>
                                            <i-button @click="fileDelete(file)" shape="circle" icon="ios-trash" title="Remove" size="small" class="fileBtnHoverRed" type="text" v-if="role != 'Visitor'&& role!='Token'"></i-button>
                                        </div>
                                    </div>
                                </Card>
                            </Checkbox-group>
                        </vue-scroll>
                    </div>
                    <div v-else style="text-align:center">
                        <div style="color:lightgray;font-size:2em; font-weight:bold">No file or folder</div>
                    </div>
                </div>
            </Card>
            <Modal v-model="renameFolderModal" title="Rename folder" ok-text="Assure" cancel-text="Cancel">
                <i-form ref="renameValidate" :model="renameValidate" :rules="renameRuleValidate" :label-width="80">
                    <Form-item label="New name" prop="newName">
                        <i-input v-model="renameValidate.newName" :rows="4" placeholder="Enter the name for folder..." />
                    </Form-item>
                </i-form>
                <div slot="footer">
                    <i-button @click="renameFolderModal=false">Cancel</i-button>
                    <i-button type="success" @click="renameFolder('renameValidate')">Rename</i-button>
                </div>
            </Modal>
            <Modal v-model="newFolderModal" title="New folder">
                <i-form ref="newValidate" :model="newValidate" :rules="newRuleValidate" :label-width="80" @submit.native.prevent>
                    <Form-item label="Set name" prop="setName">
                        <i-input v-model="newValidate.setName" :rows="4" placeholder="Enter the name for folder..." />
                    </Form-item>
                </i-form>
                <div slot="footer">
                    <i-button @click="newFolderModal=false">Cancel</i-button>
                    <i-button type="success" @click="addFolder('newValidate')">New</i-button>
                </div>
            </Modal>
            <Modal v-model="uploadModal" title="Upload file" width="600">
                <i-form ref="uploadValidate" :model="uploadValidate" :rules="uploadRuleValidate" :label-width="100" label-position="left">
                    <Form-item label="Privacy" prop="privacy">
                        <Radio-group v-model="uploadValidate.privacy" style="width:80%">
                            <Radio label="private">Private</Radio>
                            <Radio label="public">Public</Radio>
                        </Radio-group>
                    </Form-item>
                    <Form-item label="Type" prop="type">
                        <Radio-group v-model="uploadValidate.type">
                            <Radio label="data"></Radio>
                            <Radio label="paper"></Radio>
                            <Radio label="document"></Radio>
                            <Radio label="model"></Radio>
                            <Radio label="image"></Radio>
                            <Radio label="video"></Radio>
                            <Radio label="others"></Radio>
                        </Radio-group>
                    </Form-item>
                    <Form-item label="Description" prop="description">
                        <i-input type="textarea" :rows="4" v-model="uploadValidate.description" />
                    </Form-item>
                </i-form>
                <Upload :max-size="1024*1024" multiple type="drag" :before-upload="gatherFile" action="-">
                    <div style="padding: 20px 0">
                        <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                        <p>
                            Click or drag files here to upload (The file size must control in
                            <span style="color:red">1GB</span>)
                        </p>
                    </div>
                </Upload>
                <div style="padding:0 10px 0 10px;max-height:200px;overflow-y:auto">
                    <ul v-for="(list,index) in toUploadFiles" :key="index">
                        <li style="display:flex">
                            File name:
                            <span style="font-size:10px;margin: 0 5px 0 5px">{{ list.name }} ( {{list.fileSize}} )</span>
                            <Icon type="ios-close" size="20" @click="delFileList(index)" style="display:flex;justify-content:flex-end;cursor:pointer"></Icon>
                        </li>
                    </ul>
                </div>
                <div slot="footer">
                    <i-button @click="uploadModal=false">Cancel</i-button>
                    <i-button type="success" @click="folderUpload('uploadValidate')">Upload</i-button>
                </div>
            </Modal>
            <Modal v-model="progressModalShow" title="Upload Progress" :mask-closable="false" :closable="false">
                <i-progress :percent="uploadProgress"></i-progress>
                <div slot="footer"></div>
            </Modal>
            <Modal v-model="fileInfoModal" title="File Info">
                <i-table :columns="selectedFileColumns" :data="selectedFileData" stripe border :show-header="false"></i-table>
                <div slot="footer">
                    <i-button type="primary" @click="fileInfoModal=false">OK</i-button>
                </div>
            </Modal>
            <Modal v-model="shareModal" title="Share file from personal center" width="600" :mask-closable="false">
                <div style="height:300px;">
                    <vue-scroll :ops="ops">
                        <Checkbox-group v-model="selectedFilesToShare">
                            <Card dis-hover v-for="file in userResourceList" :key="file.index" style="">
                                <div>
                                    <Checkbox :label="file.resourceId" class="personalFileLabel" :title="file.name" v-if="canBeShare(file.resourceId)">
                                        <strong>{{file.name}}</strong>
                                    </Checkbox>
                                    <Checkbox :label="file.resourceId" class="personalFileLabel" :title="file.name" disabled v-else>
                                        <strong>{{file.name}}</strong>
                                    </Checkbox>
                                    <span class="personalFileDes" style="wdith:150px;" :title="file.description">{{file.description}}</span>
                                    <span style="display: inline-block;vertical-align:top;">{{file.fileSize}}</span>
                                </div>
                            </Card>
                        </Checkbox-group>
                    </vue-scroll>
                </div>
                <div slot="footer" style="display: inline-block">
                    <i-button type="primary" @click="shareFile()" style="float:right;">Submit</i-button>
                    <i-button @click="closeshareModel()" style="float:right;margin-right: 15px;">Cancel</i-button>
                </div>
            </Modal>
            <Modal v-model="editFileModel" title="Edit file info">
                <i-form ref="editFileValidate" :model="editFileValidate" :rules="renameRuleValidate" :label-width="80">
                    <Form-item label="Type" prop="type">
                      <Radio-group v-model="editFileValidate.type">
                        <Radio label="data"></Radio>
                        <Radio label="paper"></Radio>
                        <Radio label="document"></Radio>
                        <Radio label="model"></Radio>
                        <Radio label="image"></Radio>
                        <Radio label="video"></Radio>
                        <Radio label="others"></Radio>
                      </Radio-group>
                    </Form-item>
                    <Form-item label="Name" prop="name">
                        <i-input v-model="editFileValidate.name" :rows="4" placeholder="Enter the name for file..." />
                    </Form-item>
                    <Form-item label="Description" prop="description">
                      <i-input type="textarea" :rows="4" v-model="editFileValidate.description" />
                    </Form-item>
                </i-form>
                <div slot="footer">
                    <i-button @click="editFileModel=false">Cancel</i-button>
                    <i-button type="success" @click="editFileInfo('editFileValidate')">Submit</i-button>
                </div>
            </Modal>
            <Modal v-model="copyFileModal" title="Copy file to personal center" width="500">
              <Radio-group v-model="copyFilePrivacy">
                <Radio label="public">Public</Radio>
                <Radio label="private">Private</Radio>
              </Radio-group>
              <div slot="footer">
                <i-button @click="copyFileModal=false">Cancel</i-button>
                <i-button type="success" @click="copyFileToCenter">Copy</i-button>
              </div>
            </Modal>
        </div>
    </template>
    <script th:fragment="common-js">
        Vue.component('child-folder', {
            template: '#folderTreeComponent',
            props: ["rootFolderId", "role"],
            mounted() {
                this.resizeContent();
                this.enterFolder(this.rootFolderId);
                this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
            },
            data() {
                return {
                    listContentCSS: '',
                    userInfo: {
                        userState: false,
                        userName: 'Visitor',
                        userId: '',
                        avatar: '',
                    },
                    currentFolder: {
                        folders: [],
                        files: [],
                    },
                    folderNameStack: [],
                    newFolderModal: false,
                    setFolderName: "",
                    newValidate: {
                        setName: ""
                    },
                    newRuleValidate: {
                        setName: [
                            {
                                required: true,
                                message: "The name can't be null.",
                                trigger: "blur"
                            }
                        ]
                    },
                    renameForeInfo: {},
                    renameFolderModal: false,
                    renameValidate: {
                        newName: ""
                    },
                    renameRuleValidate: {
                        newName: [
                            {
                                required: true,
                                message: "The name can't be null.",
                                trigger: "blur"
                            }
                        ]
                    },
                    editFileValidate:{
                        name:"",
                        type:"",
                        description:""
                    },
                    editFileRuleValidate:{
                        type: [
                        {
                            required: true,
                            message: "file type cannot be empty",
                            trigger: "blur"
                        }
                        ],
                        name: [
                        {
                            required: true,
                            message: "file description cannot be empty",
                            trigger: "blur"
                        }
                        ],
                        description: [
                        {
                            required: true,
                            message: "file description cannot be empty",
                            trigger: "blur"
                        }
                        ]
                    },
                    uploadModal: false,
                    uploadValidate: {
                        privacy: "private",
                        type: "data",
                        description: ""
                    },
                    uploadRuleValidate: {
                        privacy: [
                            {
                                required: true,
                                message: "file privacy cannot be empty",
                                trigger: "blur"
                            }
                        ],
                        type: [
                            {
                                required: true,
                                message: "file type cannot be empty",
                                trigger: "blur"
                            }
                        ],
                        description: [
                            {
                                required: true,
                                message: "file description cannot be empty",
                                trigger: "blur"
                            }
                        ]
                    },
                    toUploadFiles: [],
                    fileCountTimer: null,
                    progressModalShow: false,
                    uploadProgress: 0,
                    fileInfoModal: false,
                    selectedFileColumns: [
                        {
                            title: "key",
                            key: "key",
                            minWidth: 10,
                            width: 110
                        },
                        {
                            title: "value",
                            key: "value"
                        }
                    ],
                    selectedFileData: [],
                    panel: null,
                    // 单选选中的名称数组
                    chooseFilesArray: [],
                    // 关于单选多选的按钮
                    indeterminate: true,
                    checkAll: false,
                    shareModal: false,
                    editFileModel: false,
                    userResourceList: [],
                    selectedFilesToShare: [],
                    ops: {
                        bar: {
                            background: "#808695"
                        }
                    },
                    copyFileModal:false,
                    copyFilePrivacy:"private",
                    selectedFile:{}
                };
            },
            methods: {
                resizeContent() {
                    if (window.innerHeight > 735) {
                        this.listContentCSS = window.innerHeight - 345 + 'px';
                    } else {
                        this.listContentCSS = '390px';
                    }
                },
                enterFolder(currentFolderId) {
                    this.chooseFilesArray = [];
                    this.checkAll = false;
                    this.indeterminate = false;
                    this.changeFolder(currentFolderId, "enter");
                },
                backforeFolder() {
                    this.chooseFilesArray = [];
                    this.checkAll = false;
                    this.indeterminate = false;
                    if (this.currentFolder.parentId != "") {
                        this.changeFolder(this.currentFolder.parentId, "back");
                    } else {
                        this.$Message.warning("This is the root folder.");
                    }
                },
                changeFolder(folderId, type) {
                    axios
                        .get(
                            "/GeoProblemSolving/folder/inquiry" +
                            "?folderId=" +
                            folderId
                        )
                        .then(res => {
                            if (res.data == "Offline") {
                                confirm("You are offline, please login again.");
                            } else if (res.data != "Fail") {
                                var folderInfo = res.data;
                                this.currentFolder = res.data;
                                if (type == "enter") {
                                    this.folderNameStack.push(folderInfo.folderName);
                                } else if (type == "back") {
                                    this.folderNameStack.pop();
                                }
                            } else {
                                this.$Message.warning("Get folder info fail.");
                            }
                        })
                        .catch(err => {
                            this.$Message.warning("Get folder info fail.");
                        });
                },
                getFileInfo(file) {
                    this.selectedFileData = [
                        {
                            key: "File name",
                            value: file.name
                        },
                        {
                            key: "Description",
                            value: file.description
                        },
                        {
                            key: "Type",
                            value: file.type
                        },
                        {
                            key: "File size",
                            value: file.fileSize
                        },
                        {
                            key: "Uploader",
                            value: file.uploaderName
                        },
                        {
                            key: "Upload Time",
                            value: file.uploadTime
                        }
                    ];
                    this.fileInfoModal = true;
                },
                addFolderModalShow() {
                    this.newValidate.setName = "";
                    this.newFolderModal = true;
                },
                addFolder(name) {
                    this.$refs[name].validate(valid => {
                        if (valid) {
                            var parentId = this.currentFolder.folderId;
                            var newFolderName = this.newValidate.setName;
                            axios
                                .post(
                                    "/GeoProblemSolving/folder/new" +
                                    "?folderName=" +
                                    newFolderName +
                                    "&parentId=" +
                                    parentId +
                                    "&scopeId=" +
                                    this.rootFolderId
                                )
                                .then(res => {
                                    if (res.data == "Offline") {
                                        confirm("You are offline, please login again.");
                                    } else if (res.data != "Fail") {
                                        this.currentFolder.folders.push(res.data);
                                        this.newFolderModal = false;
                                    } else {
                                        this.$Message.warning("New folder fail.");
                                    }
                                })
                                .catch(err => {
                                    this.$Message.warning("New folder fail.");
                                });
                        }
                    });
                },
                deleteFolder(folder) {
                    if (confirm("Are you sure to delete this folder?")) {
                        var folderId = folder.uid;
                        var parentId = this.currentFolder.folderId;
                        axios
                            .get(
                                "/GeoProblemSolving/folder/removeFolder" +
                                "?folderId=" +
                                folderId +
                                "&parentId=" +
                                parentId
                            )
                            .then(res => {
                                if (res.data == "Offline") {
                                    confirm("You are offline, please login again.");
                                } else if (res.data != "Fail") {
                                    for (var i = 0; i < this.currentFolder.folders.length; i++) {
                                        if (this.currentFolder.folders[i].uid == folderId) {
                                            this.currentFolder.folders.splice(i, 1);
                                            break;
                                        }
                                    }
                                } else {
                                    this.$Message.warning("Delete folder fail.");
                                }
                            })
                            .catch(err => {
                                this.$Message.warning("Delete folder fail.");
                            });
                    }
                },
                renameFolderModalShow(folder) {
                    this.renameForeInfo = folder;
                    this.renameValidate.newName = "";
                    this.renameFolderModal = true;
                },
                renameFolder(name) {
                    this.$refs[name].validate(valid => {
                        if (valid) {
                            var parentId = this.currentFolder.folderId;
                            var folderId = this.renameForeInfo.uid;
                            var newName = this.renameValidate.newName;
                            axios
                                .get(
                                    "/GeoProblemSolving/folder/renameFolder" +
                                    "?newName=" +
                                    newName +
                                    "&folderId=" +
                                    folderId +
                                    "&parentId=" +
                                    parentId
                                )
                                .then(res => {
                                    if (res.data == "Offline") {
                                        confirm("You are offline, please login again.");
                                    } else if (res.data != "Fail") {
                                        var newNameFolder = {
                                            uid: folderId,
                                            name: newName
                                        }
                                        for (var i = 0; i < this.currentFolder.folders.length; i++) {
                                            if (this.currentFolder.folders[i].uid == folderId) {
                                                this.currentFolder.folders.splice(i, 1, newNameFolder);
                                                break;
                                            }
                                        }
                                    } else {
                                        this.$Message.warning("Rename fail.");
                                    }
                                })
                                .catch(err => {
                                    this.$Message.warning("Rename fail.");
                                });
                            this.renameFolderModal = false;
                        }
                    });
                },
                uploadModalShow() {
                    this.uploadValidate = {
                        privacy: "private",
                        type: "data",
                        description: ""
                    };
                    this.toUploadFiles = [];
                    this.uploadModal = true;
                },
                gatherFile(file) {
                    let that = this;
                    if (that.toUploadFiles.length >= 5) {
                        if (this.fileCountTimer != null) {
                            clearTimeout(this.fileCountTimer);
                        }
                        this.fileCountTimer = setTimeout(() => {
                            this.$Message.info("最多只能上传5个文件");
                        }, 500);
                    } else {
                        var fileSize = file.size;
                        if (fileSize < 1024) {
                            file.fileSize = fileSize + "b";
                        } else if (fileSize < 1024 * 1024) {
                            file.fileSize = Math.round((fileSize / 1024) * 100) / 100 + "Kb";
                        } else {
                            file.fileSize =
                                Math.round((fileSize / (1024 * 1024)) * 100) / 100 + "Mb";
                        }
                        that.toUploadFiles.push(file);
                    }
                    return false;
                },
                delFileList(index) {
                    this.toUploadFiles.splice(index, 1);
                },
                folderUpload(name) {
                    this.$refs[name].validate(valid => {
                        if (valid) {
                            var uploadFiles = this.toUploadFiles;
                            if (uploadFiles.length > 0) {
                                this.uploadModal = false;
                                var formData = new FormData();
                                for (var i = 0; i < uploadFiles.length; i++) {
                                    formData.append("file", uploadFiles[i]);
                                }
                                formData.append("description", this.uploadValidate.description);
                                formData.append("type", this.uploadValidate.type);
                                formData.append("uploaderId", this.userInfo.userId);
                                formData.append("privacy", this.uploadValidate.privacy);
                                formData.append("folderId", this.currentFolder.folderId);
                                this.progressModalShow = true;
                                axios({
                                    url: "/GeoProblemSolving/folder/uploadToFolder",
                                    method: "post",
                                    onUploadProgress: progressEvent => {
                                        this.uploadProgress =
                                            ((progressEvent.loaded / progressEvent.total) * 100) | 0;
                                    },
                                    data: formData
                                })
                                    .then(res => {
                                        if (res.data != "Fail") {
                                            var uploadedList = res.data.uploaded;
                                            var failedList = res.data.failed;
                                            var sizeOverList = res.data.sizeOver;
                                            for (var i = 0; i < uploadedList.length; i++) {
                                                this.currentFolder.files.push(uploadedList[i]);
                                            }
                                            if (sizeOverList.length > 0) {
                                                this.$Notice.warning({
                                                    title: 'Files too large.',
                                                    render: h => {
                                                        return h('span', sizeOverList.join(';'))
                                                    }
                                                });
                                            }
                                            if (failedList.length > 0) {
                                                this.$Notice.error({
                                                    title: 'Upload fail.',
                                                    render: h => {
                                                        return h('span', failedList.join(';'))
                                                    }
                                                });
                                            }
                                        } else {
                                            this.$Message.warning("Upload fail.");
                                        }
                                        this.progressModalShow = false;
                                        this.uploadProgress = 0;
                                    })
                                    .catch(err => {
                                        this.progressModalShow = false;
                                        this.$Message.warning("Upload fail.");
                                        this.uploadProgress = 0;
                                    });
                            } else {
                                this.$Message.warning("Upload file is null.");
                            }
                        }
                    });
                },
                filePreview(fileInfo) {
                    this.$Message.info('under construction...');
                },
                fileDelete(fileInfo) {
                    if (confirm("Are you sure to delete this file?")) {
                        var folderId = this.currentFolder.folderId;
                        var fileId = fileInfo.resourceId;
                        axios
                            .get(
                                "/GeoProblemSolving/folder/removeFile" +
                                "?folderId=" +
                                folderId +
                                "&fileId=" +
                                fileId
                            )
                            .then(res => {
                                if (res.data == "Offline") {
                                    confirm("You are offline, please login again.");
                                } else if (res.data != "Fail") {
                                    for (var i = 0; i < this.currentFolder.files.length; i++) {
                                        if (this.currentFolder.files[i].resourceId == fileId) {
                                            this.currentFolder.files.splice(i, 1);
                                            break;
                                        }
                                    }
                                } else {
                                    this.$Message.warning("Delete file fail.");
                                }
                            })
                            .catch(err => {
                                this.$Message.warning("Delete file fail.");
                            });
                    }
                },
                download(blobUrl) {
                    const a = document.createElement("a");
                    a.style.display = "none";
                    a.download = "package.zip";
                    a.href = blobUrl;
                    a.click();
                    a.remove();
                },
                handleCheckAll() {
                    if (this.indeterminate) {
                        this.checkAll = false;
                    } else {
                        this.checkAll = !this.checkAll;
                    }
                    this.indeterminate = false;
                    if (this.checkAll) {
                        this.currentFolder.files.forEach(item => {
                            this.chooseFilesArray.push(item["pathURL"]);
                        });
                    } else {
                        this.chooseFilesArray = [];
                    }
                },
                checkAllGroupChange(data) {
                    if (data.length == this.currentFolder.files.length) {
                        this.indeterminate = false;
                        this.checkAll = true;
                    } else if (data.length > 0) {
                        this.indeterminate = true;
                        this.checkAll = false;
                    } else {
                        this.indeterminate = false;
                        this.checkAll = false;
                    }
                },
                downloadSelectFile() {
                    let choosefileUrls = this.chooseFilesArray.toString();
                    if (choosefileUrls != "") {
                    this.$Spin.show();
                        axios({
                            method: "post",
                            url:
                                "/GeoProblemSolving/resource/packageZIP?fileURLs=" + choosefileUrls,
                            responseType: "blob"
                        })
                            .then(res => {
                                if (res.status == 200) {
                                    this.$Spin.hide();
                                    const blobUrl = window.URL.createObjectURL(res.data);
                                    if (blobUrl != "") {
                                        this.download(blobUrl);
                                    }
                                }
                            })
                            .catch(err => { });
                    } else {
                        alert("you don't choose any file!");
                    }
                },
                shareModalShow() {
                    axios
                        .get(
                            "/GeoProblemSolving/resource/inquiry" +
                            "?key=uploaderId" +
                            "&value=" +
                            this.userInfo.userId
                        )
                        .then(res => {
                            if (res.data == "Offline") {
                                confirm("You are offline, please login again.");
                            } else if (res.data != "None" && res.data != "Fail") {
                                this.userResourceList = res.data;
                                this.shareModal = true;
                            } else if (res.data == "None") {
                                this.userResourceList = [];
                            }
                        })
                        .catch(err => {
                            console.log(err.data);
                        });
                },
                closeshareModel() {
                    this.shareModal = false;
                },
                shareFile() {
                    var addFileList = this.selectedFilesToShare;
                    var addFileListStr = addFileList.toString();
                    axios
                        .get(
                            "/GeoProblemSolving/folder/shareToFolder" +
                            "?addFileList=" +
                            addFileListStr +
                            "&folderId=" +
                            this.currentFolder.folderId
                        )
                        .then(res => {
                            this.shareModal = false;
                            if (res.data == "Offline") {
                                confirm("You are offline, please login again.");
                            } else if (res.data != "Fail") {
                                var addFileInfoList = this.userResourceList.filter(file => {
                                    for (var i = 0; i < addFileList.length; i++) {
                                        if (file.resourceId == addFileList[i]) {
                                            return true;
                                        }
                                    }
                                    return false;
                                });
                                var foreFiles = Object.assign([], this.currentFolder.files);
                                this.currentFolder.files = foreFiles.concat(addFileInfoList);
                                this.selectedFilesToShare = [];
                                this.shareModal = false;
                            } else {
                                console.log(res.data);
                            }
                        })
                        .catch(err => {
                            console.log(err.data);
                        });
                },
                fileDownload(fileInfo) {
                    window.open(fileInfo.pathURL);
                },
                fileEditModelShow(fileInfo) {
                    this.renameForeInfo = fileInfo;
                    this.editFileValidate.name = fileInfo.name;
                    this.editFileValidate.type = fileInfo.type;
                    this.editFileValidate.description = fileInfo.description;
                    this.editFileModel = true;
                },
                editFileInfo(name) {
                    this.$refs[name].validate(valid => {
                        if (valid) {
                        var folderId = this.currentFolder.folderId;
                        var fileId = this.renameForeInfo.resourceId;
                        axios
                            .get(
                            "/GeoProblemSolving/folder/editFile" +
                                "?fileId=" +
                                fileId +
                                "&folderId=" +
                                folderId +
                                "&name=" +
                                this.editFileValidate.name+
                                "&type=" +
                                this.editFileValidate.type+
                                "&description=" +
                                this.editFileValidate.description
                            )
                            .then(res => {
                                this.editFileModel = false;
                            if (res.data == "Offline") {
                                confirm("You are offline, please login again.");
                            } else if (res.data != "Fail") {
                                var newFileInfo = Object.assign({}, this.renameForeInfo);
                                newFileInfo.name = this.editFileValidate.name;
                                newFileInfo.type = this.editFileValidate.type;
                                newFileInfo.description = this.editFileValidate.description;
                                for (var i = 0; i < this.currentFolder.files.length; i++) {
                                    if (this.currentFolder.files[i].resourceId == fileId) {
                                        this.currentFolder.files.splice(i, 1, newFileInfo);
                                        break;
                                    }
                                }
                            } else {
                                this.$Message.warning("Rename fail.");
                            }
                            })
                            .catch(err => {
                            this.$Message.warning("Rename fail.");
                            });
                        this.renameFolderModal = false;
                        }
                    });
                },
                canBeShare(fileId) {
                    var result = true;
                    for (var i = 0; i < this.currentFolder.files.length; i++) {
                        if (this.currentFolder.files[i].resourceId == fileId) {
                            result = false;
                        }
                    }
                    return result;
                },
                showCopyFileModel(file){
                    this.copyFileModal = true;
                    this.copyFilePrivacy = "private";
                    this.selectedFile = file;
                },
                copyFileToCenter(){
                    this.$Spin.show();
                    axios
                    .get(
                        "/GeoProblemSolving/folder/copyToCenter"+
                        "?resourceId="+this.selectedFile.resourceId+
                        "&userId="+this.userInfo.userId+
                        "&privacy="+this.copyFilePrivacy+
                        "&type="+this.selectedFile.type+
                        "&name="+this.selectedFile.name+
                        "&description="+this.selectedFile.description
                    )
                    .then(res=>{
                        this.$Spin.hide();
                        this.copyFileModal = false;
                        if(res.data=="Success"){
                            this.$Message.success("Copy file success.");
                        }else{
                            this.$Message.warning(res.data);
                        }
                    })
                    .catch(err=>{
                        this.$Message.error("Copy file fail.");
                    });
                }
            }
        });
    </script>
</body>

</html>