<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/iview/2.14.0/iview.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-1/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-avatar@2.1.7/dist/vue-avatar.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <style scoped th:fragment="commonHeader-css">
        #logo {
            position: absolute;
            width: 129px;
            height: 40px;
            z-index: 1;
            margin-top: 5px;
            margin-left: 2.5%;
            cursor: pointer;
        }

        .header span {
            font-size: 15px;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        header {
            height: 60px;
            top: 0;
            z-index: 100;
            position: absolute;
            width: 100%;
            flex: 0 0 auto;
            position: absolute;
            min-width: 1200px;
        }

        .content {
            flex: 1 0 auto;
            margin-top: 60px;
        }

        footer {
            background-color: #515a6e;
            height: 60px;
            width: 100%;
            bottom: 0;
            flex: 0 0 auto;
            /*position:absolute;*/
        }

        .userState {
            position: absolute;
            width: 15%;
            top: 0px;
            z-index: 1;
            display: inline-block;
            min-width: fit-content;
        }

        .navPart {
            width: 85%;
            display: inline-block;
        }

        .menuItem a {
            font-size: 1.2em;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
        }

        .userImg {
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }

        .footerTop {
            text-align: center;
            color: white;
            font-weight: bold;
            margin-top: 10px;
        }

        .footerBottom {
            text-align: center;
            color: white;
            font-size: 0.8em;
        }
    </style>
    <template th:fragment="commonHeader-html" id="navigation">
        <div style="position: fixed;z-index: 999;">
            <header style="position:inherit;min-width: -webkit-fill-available;">
                <img :src='window.location.origin+"/GeoProblemSolving/Images/OGMS.png"' id="logo" class="pic"
                     @click="goHome" style="cursor:pointer;margin-left:5%">
                <div v-if="useMenuCSS">
                    <div class="navPart">
                        <i-menu mode="horizontal" theme="dark" @on-select="turnContent"
                                :style="`z-index:0;background:headerBgColor`" width="auto" :active-name="activeType">
                            <menu-item name="home" class="menuItem" style="margin-left:35%">
                                <span>Home</span>
                            </menu-item>
                            <menu-item name="projects" class="menuItem">
                                <span>Projects</span>
                            </menu-item>
                            <menu-item name="resources" class="menuItem">
                                <span>Resources</span>
                            </menu-item>
                            <menu-item name="help" class="menuItem">
                                <span>Help</span>
                            </menu-item>
                        </i-menu>
                    </div>
                    <div class="userState">
                        <i-menu mode="horizontal" theme="dark" @on-select="unlogin"
                                :style="`z-index:0;background:`+headerBgColor"
                                v-show="!userInfoNav.userState||userInfoNav.userState==undefined"
                                class="menuItem">
                            <menu-item name="login">
                                <span>Login</span>
                            </menu-item>
                            <menu-item name="register">
                                <span>Sign up</span>
                            </menu-item>
                        </i-menu>

                        <i-menu mode="horizontal" theme="dark" @on-select="logged"
                                :style="`z-index:0;background:`+headerBgColor" v-show="userInfoNav.userState"
                                class="menuItem">
                            <menu-item name="notification">
                                <Badge :count="unreadNoticeCount" id="noticeBadge">
                                    <Icon type="ios-notifications-outline" size="25"></Icon>
                                </Badge>
                            </menu-item>
                            <menu-item name="personal" style="width:100px">
                                <dropdown @on-click="changeSelect" placement="bottom-start">
                                    <div @click="toPersonalPage">
                                        <img v-if="userInfoNav.avatar!=''&&userInfoNav.avatar!=undefined&&userInfoNav.avatar!=null"
                                             :title="userInfoNav.userName"
                                             style="width:40px;height:40px;vertical-align:middle;">
                                        <avatar :username="userInfoNav.userName" :size="40" style="margin-top:10px"
                                                :title="userInfoNav.userName" v-else></avatar>
                                    </div>
                                    <dropdown-menu slot="list">
                                        <dropdown-item name="logout">Log out</dropdown-item>
                                    </dropdown-menu>
                                </dropdown>
                            </menu-item>
                        </i-menu>
                    </div>
                </div>
                <div v-else>
                    <i-menu mode="horizontal" theme="dark" style="z-index: 0;"></i-menu>
                    <Dropdown style="position: fixed;top: 10px;right: 20px;">
                        <i-button icon="md-menu" style="color: white;background-color: #808695"></i-button>
                        <Dropdown-menu slot="list">
                            <Dropdown-item>
                                <a href="/GeoProblemSolving/home">Home</a>
                            </Dropdown-item>
                            <Dropdown-item>
                                <a href="/GeoProblemSolving/projectlist">Projects</a>
                            </Dropdown-item>
                            <Dropdown-item>
                                <a href="/GeoProblemSolving/publicResource">Resources</a>
                            </Dropdown-item>
                            <Dropdown-item>
                                <a href="/GeoProblemSolving/help">Help</a>
                            </Dropdown-item>
                            <Dropdown-item v-show="!userInfoNav.userState||userInfoNav.userState==undefined">
                                <a href="/GeoProblemSolving/login">Login</a>
                            </Dropdown-item>
                            <Dropdown-item v-show="!userInfoNav.userState||userInfoNav.userState==undefined">
                                <a href="/GeoProblemSolving/register">Sign up</a>
                            </Dropdown-item>
                            <Dropdown-item v-show="userInfoNav.userState">
                                <a href="/GeoProblemSolving/notifications">Notification</a>
                            </Dropdown-item>
                            <Dropdown-item v-show="userInfoNav.userState">
                                <a @click="toPersonalPage">Personal Page</a>
                            </Dropdown-item>
                            <Dropdown-item v-show="userInfoNav.userState">
                                <a @click="logout">Log out</a>
                            </Dropdown-item>
                        </Dropdown-menu>
                    </Dropdown>
                </div>
            </header>
        </div>
    </template>

    <script th:fragment="commonHeader-js">
        Vue.component('child-navigation', {
                template: '#navigation',
                props: ["activeType"],
                components: {
                    'avatar': VueAvatar.Avatar
                },
                created() {
                    var userInfo = {
                        userState: false,
                        userName: 'visitor',
                        userId: '',
                        avatar: ''
                    };
                    sessionStorage.setItem('userInfo', JSON.stringify(userInfo));
                    var that = this;
                    $.ajax({
                        url: "/GeoProblemSolving/user/state",
                        type: "GET",
                        async: false,
                        success: function (data) {
                            if (data) {
                                data.userState = true;
                                that.userInfoNav = data;
                                sessionStorage.setItem('userInfo', JSON.stringify(data));
                                that.setTimer();
                                that.initWebSocket();
                                that.getUnreadNoticeCount();
                            } else {
                                console.log("Not logged in");
                            }
                        },
                        error: function (err) {
                            console.log("Get user info fail.");
                        }
                    });
                },
                updated() {
                    $("#noticeBadge sup").css("margin", "15px 5px 0 0");
                },
                computed: {
                    headerBgColor() {
                        return "";
                    }
                },
                data() {
                    return {
                        //消息机制
                        noticeSocket: null,
                        unreadNoticeCount: 0,
                        timer: null,
                        //导航栏宽度
                        headerWidth: "",
                        //用户
                        userInfoNav: {
                            userName: ""
                        },
                        useMenuCSS: true
                    }
                },
                methods: {
                    identityMenuCSS() {
                        if (window.innerWidth < 1100) {
                            this.useMenuCSS = false;
                        } else {
                            this.useMenuCSS = true;
                        }
                    },
                    turnContent(name) {
                        if (name === "home") {
                            window.location.href = "/GeoProblemSolving/home"
                        } else if (name == "projects") {
                            window.location.href = "/GeoProblemSolving/projectList"
                        } else if (name == "resources") {
                            window.location.href = "/GeoProblemSolving/publicResource"
                        } else if (name == "community") {
                            window.location.href = "/GeoProblemSolving/community"
                        } else if (name == "help") {
                            window.location.href = "/GeoProblemSolving/help"
                        }
                    },
                    goHome() {
                        window.location.href = "/GeoProblemSolving/home"
                    },
                    unlogin(name) {
                        if (name === "login") {
                            window.location.href = "/GeoProblemSolving/login"
                        } else if (name == "register") {
                            window.location.href = "/GeoProblemSolving/register"
                        }
                    },
                    logged(name) {
                        if (name === "notification") {
                            window.location.href = "/GeoProblemSolving/notifications"
                        } else if (name === "personal") {
                        }
                    },
                    toPersonalPage() {
                        window.location.href = "/GeoProblemSolving/personalPage"
                    },
                    // 获取到通知的数量
                    getUnreadNoticeCount() {
                        this.unreadNoticeCount = 0;
                        //get请求发送的是用户id
                        axios
                            .get(
                                "/GeoProblemSolving/notice/inquiry" +
                                "?key=recipientId" +
                                "&value=" +
                                this.userInfoNav.userId
                            )
                            .then(res => {
                                let noticeList = res.data;
                                let unreadCount = 0;
                                for (let i = 0; i < noticeList.length; i++) {
                                    if (noticeList[i].state === "unread") {
                                        unreadCount++;
                                        continue;
                                    }
                                }
                                ;
                                this.unreadNoticeCount = Object.assign([], unreadCount);
                            })
                            .catch(err => {
                                console.log("失败的原因是" + err.data);
                            });
                    },
                    initWebSocket() {
                        if (this.noticeSocket != null) {
                            this.noticeSocket = null;
                        }
                        var noticeSocketURL = "ws://" + window.location.host + "/GeoProblemSolving/NoticeSocket";
                        this.noticeSocket = new WebSocket(noticeSocketURL);
                        this.noticeSocket.onopen = this.onOpen;
                        this.noticeSocket.onmessage = this.onMessage;
                        this.noticeSocket.onclose = this.onClose;
                        this.noticeSocket.onerror = this.onError;
                    },
                    onOpen() {
                        // console.log("NoticeSocket连接成功！");
                    },
                    onMessage(e) {
                        if (e.data == "Notice") {
                            let newCount = this.unreadNoticeCount + 1;
                            this.$set(this, "unreadNoticeCount", newCount);
                            this.$Message.info("You have a new notice!");
                        } else {
                            console.log(e.data);
                        }
                    },
                    onClose(e) {
                        this.removeTimer();
                        // console.log("NoticeSocket连接断开！");
                    },
                    onError(e) {
                        this.removeTimer();
                        // console.log("NoticeSocket连接错误！");
                    },
                    sendMessage(recipientId) {
                        this.noticeSocket.send(recipientId);
                    },
                    setTimer() {
                        var that = this;
                        this.timer = setInterval(() => {
                            if (that.noticeSocket != null && that.noticeSocket != undefined) {
                                that.noticeSocket.send("ping");
                            }
                        }, 20000);
                    },
                    removeTimer() {
                        clearInterval(this.timer);
                    },
                    readNotification() {
                        let newCount = this.unreadNoticeCount;
                        if (newCount > 0) {
                            this.unreadNoticeCount = newCount - 1;
                        }
                    },
                    changeSelect(name) {
                        if (name == "logout") {
                            this.logout("home");
                        }
                    },
                    logout(page) {
                        axios
                            .get("/GeoProblemSolving/user/logout")
                            .then(res => {
                                this.userInfoNav = {userName: ""};
                                sessionStorage.removeItem("userInfo");
                                this.noticeSocket.close();
                                window.location.href = "/GeoProblemSolving/" + page;
                            })
                            .catch(err => {
                                confirm("logout fail!");
                            });
                    }
                }
            },
        )
    </script>
</head>

<body>
<div th:fragment="commonFooter">
    <footer>
        <h2 class="footerTop">
            <i>Open Geographic Modeling and Simulation</i>
        </h2>
        <p class="footerBottom">Copyright © 2013-2019 OpenGMS. All rights reserved.</p>
    </footer>
</div>
</body>

</html>