<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style scoped th:fragment="commonHeader-css">
        #logo {
            position: absolute;
            width: 129px;
            height: 40px;
            z-index: 1;
            margin-top: 5px;
            margin-left: 2.5%;
            cursor: pointer;
        }

        .header span {
            font-size: 15px;
            font-weight: bold;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        header {
            height: 60px;
            top: 0;
            z-index: 100;
            position: absolute;
            width: 100%;
            flex: 0 0 auto;
            position: absolute;
            min-width: 1200px;
        }

        .content {
            flex: 1 0 auto;
            margin-top: 60px;
        }

        footer {
            background-color: #515a6e;
            height: 60px;
            width: 100%;
            bottom: 0;
            flex: 0 0 auto;
            /*position:absolute;*/
        }

        .userState {
            position: absolute;
            width: 15%;
            top: 0px;
            z-index: 1;
            display: inline-block;
            min-width: fit-content;
        }

        .navPart {
            width: 85%;
            display: inline-block;
        }

        .menuItem {
            font-size: 15px;
            font-weight: bold;
        }

        .menuItem a {
            font-size: 1.2em;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
        }

        .userImg {
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }

        .footerTop {
            text-align: center;
            color: white;
            font-weight: bold;
        }

        .footerBottom {
            text-align: center;
            color: white;
            font-size: 0.8em;
        }

        .menuItemCell{
        font-weight: 900;
        }

        .menuItemCell:hover {
        background-color: #808695;
        color: white;
        }
    </style>
    <template th:fragment="commonHeader-html" id="navigation">
        <div style="position: fixed;z-index: 99;">
            <header style="position:inherit;min-width: -webkit-fill-available;">
                <img :src='window.location.origin+"/GeoProblemSolving/Images/OGMS.png"' id="logo" class="pic" @click="goHome" style="cursor:pointer;margin-left:5%">
                <div v-if="useMenuCSS">
                    <div class="navPart">
                        <i-menu class="header" mode="horizontal" theme="dark" :style="`z-index:0;background:headerBgColor`" width="auto"
                            :active-name="activeType">
                            <menu-item name="home" class="menuItem" style="margin-left:35%" to="/GeoProblemSolving/home">
                                <span>Home</span>
                            </menu-item>
                            <menu-item name="projects" class="menuItem" to="/GeoProblemSolving/projectList">
                                <span>Projects</span>
                            </menu-item>
                            <menu-item name="resources" class="menuItem" to="/GeoProblemSolving/publicResource">
                                <span>Resources</span>
                            </menu-item>
                            <menu-item name="toolsCenter" class="menuItem" to="/GeoProblemSolving/toolsCenter">
                                <span>Tools</span>
                            </menu-item>
                            <menu-item name="help" class="menuItem" to="/GeoProblemSolving/help">
                                <span>Help</span>
                            </menu-item>
                        </i-menu>
                    </div>
                    <div class="userState">
                        <i-menu mode="horizontal" theme="dark" :style="`z-index:0;background:`+headerBgColor" v-show="!userInfoNav.userState||userInfoNav.userState==undefined"
                            class="menuItem">
                            <menu-item name="login" to="/GeoProblemSolving/login" >
                                <span style="font-size: 18px; font-weight: bold">Login</span>
                            </menu-item>
                            <menu-item name="register" to="/GeoProblemSolving/register">
                                <span>Sign up</span>
                            </menu-item>
                        </i-menu>

                        <i-menu mode="horizontal" theme="dark" :style="`z-index:0;background:`+headerBgColor" v-show="userInfoNav.userState"
                            class="menuItem">
                            <menu-item name="notification" to="/GeoProblemSolving/notifications">
                                <Badge :count="unreadNoticeCount" id="noticeBadge">
                                    <Icon type="ios-notifications-outline" size="25"></Icon>
                                </Badge>
                            </menu-item>
                            <menu-item name="personal" style="width:100px">
                                <dropdown @on-click="changeSelect" placement="bottom-start">
                                    <a href="/GeoProblemSolving/personalPage">
                                        <img v-if="userInfoNav.avatar!=''&&userInfoNav.avatar!=undefined&&userInfoNav.avatar!=null" :title="userInfoNav.name"
                                             :src="userInfoNav.avatar" style="width:40px;height:40px;vertical-align:middle;">
                                        <avatar :username="userInfoNav.name" :size="40" style="margin-top:10px" :title="userInfoNav.name" v-else></avatar>
                                    </a>
                                    <dropdown-menu slot="list">
                                        <dropdown-item name="logout">Log out</dropdown-item>
                                    </dropdown-menu>
                                </dropdown>
                            </menu-item>
                        </i-menu>
                    </div>
                </div>
                <div v-else>
                    <i-menu mode="horizontal" theme="dark" style="z-index: 0;"></i-menu>
                    <Dropdown style="position: fixed;top: 10px;right: 20px;">
                        <i-button icon="md-menu" style="color: white;background-color: #808695"></i-button>
                        <Dropdown-menu slot="list">
                          <Cell-group style="width:200px">
                            <Cell @click.native="turnToURL('/GeoProblemSolving/home')" class="menuItemCell">Home</Cell>
                            <Cell @click.native="turnToURL('/GeoProblemSolving/projectList')" class="menuItemCell">Projects</Cell>
                            <Cell @click.native="turnToURL('/GeoProblemSolving/publicResource')" class="menuItemCell">Resources</Cell>
                            <Cell @click.native="turnToURL('/GeoProblemSolving/toolsCenter')" class="menuItemCell">Tools</Cell>
                            <Cell @click.native="turnToURL('/GeoProblemSolving/help')" class="menuItemCell">Help</Cell>
                            <Divider style="margin: 5px 0"></Divider>
                            <Cell v-show="!userInfoNav.userState" @click.native="turnToURL('/GeoProblemSolving/login')" class="menuItemCell">Login</Cell>
                            <Cell v-show="!userInfoNav.userState" @click.native="turnToURL('/GeoProblemSolving/register')" class="menuItemCell">Sign up</Cell>
                            <Cell  v-show="userInfoNav.userState" @click.native="turnToURL('/GeoProblemSolving/notifications')" class="menuItemCell">Notification</Cell>
                            <Cell  v-show="userInfoNav.userState" @click.native="toPersonalPage" class="menuItemCell">Personal Page</Cell>
                            <Cell  v-show="userInfoNav.userState" @click.native="logout" class="menuItemCell">Log out</Cell>
                          </Cell-group>
                        </Dropdown-menu>
                    </Dropdown>
                </div>
            </header>
        </div>
    </template>

    <script th:fragment="commonHeader-js">
        Vue.component('child-navigation', {
            template: '#navigation',
            props: ["activeType", "userInfo"],
            components: {
                'avatar': VueAvatar.Avatar
            },
            watch:{
                userInfo(val){
                    this.identifyUser();
                }
            },
            created() {
                this.identifyUser();
            },
            mounted(){
                this.identityMenuCSS();
            },
            updated() {
                $("#noticeBadge sup").css("margin", "15px 5px 0 0");
            },
            computed: {
                headerBgColor() {
                    return "";
                }
            },
            data() {
                return {
                    //消息机制
                    noticeSocket: null,
                    unreadNoticeCount: 0,
                    timer: null,
                    //导航栏宽度
                    headerWidth: "",
                    //用户
                    userInfoNav: {
                        name: ""
                    },
                    useMenuCSS: true
                }
            },
            methods: {
                turnToURL(url){
                    window.location.href = url;
                },
                identifyUser(){
                    if(this.userInfo.userState){
                        this.userInfoNav = this.userInfo;
                        this.setTimer();
                        this.initWebSocket();
                        this.getUnreadNoticeCount();
                    }
                },
                identityMenuCSS() {
                    if (window.innerWidth < 1100) {
                        this.useMenuCSS = false;
                    } else {
                        this.useMenuCSS = true;
                    }
                },
                goHome() {
                    window.location.href = "/GeoProblemSolving/home"
                },
                toPersonalPage() {
                    window.location.href = "/GeoProblemSolving/personalPage"
                },
                // 获取到通知的数量
                getUnreadNoticeCount() {
                    this.unreadNoticeCount = 0;
                    //get请求发送的是用户id
                    axios
                        .get(
                            "/GeoProblemSolving/notice/inquiry" +
                            "?key=recipientId" +
                            "&value=" +
                            this.userInfoNav.userId
                        )
                        .then(res => {
                            let noticeList = res.data;
                            let unreadCount = 0;
                            for (let i = 0; i < noticeList.length; i++) {
                                if (noticeList[i].state === "unread") {
                                    unreadCount++;
                                    continue;
                                }
                            }
                            this.unreadNoticeCount = unreadCount;
                        })
                        .catch(err => {
                            console.log("失败的原因是" + err.data);
                        });
                },
                initWebSocket() {
                    if (this.noticeSocket != null) {
                        this.noticeSocket = null;
                    }
                    var noticeSocketURL = "ws://" + window.location.host + "/GeoProblemSolving/NoticeSocket";
                    if(window.location.port=="8083"){
                        noticeSocketURL = "wss://"+ window.location.hostname+":8083/GeoProblemSolving/NoticeSocket";
                    }
                    if(window.location.host == "localhost:8080"){
                        noticeSocketURL = "ws://localhost:8081/GeoProblemSolving/NoticeSocket";
                    }
                    this.noticeSocket = new WebSocket(noticeSocketURL);
                    this.noticeSocket.onopen = this.onOpen;
                    this.noticeSocket.onmessage = this.onMessage;
                    this.noticeSocket.onclose = this.onClose;
                    this.noticeSocket.onerror = this.onError;
                },
                onOpen() {
                    // console.log("NoticeSocket连接成功！");
                },
                onMessage(e) {
                    if (e.data == "Notice") {
                        let newCount = this.unreadNoticeCount + 1;
                        this.$set(this, "unreadNoticeCount", newCount);
                        this.$Message.info("You have a new notice!");
                    } else {
                        console.log(e.data);
                    }
                },
                onClose(e) {
                    this.removeTimer();
                    // console.log("NoticeSocket连接断开！");
                },
                onError(e) {
                    this.removeTimer();
                    // console.log("NoticeSocket连接错误！");
                },
                sendMessage(recipientId) {
                    this.noticeSocket.send(recipientId);
                },
                setTimer() {
                    var that = this;
                    this.timer = setInterval(() => {
                        if (that.noticeSocket != null && that.noticeSocket != undefined) {
                            that.noticeSocket.send("ping");
                        }
                    }, 20000);
                },
                removeTimer() {
                    clearInterval(this.timer);
                },
                readNotification() {
                    let newCount = this.unreadNoticeCount;
                    if (newCount > 0) {
                        this.unreadNoticeCount = newCount - 1;
                    }
                },
                changeSelect(name) {
                    if (name == "logout") {
                        this.logout("home");
                    }
                },
                logout(page) {
                    axios
                        .get("/GeoProblemSolving/user/logout")
                        .then(res => {
                            this.userInfoNav = { name: "" };
                            sessionStorage.removeItem("userInfo");
                            this.noticeSocket.close();
                            window.location.href = "/GeoProblemSolving/" + page;
                        })
                        .catch(err => {
                            confirm("logout fail!");
                        });
                }
            }
        },
        )
    </script>
</head>

<body>
    <div th:fragment="commonFooter">
        <footer>
            <h2 class="footerTop">
                <i>Open Geographic Modeling and Simulation</i>
            </h2>
            <p class="footerBottom">Copyright © 2013-2021 OpenGMS. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>