<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Geo-ProblemSolving</title>
    <meta http-equiv="Content-Type" content=" charset=UTF-8" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/iview/3.4.2/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/iview/3.4.2/iview.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-avatar@2.1.7/dist/vue-avatar.min.js"></script>
    <style>
        .detailSidebar {
            margin-right: 20px;
        }

        .rightContent {
            margin-top: 20px;
            flex: 1;
        }

        /* 用户头像 */

        .user-img {
            margin-top: 20px;
            width: 100%;
            max-height: 100%;
            text-align: center;
        }

        /* 注册时上传头像的用户的头像样式 */

        .u_img {
            max-width: 100%;
            padding: 10px;
        }

        /* 注册时未上传头像的用户头像显示样式 */

        .avatarStyle {
            margin: 0 auto;
        }

        /* 用户头像结束 */

        body {
            overflow-x: hidden;
        }

        /* 侧边用户信息的显示样式 */

        .single-info {
            padding: 5px;
            height: 30px;
            font-size: 12px;
            line-height: 15px;
        }

        /* 表示空格间距的 */

        .whitespace {
            height: 20px;
        }

        /* 关于提交用户更改头像信息的样式 */

        .demo-upload-list {
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border: 1px solid transparent;
            border-radius: 4px;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            margin-right: 4px;
        }

        .avatarImage {
            width: 100%;
            height: 100%;
        }

        .demo-upload-list-cover {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
        }

        .demo-upload-list:hover .demo-upload-list-cover {
            display: block;
        }

        .demo-upload-list-cover i {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            margin: 0 2px;
        }

        .uploadAvatar {
            position: relative;
            width: 58px;
            height: 58px;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
            opacity: 0;
        }

        .uploadBox {
            display: inline-block;
            width: 58px;
            height: 58px;
            line-height: 58px;
            overflow: hidden;
            border-width: 0.75px;
            border-style: dashed;
            border-color: lightslategray;
        }

        /* 2-25 add 实现的效果是旋浮上去出现下划线且变红 */

        .projectsTitle:hover {
            /* color: red; */
            cursor: pointer;
        }

        /* 新定义的样式 */

        .authorBtn:hover {
            background-color: #57a3f3;
            color: white;
        }

        .deleteBtn:hover {
            background-color: #ed4014;
            color: white;
        }

        .table table {
            table-layout: auto;
            width: 100% !important;
        }

        .participatoryProjectCard:hover {
            cursor: pointer;
        }

        .manageProjectsCard:hover {
            cursor: pointer;
        }

        /* 时间轴样式 */

        .timeLineStyle {
            margin-left: 5%;
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
    <style>
        .parent .ivu-tabs-nav-container {
            font-size: 15px !important;
            font-weight: bold;
        }
        [v-cloak]{
            display: none;
        }
    </style>
    <script th:replace="navigation::commonHeader-css"></script>
    <script th:replace="navigation::commonHeader-html"></script>
    <script th:replace="navigation::commonHeader-js"></script>
</head>

<body>
    <div id="vueBody" v-cloak>
        <child-navigation ref="navigationEl"></child-navigation>
        <div>
            <Row>
                <i-col span="22" offset="1">
                    <Row>
                        <i-col :lg="5" :md="8" :sm="10" :xs="12">
                            <div class="detailSidebar" :style="{height:detailSidebarHeight}">
                                <div class="user-img">
                                    <img v-bind:src="userDetail.avatar" class="u_img" v-if="userDetail.avatar!=''&&userDetail.avatar!='undefined'
                  &&userDetail.avatar!='null'">
                                    <avatar style="width:200px" class="avatarStyle" :username="userDetail.userName" :size="200" :rounded="false" v-else></avatar>
                                </div>
                                <div class="single-info" :title="`Name: `+ userDetail.userName">
                                    <Icon type="ios-contact-outline" :size="20"></Icon>
                                    <span>{{userDetail.userName}}</span>
                                </div>
                                <div class="single-info" :title="`Email:  ` + userDetail.email">
                                    <Icon type="ios-mail-outline" :size="20"></Icon>
                                    <span>{{userDetail.email}}</span>
                                </div>
                                <div class="single-info" v-show="userDetail.mobilePhone!=''">
                                    <Icon type="ios-call-outline" :size="20"></Icon>
                                    <span>{{userDetail.mobilePhone}}</span>
                                </div>
                                <div class="single-info" :title="`Job Title:  `+userDetail.jobTitle">
                                    <Icon type="ios-hammer-outline" :size="20"></Icon>
                                    <span>{{userDetail.jobTitle}}</span>
                                </div>
                                <div class="single-info" :title="`Position:  `+ userDetail.city + userDetail.country" v-show="userDetail.city!=''&&userDetail.country!=''">
                                    <Icon type="ios-compass-outline" :size="20"></Icon>
                                    <span>{{userDetail.city}}&nbsp{{userDetail.country}}</span>
                                </div>
                                <div class="single-info" :title="`Organization:  `+ userDetail.organization" v-show="userDetail.organization!=''" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis">
                                    <Icon type="ios-home-outline" :size="20"></Icon>
                                    <span> {{userDetail.organization}}</span>
                                </div>
                                <div class="single-info" :title="`Direction:  `+ userDetail.direction" v-show="userDetail.direction!=''" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis">
                                    <Icon type="ios-contract" :size="20"></Icon>
                                    <span> {{userDetail.direction}}</span>
                                </div>
                                <div class="single-info" :title="`Home Page:  `+ userDetail.homePage" v-show="userDetail.homePage!=''" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis">
                                    <Icon type="md-link" :size="20"></Icon>
                                    <span> {{userDetail.homePage}}</span>
                                </div>
                                <br>
                                <div style="padding:10px;font-size:12px;border:1px dotted lightgray" title="Introduction" v-show="userDetail.introduction!=''">{{userDetail.introduction}}</div>
                                <div class="whitespace"></div>
                                <div style="display:flex;justify-content:center">
                                    <i-button type="success" style="height:40px" @click="editModalShow()" title="Edit">
                                        <Icon type="md-create" :size="20"></Icon>
                                    </i-button>
                                    <Drawer title="Profile Edit Panel" placement="left" :closable="true" v-model="editProfileModal" width="600px">
                                        <i-form ref="personalInfoItem" :model="personalInfoItem" :rules="ruleValidate" :label-width="80">
                                            <form-item label="Name" prop="userName">
                                                <i-input v-model="personalInfoItem.userName" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="Job title" prop="jobTitle">
                                                <i-input v-model="personalInfoItem.jobTitle" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="E-mail" prop="email">
                                                <i-input v-model="personalInfoItem.email" :class="{InputStyle: inputstyle}" disabled></i-input>
                                            </form-item>
                                            <form-item label="Phone" prop="mobilePhone">
                                                <i-input v-model="personalInfoItem.mobilePhone" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="Country" prop="country">
                                                <i-input v-model="personalInfoItem.country" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="City" prop="city">
                                                <i-input v-model="personalInfoItem.city" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="Affiliation" prop="organization">
                                                <i-input v-model="personalInfoItem.organization" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="Field" prop="direction">
                                                <i-input v-model="personalInfoItem.direction" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="Home page" prop="homePage">
                                                <i-input v-model="personalInfoItem.homePage" :class="{InputStyle: inputstyle}"></i-input>
                                            </form-item>
                                            <form-item label="Introduction" prop="introduction">
                                                <i-input style="word-wrap:break-word" v-model="personalInfoItem.introduction" type="textarea" :autosize="{minRows: 2,maxRows: 5}"></i-input>
                                            </form-item>
                                            <form-item label="Avatar" prop="avatar">
                                                <div>
                                                    <div class="demo-upload-list" v-if="personalInfoItem.avatar!=''">
                                                        <template>
                                                            <img v-bind:src="personalInfoItem.avatar" class="avatarImage">
                                                            <div class="demo-upload-list-cover">
                                                                <Icon type="ios-eye-outline" @click.native="handleView()"></Icon>
                                                                <Icon type="ios-trash-outline" @click.native="handleRemove()"></Icon>
                                                            </div>
                                                        </template>
                                                    </div>
                                                    <div class="uploadBox">
                                                        <Icon type="ios-camera" size="20" style="position:absolute;margin:18px;"></Icon>
                                                        <input @change="uploadPhoto($event)" type="file" class="uploadAvatar">
                                                    </div>
                                                    <Modal title="View Image" v-model="visible">
                                                        <img :src="personalInfoItem.avatar" v-if="visible" style="width: 100%">
                                                    </Modal>
                                                </div>
                                            </form-item>
                                            <form-item>
                                                <i-button type="success" @click="submitProfileEdit('personalInfoItem')">Submit</i-button>
                                                <i-button @click="resetForm()" style="margin-left: 50%" type="primary">Reset</i-button>
                                            </form-item>
                                        </i-form>
                                    </Drawer>
                                </div>
                            </div>
                        </i-col>
                        <i-col :lg="{span:18,offset:1}" :md="{span:15,offset:1}" :sm="{span:13,offset:1}" :xs="{span:11,offset:1}">
                            <div class="rightContent">
                                <div class="parent">
                                    <Tabs value="Overview" style="font-size:20px" type="card">
                                        <tab-pane label="Overview" name="Overview">
                                            <i-col :lg="{span:22,offset:1}" :md="{span:22,offset:1}" :sm="{span:22,offset:1}">
                                                <Card>
                                                    <p slot="title">History line</p>
                                                    <Timeline class="timeLineStyle">
                                                        <div v-if="userEventList.length==0">
                                                            <div style="display:flex;justify-content:center">
                                                                <Icon type="md-alert" size="40" i-color="gray"></Icon>
                                                            </div>
                                                            <br>
                                                            <div style="display:flex;justify-content:center">
                                                                <h3 style="text-align:center;width:80%">Sorry,there are no events here.Once you upload or join in
                                                                    some projects,here will list your events timeline.</h3>
                                                            </div>
                                                        </div>

                                                        <timeline-item v-for="(item,index) in userEventList" :key="index" v-show="userEventList.length>0">
                                                            <strong>
                                                                <p class="time">{{item.createTime}}</p>
                                                            </strong>
                                                            <p class="content">{{item.description}}</p>
                                                        </timeline-item>
                                                    </Timeline>
                                                </Card>
                                                <br>
                                                <div style="margin-bottom:40px">
                                                    <Card>
                                                        <p slot="title">Resource list</p>
                                                        <div style="overflow-y:auto;height:500px">
                                                            <i-table :data="userResourceList" :columns="resourceColumn" class="table">
                                                                <template slot-scope="{ row }" slot="name">
                                                                    <strong>{{ row.name }}</strong>
                                                                </template>
                                                                <template slot-scope="{ row, index }" slot="action">
                                                                    <i-button type="success" size="small" style="margin-right: 10px" :href="userResourceList[index].pathURL" title="download"
                                                                        @click="download(index)">
                                                                        <Icon type="md-download"></Icon>
                                                                    </i-button>
                                                                    <i-button type="error" size="small" @click="deleteResourceModalShow(userResourceList[index].resourceId)">
                                                                        <Icon type="md-close"></Icon>
                                                                    </i-button>
                                                                </template>
                                                            </i-table>
                                                        </div>
                                                    </Card>
                                                </div>
                                            </i-col>
                                        </tab-pane>
                                        <tab-pane label="Joined projects" name="Participatory">
                                            <Card :bordered="false" v-if="joinedProjectsList.length == 0">
                                                <div style="display:flex;justify-content:center">
                                                    <Icon type="md-alert" size="40" i-color="gray"></Icon>
                                                </div>
                                                <br>
                                                <div style="display:flex;justify-content:center">
                                                    <h3 style="text-align:center;width:80%">Sorry, you didn't participate in any projects.</h3>
                                                </div>
                                            </Card>
                                            <div v-for="(item,index) in joinedProjectsList" :key="index" v-show="joinedProjectsList!=[]">
                                                <i-col :lg="{span:11, offset:1}" :md="{span:22, offset:1}">
                                                    <div class="participatoryProjectCard" @click="goSingleProject(item.projectId)">
                                                        <Card style="height:320px;margin-top:20px;">
                                                            <p slot="title" style="height:40x" class="projectsTitle">{{item.title}}</p>
                                                            <i-button slot="extra" @click.stop="quitModalShow(item)">Quit</i-button>
                                                            <p style="height:200px;text-indent:2em;overflow-y:auto;word-break:break-word">{{item.introduction}}</p>
                                                            <br>
                                                            <div style="height:40px">
                                                                <span style="float:left">CreateTime:</span>
                                                                <span style="float:right">{{item.createTime}}</span>
                                                            </div>
                                                        </Card>
                                                    </div>
                                                </i-col>
                                            </div>
                                        </tab-pane>
                                        <tab-pane label="Managed projects" name="Management">
                                            <Card :bordered="false" v-if="userManagerProjectList.length == 0">
                                                <div style="display:flex;justify-content:center">
                                                    <Icon type="md-alert" size="40" i-color="gray"></Icon>
                                                </div>
                                                <br>
                                                <div style="display:flex;justify-content:center">
                                                    <h3 style="text-align:center;width:80%">Sorry, you didn't created any projects.</h3>
                                                </div>
                                            </Card>
                                            <div v-for="(mProject,index) in userManagerProjectList" v-show="userManagerProjectList!='None'" :key="index">
                                                <i-col :lg="{span:11, offset:1}" :md="{span:22, offset:1}">
                                                    <div class="manageProjectsCard" @click="goSingleProject(mProject.projectId)">
                                                        <Card style="height:320px;margin-top:20px">
                                                            <p slot="title" class="projectsTitle">{{mProject.title}}</p>
                                                            <i-button class="authorBtn" type="default" slot="extra" title="Privilege change" style="margin:-5px 5px 0 5px" @click.stop="authorizeModalShow(index)"
                                                                icon="md-happy"></i-button>
                                                            <i-button class="deleteBtn" type="default" slot="extra" style="margin:-5px 5px 0 5px" @click.stop="deleteProjectModalShow(mProject.projectId)"
                                                                icon="md-close" title="remove"></i-button>
                                                            <!-- 表头结束 -->
                                                            <p style="height:200px;text-indent:2em;overflow-y:auto;word-break:break-word">{{mProject.introduction}}</p>
                                                            <!-- <hr> -->
                                                            <br>
                                                            <div>
                                                                <span style="float:left">CreateTime:</span>
                                                                <span style="float:right">{{mProject.createTime}}</span>
                                                            </div>
                                                        </Card>
                                                    </div>
                                                </i-col>
                                            </div>
                                        </tab-pane>
                                    </Tabs>
                                </div>
                            </div>
                        </i-col>
                    </Row>
                    <div></div>
                </i-col>
            </Row>
            <!-- 授权的modal -->
            <Modal v-model="authorizeProjectModal" @on-ok="authorize()" @on-cancel ok-text="Assure" cancel-text="Cancel">
                <p>Hand the project to others</p>
                <div>
                    <radio-group v-model="selectManagerId">
                        <Radio v-for="member in projectMemberList" :key="member.index" :label="member.userId">
                            <span>{{member.userName}}</span>
                        </Radio>
                    </radio-group>
                    <!-- 用radio将用户表示出来 -->
                </div>
            </Modal>
            <Modal title="Quit Project" v-model="quitModal" @on-ok="quitProject()" @on-cancel ok-text="Ok" cancel-text="Cancel">
                <p>Once you exit the project, you will not be able to participate in the i-collaborative process, confirm the
                    exit?
                </p>
            </Modal>
            <!-- 删除资源的模态框 -->
            <Modal v-model="deleteResourceModal" @on-ok="deleteResource" @on-cancel ok-text="Assure" cancel-text="Cancel">
                <h3>Do you really want to delete this resource?</h3>
            </Modal>
            <!-- 退出子项目的modal -->
            <Modal v-model="deleteProjectModal" @on-ok="deleteProject" @on-cancel ok-text="Assure" cancel-text="Cancel">
                <h3>Do you really want to delete this project?</h3>
            </Modal>
            <div th:replace="navigation::commonFooter"></div>
        </div>
    </div>
    <script th:inline="javascript">
        var userInfo = [[${userInfo}]];
        var userResourceList = [[${userResourceList}]];
        var userManagerProjectList = [[${userManagerProjectList}]];
        var joinedProjectsList = [[${joinedProjectsList}]];
        var userEventList = [[${userEventList}]];

        // var userInfo = {};
        // var userResourceList = [];
        // var userManagerProjectList = [];
        // var joinedProjectsList = [];
        // var userEventList = [];
    </script>
    <script>
        var validatePass = (rule, value, callback) => {
            if (value === "") {
                callback(new Error("Please enter your password again"));
            } else if (value !== this.formValidate.password) {
                callback(new Error("The two passwords are inconsistent!"));
            } else {
                callback();
            }
        };
        new Vue(
            {
                el: "#vueBody",
                components: {
                    'avatar': VueAvatar.Avatar
                },
                data: {
                    userDetail: userInfo,
                    resourceColumn: [
                        {
                            type: "selection",
                            width: 60,
                            align: "center"
                        },
                        {
                            title: "Name",
                            key: "name",
                            tooltip: true,
                            sortable: true
                        },
                        {
                            title: "Type",
                            key: "type",
                            sortable: true,
                            width: 90
                        },
                        {
                            title: "Description",
                            key: "description",
                            tooltip: true,
                            sortable: true
                        },
                        {
                            title: "Time",
                            key: "uploadTime",
                            width: 160,
                            sortable: true
                        },
                        {
                            title: "Action",
                            slot: "action",
                            width: 150,
                            align: "center"
                        }
                    ],
                    userManagerProjectList: userManagerProjectList,
                    editProfileModal: false,
                    logOutProfileModal: false,
                    editProjectModal: false,
                    // 项目授权的模态框
                    authorizeProjectModal: false,
                    //编辑项目专用的字段结束
                    item: "",
                    projectMemberList: [],
                    selectManagerId: userInfo.userId,
                    //当前选中项目
                    currentProject: {},
                    //当前用户信息的表单
                    personalInfoItem: {
                        userName: "",
                        email: "",
                        jobTitle: "",
                        mobilePhone: "",
                        gender: "",
                        country: "",
                        city: "",
                        organization: "",
                        introduction: "",
                        direction: "",
                        homePage: "",
                        avatar: ""
                    },
                    ruleValidate: {
                        userName: [
                            {
                                required: true,
                                message: "The name cannot be empty",
                                trigger: "blur"
                            }
                        ],
                        email: [
                            {
                                required: true,
                                message: "Mailbox cannot be empty",
                                trigger: "blur"
                            },
                            {
                                type: "email",
                                message: "Incorrect email format",
                                trigger: "blur"
                            }
                        ],
                        password: [
                            {
                                required: true,
                                min: 6,
                                message: "Password must more than 6 words",
                                trigger: "blur"
                            }
                        ],
                        confimPassword: [
                            {
                                required: true,
                                validator: validatePass,
                                trigger: "blur"
                            }
                        ],
                        jobTitle: [
                            {
                                required: true,
                                message: "Job Title cannot be empty",
                                trigger: "blur"
                            }
                        ],
                        gender: [
                            {
                                required: true,
                                message: "Please select gender",
                                trigger: "change"
                            }
                        ],
                        mobilePhone: [
                            {
                                required: false,
                                message: "Please enter your phone number",
                                trigger: "blur"
                            }
                        ],
                        country: [
                            {
                                required: false,
                                message: "Please enter your country",
                                trigger: "blur"
                            }
                        ],
                        city: [
                            {
                                required: false,
                                message: "Please enter your city",
                                trigger: "blur"
                            }
                        ],
                        organization: [
                            {
                                required: false,
                                message: "Please enter your affiliation",
                                trigger: "blur"
                            }
                        ],
                        introduction: [
                            {
                                required: false,
                                message: "Please enter a personal introduction",
                                trigger: "blur"
                            },
                            {
                                type: "string",
                                min: 20,
                                message: "Introduction no less than 20 characters",
                                trigger: "blur"
                            }
                        ],
                        field: [
                            {
                                required: false,
                                message: "Please enter your research field",
                                trigger: "blur"
                            }
                        ],
                        homePage: [
                            {
                                required: false,
                                message: "Please enter your home page url",
                                trigger: "blur"
                            }
                        ]
                    },
                    //用来验证个人信息维护表单填写规范的依据
                    //输入框的样式
                    inputstyle: true,
                    //控制填写表单时用户头像显示的样式
                    visible: false,
                    //抽屉开启状态控制
                    // drawerClose:false,
                    //加入的项目的名字id数组
                    joinedProjectsNameList: [],
                    //加入的项目详情数组列表
                    joinedProjectsList: joinedProjectsList,
                    // 关于样式的变量定义
                    detailSidebarHeight: "",
                    // 用户event列表
                    userEventList: userEventList,
                    userResourceList: userResourceList,
                    // rightContentWidth:"",
                    // 退出项目的modal
                    quitModal: false,
                    // 删除资源的的模态框
                    deleteResourceModal: false,
                    // 要删除的资源的id
                    deleteResourceId: "",
                    // 要删除管理的项目的模态框
                    deleteProjectModal: false,
                    // 要删除的项目的Id
                    deleteProjectId: "",
                    img: "",
                },
                created() {
                    // 初始化样式的高度
                    this.initStyle();
                },
                methods: {
                    // 初始化侧边栏样式
                    initStyle() {
                        this.detailSidebarHeight = window.innerHeight - 60 + "px";
                    },
                    quitModalShow(project) {
                        this.quitModal = true;
                        this.currentProject = project;
                    },
                    //退出项目的函数
                    quitProject() {
                        let quitProjectId = this.currentProject.projectId;
                        this.axios
                            .get(
                                "/GeoProblemSolving/project/quit" +
                                "?projectId=" +
                                quitProjectId +
                                "&userId=" +
                                userInfo.userId
                            )
                            .then(res => {
                                if (res.data == "Offline") {
                                    window.location.href = "/GeoProblemSolving/login.html";
                                } else if (res.data != "Fail" && res.data != "None") {
                                    this.$Message.success("Quit Success");
                                    this.removeQuitProject(quitProjectId);
                                    let notice = {};
                                    let recipientId = this.currentProject.managerId;
                                    notice["recipientId"] = recipientId;
                                    notice["type"] = "notice";
                                    notice["content"] = {
                                        title: "Manager change",
                                        description:
                                            "The member called " +
                                            userInfo.userName +
                                            " had quited from your project " +
                                            this.currentProject.title +
                                            "!"
                                    };
                                    this.axios
                                        .post("/GeoProblemSolving/notice/save", notice)
                                        .then(res => {
                                            if (res.data == "Success") {
                                                this.$refs.navigationEl.sendMessage(recipientId);
                                            }
                                        })
                                        .catch(err => {
                                            console.log("申请失败的原因是：" + err.data);
                                        });
                                } else {
                                    this.$Message.error("Quit Fail.");
                                    console.log("Quit fail: " + res.data);
                                }
                            })
                            .catch(err => { });
                    },
                    removeQuitProject(projectId) {
                        let oldjoinedProjectsList = this.joinedProjectsList;
                        let newjoinedProjectsList = [];
                        for (var i = 0; i < oldjoinedProjectsList.length; i++) {
                            if (oldjoinedProjectsList[i].projectId != projectId) {
                                newjoinedProjectsList.push(oldjoinedProjectsList[i]);
                            }
                        }
                        this.$set(this, "joinedProjectsList", newjoinedProjectsList);
                    },
                    authorizeModalShow(index) {
                        this.authorizeProjectModal = true;
                        this.projectMemberList = this.userManagerProjectList[index].members;
                        this.currentProject = this.userManagerProjectList[index];
                    },
                    authorize() {
                        this.axios
                            .get(
                                "/GeoProblemSolving/project/manager?" +
                                "projectId=" +
                                this.currentProject.projectId +
                                "&newManagerId=" +
                                this.selectManagerId
                            )
                            .then(res => {
                                if (res.data == "Offline") {
                                    window.location.href = "/GeoProblemSolving/login.html";
                                } else if (res.data != "Fail") {
                                    let projectInfo = res.data;
                                    projectInfo.projectId = this.currentProject.projectId;
                                    this.projectManageToJoin(projectInfo);
                                    let notice = {};
                                    let recipientId = this.selectManagerId;
                                    notice["recipientId"] = recipientId;
                                    notice["type"] = "notice";
                                    notice["content"] = {
                                        title: "Manager change",
                                        description:
                                            "You have been the manager of project " +
                                            this.currentProject.title +
                                            " !"
                                    };
                                    this.axios
                                        .post("/GeoProblemSolving/notice/save", notice)
                                        .then(res => {
                                            if (res.data == "Success") {
                                                this.$refs.navigationEl.sendMessage(recipientId);
                                            }
                                        })
                                        .catch(err => {
                                            console.log("申请失败的原因是：" + err.data);
                                        });
                                }
                            })
                            .catch(err => { });
                    },
                    projectManageToJoin(project) {
                        this.joinedProjectsList.push(project);
                        var oldManageProjects = this.userManagerProjectList;
                        var newManageProjects = [];
                        for (let i = 0; i < oldManageProjects.length; i++) {
                            if (oldManageProjects[i].projectId != project.projectId) {
                                newManageProjects.push(oldManageProjects[i]);
                            }
                        }
                        this.$set(this, "userManagerProjectList", newManageProjects);
                    },
                    deleteProjectModalShow(pid) {
                        this.deleteProjectId = pid;
                        this.deleteProjectModal = true;
                    },
                    deleteProject() {
                        if (this.deleteProjectId != "") {
                            this.axios
                                .get(
                                    "/GeoProblemSolving/project/delete?" +
                                    "projectId=" +
                                    this.deleteProjectId
                                )
                                .then(res => {
                                    if (res.data == "Offline") {
                                        window.location.href = "/GeoProblemSolving/login.html";
                                    } else if (res.data == "Success") {
                                        var newManageProjects = [];
                                        var oldManageProjects = this.userManagerProjectList;
                                        for (var i = 0; i < oldManageProjects.length; i++) {
                                            if (oldManageProjects[i].projectId != this.deleteProjectId) {
                                                newManageProjects.push(oldManageProjects[i]);
                                            }
                                        }
                                        this.$set(this, "userManagerProjectList", newManageProjects);
                                    } else {
                                        this.$Notice.error({
                                            title: "Error",
                                            desc: "Delete project fail."
                                        });
                                    }
                                })
                                .catch(err => {
                                    console.log(err.data);
                                });
                        }
                    },
                    editModalShow() {
                        this.personalInfoItem = Object.assign({}, this.userDetail);
                        this.editProfileModal = true;
                    },
                    //处理修改用户头像信息相关的函数
                    uploadPhoto(e) {
                        // 利用fileReader对象获取file
                        var file = e.target.files[0];
                        var filesize = file.size;
                        var filename = file.name;
                        var imgcode = "";
                        // 2,621,440   2M
                        if (filesize > 2101440) {
                            // 图片大于2MB
                            this.$Message.error("size > 2MB");
                        } else {
                            var reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload = e => {
                                // 读取到的图片base64 数据编码 将此编码字符串传给后台即可
                                imgcode = e.target.result;
                                this.personalInfoItem.avatar = imgcode;
                                this.userDetail.avatar = "";
                            };
                        }
                    },
                    handleView() {
                        this.visible = true;
                    },
                    handleRemove() {
                        this.personalInfoItem.avatar = "";
                        this.userDetail.avatar = "";
                    },
                    submitProfileEdit(name) {
                        this.$refs[name].validate(valid => {
                            if (valid) {
                                var data = this.personalInfoItem;
                                var changedProfile = new URLSearchParams();
                                changedProfile.append("userId", userInfo.userId);
                                //筛选出需要修改的信息
                                for (var item in data) {
                                    if (data[item] != "") {
                                        changedProfile.append(item, data[item]);
                                    }
                                }
                                this.axios
                                    .post("/GeoProblemSolving/user/update", changedProfile)
                                    .then(res => {
                                        if (res.data !== "Fail") {
                                            // this.drawerClose = true;
                                            this.$Notice.success({
                                                title: "notification",
                                                desc: "Profile update successfully"
                                            });
                                            let userInfo = res.data;
                                            userInfo.userState = true;
                                            this.$set(this, "userDetail", userInfo);
                                            sessionStorage.setItem("userInfo", JSON.stringify(userInfo));
                                        }
                                    })
                                    .catch(err => { });
                            }
                        });
                    },
                    resetForm() {
                        this.personalInfoItem = Object.assign({}, this.userDetail);
                    },
                    //点击跳转到指定项目的函数
                    goSingleProject(id) {
                        window.location.href = "/GeoProblemSolving/ptoject/" + id + ".html";
                    },
                    getUserResource() {
                        this.axios
                            .get(
                                "/GeoProblemSolving/resource/inquiry" +
                                "?key=uploaderId" +
                                "&value=" +
                                userInfo.userId
                            )
                            .then(res => {
                                if (res.data != "None" && res.data != "Fail") {
                                    this.userResourceList = res.data;
                                } else if (res.data == "None") {
                                    this.userResourceList = [];
                                }
                            })
                            .catch(err => {
                                console.log(err.data);
                            });
                    },
                    download(index) {
                        window.open(this.userResourceList[index].pathURL);
                    },
                    deleteResourceModalShow(id) {
                        this.deleteResourceModal = true;
                        this.deleteResourceId = id;
                    },
                    deleteResource() {
                        if (this.deleteResourceId != "") {
                            this.axios
                                .get(
                                    "/GeoProblemSolving/resource/delete?" +
                                    "resourceId=" +
                                    this.deleteResourceId
                                )
                                .then(res => {
                                    if (res.data == "Success") {
                                        this.$Notice.success({
                                            title: "Process result",
                                            desc: "Delete successfully"
                                        });
                                        this.getUserResource();
                                    } else if (res.data == "Fail") {
                                        this.$Notice.error({
                                            title: "Process result",
                                            desc: "Delete fail"
                                        });
                                        // this.$Message.info("Failure");
                                    }
                                })
                                .catch(err => {
                                    console.log(err.data);
                                });
                        }
                    }
                }
            }
        )
    </script>
</body>

</html>