<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geo-ProblemSolving</title>
    <meta http-equiv="Content-Type" content=" charset=UTF-8"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/iview/3.4.2/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/iview/3.4.2/iview.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-avatar@2.1.7/dist/vue-avatar.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:replace="navigation::commonHeader-css"></script>
    <script th:replace="navigation::commonHeader-html"></script>
    <script th:replace="navigation::commonHeader-js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <style>
        #projectDetailPage {
            min-width: 1100px;
        }

        .projectMenuItem {
            margin: 0 0 10px 0;
        }

        .projectMenuItemTitle {
            display: inline-block;
            color: #2d8cf099;
        }

        .ivu-card-body {
            display: flex;
            flex-flow: column;
            flex: 1;
        }

        .flex1 {
            display: flex;
            flex-flow: column;
            flex: 1;
        }

        .projectDescriptionContent {
            height: 160px;
            overflow-y: auto;
            text-indent: 2em;
            padding: 0 5px;
            word-break: break-word;
        }
        .projectIntroductionContent{
            height: 180px;
            overflow-y: auto;
            text-indent: 2em;
            padding: 0 5px;
            word-break: break-word;
        }
        .statistics{
            width: 40%;
            height: -webkit-fill-available;
            display: inline-block;
        }
        .showCount{
            font-size: 30px;
            vertical-align: middle;
            margin-left: 15px;
        }
        .changeEditColor:hover{
            background-color: #2db7f5;
            color: white;
        }
        .changeRemoveColor:hover{
            background-color: #ed4014;
            color: white;
        }
        .changeInviteColor:hover{
            background-color: #19be6b;
            color: white;
        }
    </style>
</head>

<body>
<div id="projectDetailPage"  v-cloak>
    <child-navigation ref="navigationEl"></child-navigation>
    <template>
        <div :style="{height: contentPageCSS}">
            <div span="2" style="height: inherit;width: 90px;position: absolute;">
                <i-menu active-name="projectDetail" @on-select="changeMenuItem" style="height: inherit;width: fit-content;">
                    <menu-item name="projectDetail" class="projectMenuItem">
                        <Icon type="ios-information-circle" title="Project detail" size="35"></Icon>
                    </menu-item>
                    <menu-item name="subProjects" class="projectMenuItem">
                        <Icon type="md-git-branch" title="Subprojects" size="35"></Icon>
                    </menu-item>
                    <menu-item name="resources" class="projectMenuItem">
                        <Icon type="ios-folder" title="Resources" size="35"></Icon>
                    </menu-item>
                </i-menu>
            </div>
            <div style="margin-left: 90px;height: inherit;min-height: fit-content;">
                <div v-if="showMenuItem=='projectDetail'" style="height: inherit;min-height: fit-content;">
                    <div style="background:#eee;padding: 10px;height: inherit;min-height: fit-content;">
                        <Card :bordered="false" dis-hover style="height: -webkit-fill-available;display: flex;flex-flow: column;min-height: fit-content;">
                            <div slot="title">
                                <h1 class="projectMenuItemTitle">Project: </h1>
                                <h1 style="display: inline-block;">{{projectInfo.title}}</h1>
                            </div>
                            <div slot="extra">
                                <Poptip trigger="hover" content="Edit project information" placement="left">
                                    <i-button style="margin: 0 5px;" class="changeEditColor">
                                        <Icon type="ios-create" :size="20"></Icon>
                                    </i-button>
                                </Poptip>
                                <Poptip trigger="hover" content="Remove project" placement="left">
                                    <i-button style="margin: 0 5px;" class="changeRemoveColor">
                                        <Icon type="md-close" :size="20"></Icon>
                                    </i-button>
                                </Poptip>
                            </div>
                            <div class="flex1" style="min-height: fit-content;">
                                <Row gutter="25" style="flex: 1;display: flex;flex-flow: initial">
                                    <i-col span="16" style="display: flex;flex-flow: column">
                                        <div style="border: solid 1px #eeeeee;flex: 1;padding: 20px;flex-flow: column;display: flex;">
                                            <Row gutter="15" style="height: 200px;">
                                                <i-col span="8">
                                                    <div style="width: 200px;height: 200px;">
                                                        <img :src="projectInfo.picture" style="height: inherit;width: inherit;" v-if="projectInfo.picture!=''&&projectInfo.picture!=undefined"
                                                        />
                                                        <avatar :username="projectInfo.title" :size="200" :title="projectInfo.title" :rounded="false" v-else></avatar>
                                                    </div>
                                                </i-col>
                                                <i-col span="16">
                                                    <div style="height: -webkit-fill-available;padding: 5px;">
                                                        <h3>Description:</h3>
                                                        <div class="projectDescriptionContent">{{projectInfo.description}}</div>
                                                    </div>
                                                </i-col>
                                            </Row>
                                            <div class="flex1" style="margin-top: 10px;">
                                                <div style="flex: 1;min-height: 200px;padding: 5px;">
                                                    <h3>Introduction:</h3>
                                                    <div class="projectIntroductionContent">
                                                        {{projectInfo.introduction}}
                                                    </div>
                                                </div>
                                                <div style="min-height: 80px;max-height: 100px;text-align: center;">
                                                    <div class="statistics">
                                                        <div style="text-align: left;padding: 5px;">
                                                            <p><strong>Privacy:</strong> {{projectInfo.privacy}}</p>
                                                            <p><strong>Tag:</strong> {{projectInfo.tag}}</p>
                                                            <p><strong>Manager:</strong> {{projectInfo.managerName}}</p>
                                                            <p><strong>Create time:</strong> {{projectInfo.createTime}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="statistics">
                                                        <div>
                                                            <Icon type="md-git-branch" size="30"></Icon>
                                                            <span class="showCount">3</span>
                                                        </div>
                                                        <div>
                                                            <Icon type="md-contacts" size="30"></Icon>
                                                            <span class="showCount">5</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </i-col>
                                    <i-col span="8" style="display: flex;flex-flow: column">
                                        <div style="border: solid 1px #eeeeee;" class="flex1">
                                            <Card :bordered="false" dis-hover  >
                                                <div slot="title">
                                                    <h1>Participants</h1>
                                                </div>
                                                <div slot="extra">
                                                    <Poptip trigger="hover" content="Invite members" placement="left">
                                                        <i-button class="changeInviteColor">
                                                            <Icon type="md-person-add" :size="20"></Icon>
                                                        </i-button>
                                                    </Poptip>
                                                    <Poptip trigger="hover" content="Remove members" placement="left">
                                                        <i-button style="margin: 0 0 0 5px;" class="changeRemoveColor">
                                                            <Icon type="md-remove-circle" :size="20"></Icon>
                                                        </i-button>
                                                    </Poptip>
                                                </div>
                                                <div :style="{height: membersContentCSS}" style="overflow-y:auto;">
                                                    <Card  style="background-color: #dcdee2;border-color: #c5c8ce">
                                                        <div title="Manager">
                                                            <h2 style="color: white">{{projectInfo.managerName}}</h2>
                                                        </div>
                                                    </Card>
                                                    <Card  v-for="members in projectInfo.members" style="margin-top: 5px">
                                                        <div title="Member">
                                                            <h2>{{members.userName}}</h2>
                                                        </div>
                                                    </Card>
                                                </div>
                                            </Card>
                                        </div>
                                    </i-col>
                                </Row>
                            </div>
                        </Card>
                    </div>
                </div>
                <div v-else-if="showMenuItem=='subProjects'" style="height: inherit;min-height: fit-content;">
                    <div style="background:#eee;padding: 10px;height: inherit;">
                        <Card :bordered="false" style="height: -webkit-fill-available;">
                            <h1 slot="title" class="projectMenuItemTitle">Subprojects</h1>
                            <div>
                                <Card v-for="subProject in subProjectList">
                                    <div>{{subProject.title}}</div>
                                </Card>
                            </div>
                        </Card>
                    </div>
                </div>
                <div v-else-if="showMenuItem=='resources'" style="height: inherit;min-height: fit-content;">
                    <div style="background:#eee;padding: 10px;height: inherit;">
                        <Card :bordered="false" style="height: -webkit-fill-available;">
                            <h1 slot="title" class="projectMenuItemTitle">Resources</h1>
                            <div>
                                Content
                            </div>
                        </Card>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <div th:replace="navigation::commonFooter"></div>
</div>
<script th:inline="javascript">
    var projectInfo = [[${projectInfo}]];
</script>
<script>
    new Vue(
        {
            el: "#projectDetailPage",
            components: {
                'avatar': VueAvatar.Avatar
            },
            mounted() {
                this.resizeContent();
                this.getAllSubProjects();
                this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
            },
            data() {
                return {
                    projectInfo: projectInfo,
                    showMenuItem: "projectDetail",
                    contentPageCSS: '',
                    membersContentCSS: '',
                    subProjects:[]
                }
            },
            methods: {
                resizeContent(){
                    if(window.innerHeight>735){
                        this.membersContentCSS = window.innerHeight - 260+'px';
                        this.contentPageCSS = window.innerHeight - 60 + 'px';
                    }else{
                        this.membersContentCSS = '477px';
                        this.contentPageCSS = 'fit-content';
                    }
                    window.onresize = () => {
                        return (() => {
                            this.resizeContent();
                        })()
                    }
                },
                sendNotice(recipientId) {
                    this.$refs.navigationEl.sendMessage(recipientId);
                },
                changeMenuItem(name) {
                    this.showMenuItem = name;
                },
                getAllSubProjects(){
                    axios
                    .get(
                        "/GeoProblemSolving/subProject/inquiry"+"?key=projectId"+"&value="+this.projectInfo.projectId
                    )
                    .then(res=>{
                        if (res.data == "Offline") {
                            this.$store.commit("userLogout");
                            this.$router.push({ name: "Login" });
                        } else if (res.data == "None" || res.data == "Fail") {
                            console.log(res.data);
                        } else {
                            this.subProjectList = res.data;
                            this.identitySubProjects();
                            console.log(this.subProjectList);
                        }
                    })
                    .catch(err=>{console.log(err.data)});
                },
                identitySubProjects(){
                    var subProjectInfo = Object.assign([],this.subProjectList);
                    subProjectInfo.forEach(subProject => {
                        subProject.isManager = this.managerIdentity(subProject.managerId);
                        subProject.isMember = this.memberIdentity(subProject.members);
                    });
                },
                managerIdentity(managerId){
                    return managerId==this.userInfo.userId?true:false;
                },
                memberIdentity(members) {
                    let isMember;
                    for (let i = 0; i < members.length; i++) {
                        if (members[i].userId === this.$store.getters.userId) {
                        isMember = true;
                        break;
                        }
                    }
                    if (isMember) {
                        return true;
                    } else {
                        return false;
                    }
                },
            }
        }
    )
</script>
</body>
</html>