<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>Geo-Problem Solving</title>
    <link rel="shortcut icon" href="/PExploration/static/favicon.ico">
    <meta http-equiv="Content-Type" content=" charset=UTF-8"/>
    <meta name="description" content="Participatory|GeoProblem Solving|GIS">
    <meta name="keywords" content="Participatory|GeoProblem Solving|GIS">
    <meta name="author" content="OpenGMS">
    <script src="/PExploration/js/jquery.js"></script>
    <script src="/PExploration/js/vue.min.js"></script>
    <link href="/PExploration/css/iview.css" rel="stylesheet">
    <script src="/PExploration/js/iview.js"></script>
    <script src="/PExploration/js/vue-avatar.min.js"></script>
    <script src="/PExploration/js/axios.min.js"></script>
    <script src="/PExploration/js/crypto-js.js"></script>


    <script th:replace="navigation :: commonHeader-css"></script>
    <script th:replace="navigation :: commonHeader-html"></script>
    <script th:replace="navigation :: commonHeader-js"></script>

    <script th:replace="tabContent :: tab-card"></script>
    <style th:replace="tabContent :: tab-style"></style>
    <script th:replace="tabContent :: tab-component" th:inline="javascript"></script>

    <style>
        [v-cloak] {
            display: none;
        }

        .picscreen {
            position: relative;
        }

        .picbg {
            background-image: url("Images/projectlist_1.jpg");
            background-size: cover;
            position: absolute;
            height: 100px;
            width: 100%;
            background-color: #8b8b8b;
            top: 0;
            left: 0;
        }

        .pictitle {
            font-size: 1.4rem;
            font-family: Georgia, sans-serif, serif;
        }

        .picdesc {
            font-size: 0.9rem;
            display: block;
        }

        .picTag {
            margin-right: 30px;
            background-color: #608ebded;
            color: white;
            padding: 5px;
            cursor: pointer;
            /*border: 1px solid #e8eaec;*/
            border-radius: 4px;
        }

        .project-input {
            margin-top: 70px;
            margin-bottom: 10px;
            margin-left: 5%;
            width: 400px;
        }

        .search-btn {
            margin-top: 70px;
            margin-bottom: 10px;
            margin-left: 20px;
            font-size: 0.5rem;
            width: 100px;
            background-color: rgba(21, 88, 145, 0.8);
            color: rgba(255, 255, 255, 1);
        }

        .project-start-btn {
            margin-top: 70px;
            margin-bottom: 10px;
            right: 20px;
            position: absolute;
            font-size: 0.5rem;
            border-radius: 6px;
            width: 150px;
            background-color: rgba(21, 88, 145, 0.8);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }

        /*Tabs--style*/
        .tabs {
            min-height: 500px;
            border-top: 1px solid lightgrey;
        }

        .tabpane-syle {
            font-size: 20px;
            background-color: rgba(133, 115, 92, 0.1);
            min-height: 500px;
        }

        .ivu-tabs-bar {
            /*border-bottom: 1px solid #dddee1;*/
            margin-bottom: 0px;
        }

        .ivu-tabs-nav-wrap {
            text-align: center;
            margin-bottom: 0px;
        }

        .ivu-tabs-nav-scroll {
            margin-left: 5%;
        }

        .ivu-tabs-tab {
            font-size: 16px;
            font-weight: bold;
        }

        .ivu-row {
            margin-bottom: 45px;
        }

        .pro-page {
            bottom: 75px;
            left: 43%;
            font-size: 14px;
            text-align: center;
        }

        .tab-content {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div id="vueBody" v-cloak style="min-width: 1100px;">
    <child-navigation ref="navigationEl" active-type="projects" :user-info="userInfo"></child-navigation>
    <i-input class="project-input" placeholder="Enter projects name..." v-model="searchText" @keyup.enter.native="showPageList"></i-input>
    <i-button class="search-btn" @click="showPageList">Search</i-button>
    <i-button class="project-start-btn" @click="newProject" type="default">Establish a project</i-button>
    <div class="tabs">
        <Row :style="{minHeight:contentMinHeight+'px'}">
            <i-col>
                <!-- <div class="pro-tab">
                    <Tabs v-model="currentTab" @on-click="changeTab">
                        <tab-pane label="All" name="All" icon="md-list"></tab-pane>
                        <tab-pane label="Investigational" name="Investigational" icon="md-globe"></tab-pane>
                        <tab-pane label="Intercomparable" name="Intercomparable" icon="md-git-compare"></tab-pane>
                        <tab-pane label="Reproducible" name="Reproducible" icon="ios-copy"></tab-pane>
                        <tab-pane label="Educational" name="Educational" icon="ios-paper"></tab-pane>
                    </Tabs>
                </div> -->
                <div class="picscreen">
<!--                    <div class="picbg"></div>-->
                    <div class="picbg">
                        <div style="height: inherit;display: flex;justify-content: center;flex-direction: column">
                            <div style="margin-left: 100px;">
                                <span class="pictitle">{{selectCatalog.name}}</span>
                                <span class="picdesc">{{selectCatalog.introduction}}</span>
                            </div>
                            <div style="margin-top:10px; margin-left: 100px">
<!--                                <span class="picTag" id="Terrestrial" @click="filtTags('Terrestrial')">Terrestrial</span>-->
<!--                                <span class="picTag" id="Coastal" @click="filtTags('Coastal')">Coastal</span>-->
<!--                                <span class="picTag" id="Marine" @click="filtTags('Marine')">Marine</span>-->
<!--                                <span class="picTag" id="Climate" @click="filtTags('Climate')">Climate</span>-->
<!--                                <span class="picTag" id="Ecological" @click="filtTags('Ecological')">Ecological</span>-->
<!--                                <span class="picTag" id="Geological" @click="filtTags('Geological')">Geological</span>-->
<!--                                <span class="picTag" id="Human" @click="filtTags('Human')">Human</span>-->
<!--                                <span class="picTag" id="GIS-RS" @click="filtTags('GIS-RS')">GIS & RS</span>-->
<!--                                <span class="picTag" id="General" @click="filtTags('General')">General</span>-->
                                <span class="picTag" v-for="tag in selectCatalog.tags" :key="tag.index" :id="tag" @click=filtTags(tag)>{{tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-content">
                    <tab-content class="tab-content" :project-list="tabPageData" @sendNotice="sendMessage"
                                 :key="freshEle"></tab-content>
                </div>
            </i-col>
        </Row>
        <div class="pro-page">
            <Page ref="pages" :total="totalCount" :page-size="pageSize" :current="currentPage" size="small"
                  @on-change="changePage" show-elevator show-total></Page>
        </div>
        <div th:replace="navigation::commonFooter"></div>

    </div>
</div>

<script th:inline="javascript">
    window.onload = function () {
        var projectsInfo = [[${projectsInfo}]];
        new Vue({
            el: '#vueBody',
            data: {
                currentProjectList: projectsInfo.projectList,
                projectType: [],
                // currentTab: "All",
                currentTab:"Investigational",
                //初始化信息总条数
                //projectCount:10,
                contentMinHeight: 0,
                currentPage: 1,
                totalCount: projectsInfo.count,
                //每页显示多少条
                pageSize: 18,
                tabPageData: projectsInfo.projectList,
                tabPaneType: [{label: "All", name: "All", icon: "icon ion-md-list"},
                    {label: "Investigational", name: "Investigational", icon: "icon ion-md-globe"},
                    {label: "Intercomparable", name: "Intercomparable", icon: "icon ion-md-git-compare"},
                    {label: "Reproducible", name: "Reproducible", icon: "icon ion-ios-copy"},
                    {label: "Educational", name: "Educational", icon: "icon ion-ios-paper"}
                ],
                projectCatalog: [
                    {
                        name: "All projects",
                        introduction: "All different types of are listed here, including investigational projects, intercomparable projects, reproducible projects, and educational projects. Select the project that you need.",
                        tags:[]
                    },
                    {
                        name: "Investigational projects",
                        introduction: "Understanding geographic scales and boundaries, clarifying geographic elements, analyzing geographic phenomena, and simulating geographic processes.",
                        tags:["Terrestrial","Coastal", "Marine","Climate","Ecological","Geological", "Human", "GIS & RS", "General"]
                    },
                    {
                        name: "Intercomparable projects",
                        introduction: "Participatory Intercomparison (PIC) projects can be conducted in an open, configurable and reproducible manner.",
                        tags:[]
                    },
                    {name: "Reproducible projects", introduction: "Reproducible projects",tags:[]},
                    {name: "Educational projects", introduction: "Educational projects",tags:[]},
                ],
                selectCatalog: {
                    name: "All projects",
                    introduction: "All different types of are listed here, including investigational projects, intercomparable projects, reproducible projects, and educational projects. Select the project that you need.",
                    tags:[]
                },
                // user
                userInfo: [],
                userState: false,
                freshEle: 0,
                searchText:"",
                selectTag: ""
            },
            created() {
                var userInfo = {
                    userState: false,
                    userName: 'Visitor',
                    userId: '',
                    avatar: ''
                };
                sessionStorage.setItem('userInfo', JSON.stringify(userInfo));
                $.ajax({
                    url: "/PExploration/user/state",
                    type: "POST",
                    async: false,
                    success: data => {
                        if (data) {
                            data.userState = true;
                            sessionStorage.setItem('userInfo', JSON.stringify(data));
                        } else {
                            console.log("Not logged in");
                        }
                    },
                    error: function (err) {
                        console.log("Get user info fail.");
                    }
                });
            },
            mounted() {
                this.resizeContent();
                //判断用户状态，如果登录，判断project权限，如果否，不判断
                this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
                if (this.userInfo != null && this.userInfo.userState) {
                    this.userState = true;
                    this.showPageList();
                }
                else {
                    this.userState = false;
                    this.judgeMember(projectsInfo.projectList);
                    this.tabPageData = Object.assign([], projectsInfo.projectList);
                    this.freshEle++;
                }
                window.onresize = () => {
                    return (() => {
                        this.$refs.navigationEl.identityMenuCSS();
                        this.resizeContent();
                    })()
                }
            },

            methods: {
                resizeContent() {
                    this.contentMinHeight = window.innerHeight - 100.38;
                },
                changeTab(type) {
                    this.currentTab = type;
                    this.currentPage = 1;
                    this.$nextTick(function () {
                        this.$refs['pages'].currentPage = 1;
                    });
                    if(this.selectTag != ""){
                        document.getElementById(this.selectTag).style.backgroundColor="#608ebded";
                        this.selectTag = "";
                    }

                    if (type == "All" && !this.userState) {
                        this.judgeMember(projectsInfo.projectList);
                        this.tabPageData = Object.assign([], this.currentProjectList);
                        this.freshEle++;
                        this.totalCount = projectsInfo.count;
                    }
                    else {
                        this.showPageList();
                    }
                    if (type == "All") {
                        this.selectCatalog = this.projectCatalog[0];
                    }
                    else if (type == "Investigational") {
                        this.selectCatalog = this.projectCatalog[1];
                    }
                    else if (type == "Intercomparable") {
                        this.selectCatalog = this.projectCatalog[2];
                    }
                    else if (type == "Reproducible") {
                        this.selectCatalog = this.projectCatalog[3];
                    }
                    else if (type == "Educational") {
                        this.selectCatalog = this.projectCatalog[4];
                    }
                },
                filtTags(tagName, obj) {
                    if (this.selectTag == tagName) {
                        this.selectTag = "";
                        this.tabPageData = Object.assign([], this.currentProjectList);
                        document.getElementById(tagName).style.backgroundColor="#608ebded";
                    }
                    else {
                        if(this.selectTag != ""){
                            document.getElementById(this.selectTag).style.backgroundColor="#608ebded";
                            this.selectTag = "";
                        }

                        document.getElementById(tagName).style.backgroundColor="#12bd67b8";
                        this.selectTag = tagName;
                        // this.tabPageData = this.currentProjectList.filter(project => {

                        //     if (project.tag.indexOf(tagName) != -1) {
                        //         return true;
                        //     }
                        //     return false;
                        // });
                    }
                    this.showPageList();
                },
                changePage(index){
                    this.currentPage = index;
                    this.showPageList();
                },
                showPageList() {
                    // if (this.currentTab == "All" && this.currentPage == 1 && !this.userState) {
                    //     this.judgeMember(projectsInfo.projectList);
                    //     this.tabPageData = Object.assign([], this.currentProjectList);
                    //     this.freshEle++;
                    //     this.totalCount = projectsInfo.count;
                    // }
                    // else {
                        let userId = "";
                        let joinedProjects = [];
                        if (this.userState) {
                            userId = this.userInfo.userId;
                            for (let i = 0; i < this.userInfo.joinedProjects.length; i++) {
                                joinedProjects.push(this.userInfo.joinedProjects[i].projectId);
                            }
                        }
                        // this.$Spin.show();
                        axios
                            .get("/PExploration/project/inquiryByPage" +
                                "?category=" + this.currentTab +
                                "&tag=" + this.selectTag +
                                "&page=" + this.currentPage +
                                "&pageSize=" + this.pageSize +
                                "&userId=" + userId +
                                "&searchConfig=" + this.searchText +
                                "&joinedProjects=" + joinedProjects)
                            .then(res => {
                                // this.$Spin.hide();
                                if (res.data != "Fail") {
                                    if (res.data === "None") {
                                        this.currentProjectList = [];
                                    }
                                    else {
                                        this.judgeMember(res.data.projectList);
                                    }
                                    this.tabPageData = Object.assign([], this.currentProjectList);
                                    this.totalCount = res.data.count;
                                    this.freshEle++;
                                }
                                else {
                                    console.log("Fail");
                                }
                            })
                            .catch(err => {
                                console.log(err.data);
                            });
                    // }
                },

                judgeMember(list) {
                    let projectList = list;
                    //判断登录状态
                    if (this.userState == true) {
                        if (projectList.length != 0) {
                            for (var i = 0; i < projectList.length; i++) {
                                let managerId = projectList[i].managerId;
                                let members = projectList[i].members;
                                if (managerId == this.userInfo.userId) {
                                    projectList[i]["isManager"] = true;
                                } else {
                                    projectList[i]["isManager"] = false;
                                }
                                if (members.length != 0) {
                                    for (var j = 0; j < members.length; j++) {
                                        if (members[j].userId == this.userInfo.userId) {
                                            projectList[i]["isMember"] = true;
                                            break;
                                        } else {
                                            projectList[i]["isMember"] = false;
                                        }
                                    }
                                } else {
                                    projectList[i]["isMember"] = false;
                                }
                            }
                            this.currentProjectList = Object.assign([], projectList);
                        }
                        else {
                            this.currentProjectList = [];
                        }
                    }
                    else {
                        if (projectList.length != 0) {
                            for (var i = 0; i < projectList.length; i++) {
                                let managerId = projectList[i].managerId;
                                let members = projectList[i].members;
                                projectList[i]["isManager"] = false;
                                projectList[i]["isMember"] = false;
                            }
                            this.currentProjectList = Object.assign([], projectList);
                        }
                        else {
                            this.currentProjectList = [];
                        }
                    }
                },
                newProject() {
                    if (this.userState == false) {
                        window.location.href = "/PExploration/login"
                    } else {
                        window.location.href = "/PExploration/newProject"
                    }
                },
                sendMessage(recipientId) {
                    this.$refs.navigationEl.sendMessage(recipientId);
                }
            }
        })
    }
</script>

</body>
</html>
