<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>Geo-Problem Solving</title>
    <link rel="shortcut icon" href="/GeoProblemSolving/static/favicon.ico">
    <meta http-equiv="Content-Type" content=" charset=UTF-8" />
    <meta name="description" content="Participatory|GeoProblem Solving|GIS">
    <meta name="keywords" content="Participatory|GeoProblem Solving|GIS">
    <meta name="author" content="OpenGMS">
    <script src="/GeoProblemSolving/js/jquery.js"></script>
    <script src="/GeoProblemSolving/js/vue.min.js"></script>
    <link href="/GeoProblemSolving/css/iview.css" rel="stylesheet">
    <script src="/GeoProblemSolving/js/iview.js"></script>
    <script src="/GeoProblemSolving/js/vue-avatar.min.js"></script>
    <script src="/GeoProblemSolving/js/axios.min.js"></script>


    <script th:replace="navigation :: commonHeader-css"></script>
    <script th:replace="navigation :: commonHeader-html"></script>
    <script th:replace="navigation :: commonHeader-js"></script>

    <script th:replace="tabContent :: tab-card"></script>
    <style th:replace="tabContent :: tab-style"></style>
    <script th:replace="tabContent :: tab-component"   th:inline="javascript"></script>

    <style >
        [v-cloak]{
            display: none;
        }
        .picscreen {
            position: relative;
            transform: translateY(60px);
        }

        .picbg {
            background-image: url("Images/projectlistbg.jpg");
            background-size: cover;
            position: absolute;
            height: 140px;
            width: 100%;
            background-color: #8b8b8b;
            top: 0;
            left: 0;
        }

        .pictitle{
            font-size: 2rem;
            font-family: Georgia, sans-serif, serif;
            color: #ffffff;
            position: absolute;
            top: 18px;
            left: 100px;
        }
        .picdesc{
            font-size: 0.9rem;
            color: #f7faf7;
            position: absolute;
            top: 72px;
            left: 100px;
            display: block;
        }
        .project-start-btn{
            position: absolute;
            top: 80px;
            left: 70%;
            font-size: 0.9rem;
            border-radius: 6px;
            background-color: rgba(21, 88, 145, 0.4);
            color: rgba(255,255,255,1);
        }
        .search-btn{
            position: absolute;
            top: 30px;
            right: 50px;
            font-size: 0.5rem;
            width: 100px;
            text-align:right;
        }

        /*Tabs--style*/
        .tabs{
            transform: translateY(200px);
            min-height: 500px;
        }
        .tabpane-syle{
            font-size: 20px;
            background-color: rgba(133, 115, 92, 0.1);
            min-height: 500px;
        }
        .ivu-tabs-bar {
            /*border-bottom: 1px solid #dddee1;*/
            margin-bottom: 0px;
        }
        .ivu-tabs-nav-wrap {
            text-align: center;
            margin-bottom:0px;
        }
        .ivu-tabs-nav-scroll {
            margin-left:5%;
        }
        .ivu-tabs-tab{
            font-size: 16px;
        }
        .ivu-row{
            margin-bottom: 45px;
        }

        .pro-page{
            bottom:  75px;
            left:43%;
            font-size:14px;
            text-align: center;
            /*margin-top: 200px;*/
        }
    </style>
</head>
<body>
<div id="vueBody" v-cloak style="min-width: 1100px;">
   <child-navigation ref="navigationEl" active-type="projects"></child-navigation>
    <div class="picscreen" >
        <div class="picbg"></div>
        <div class="home-content">
            <div>
                <span class="pictitle">Projects</span>
                <span class="picdesc">The project is created for solving geographic problems, <br />
                    where resources, perspectives, and methods can be shared in a participatory manner.</span>
                <i-button class="project-start-btn" @click="newProject"  type="default" >Create a project</i-button>
                <i-button class="search-btn" icon="icon ion-ios-search" @click=" ">Search...</i-button>
            </div>
        </div>
    </div>

    <div class="tabs">
        <Row :style="{minHeight:contentMinHeight+'px'}">
            <i-col>
                <div class="pro-tab">
                    <Tabs  v-model="currentTab" @on-click="changeTab" >
                        <tab-pane label="All" name="All" icon="md-list"></tab-pane>
                        <tab-pane label="Terrestrial"  name="Terrestrial" icon="md-globe"></tab-pane>
                        <tab-pane label="Coastal"  name="Coastal" icon="ios-boat"></tab-pane>
                        <tab-pane label="Marine"  name="Marine"  icon="ios-water"></tab-pane>
                        <tab-pane label="Climate"  name="Climate"  icon="ios-partly-sunny"></tab-pane>
                        <tab-pane label="Ecological"  name="Ecological"  icon="ios-leaf"></tab-pane>
                        <tab-pane label="Geological"  name="Geological"  icon="ios-analytics"></tab-pane>
                        <tab-pane label="Human-Activity"  name="Human"  icon="ios-people"></tab-pane>
                        <tab-pane label="GIS & RS"  name="GISRS"  icon="ios-globe"></tab-pane>
                        <tab-pane label="General"  name="General"  icon="ios-grid"></tab-pane>
                    </Tabs>
                </div>
                <div class="pro-content">
                    <tab-content  :project-list = tabPageData @sendNotice="sendMessage" :key="freshEle"></tab-content >
                </div>
            </i-col>

        </Row>
        <div class="pro-page" >
            <Page  ref="pages" :total="totalCount" :page-size="pageSize"  :current="currentPage" size="small"  @on-change="changePage"   show-elevator show-total ></Page>
        </div>
        <div th:replace="navigation::commonFooter"></div>

    </div>
    </div>

    <script th:inline="javascript">
    window.onload=function () {
        var projectsInfo = [[${projectsInfo}]];
        new Vue({
            el: '#vueBody',
            data: {
                currentProjectList:  projectsInfo.projectList,
                projectType:[],
                currentTab:"All",
                //初始化信息总条数
                //projectCount:10,
                contentMinHeight:0,
                currentPage:1 ,
                totalCount:projectsInfo.count,
                //每页显示多少条
                pageSize:18,
                tabPageData:projectsInfo.projectList,
                tabPaneType:[{  label:"All",name:"All",icon:"icon ion-md-list"},
                    { label:"Terrestrial", name:"Terrestrial", icon:"icon ion-md-globe"},
                    {label:"Coastal", name:"Coastal",icon:"icon ion-ios-boat"},
                    {label:"Marine", name:"Marine", icon:"icon ion-ios-water"},
                    {label:"Climate", name:"Climate", icon:"icon ion-ios-partly-sunny"},
                    {label:"Ecological", name:"Ecological", icon:"icon ion-ios-leaf"},
                    {label:"Geological", name:"Geological", icon:"icon ion-ios-analytics"},
                    {label:"Human-Activity", name:"Human" ,icon:"icon ion-ios-people"},
                    {label:"GIS & RS", name:"GISRS" ,icon:"icon ion-ios-globe"},
                    {label:"General", name:"General", icon:"icon ion-ios-grid"}
                ],
                // user
                userInfo:[],
                userState:false,
                freshEle:0
            },
            mounted(){
                this.resizeContent();
                //判断用户状态，如果登录，判断project权限，如果否，不判断
                this.userInfo=JSON.parse(sessionStorage.getItem("userInfo"));
                if( this.userInfo != null&&this.userInfo.userState){
                    this.userState=true;
                    this.changePage(1);
                }
                else{
                    this.userState=false;
                    this.judgeMember(projectsInfo.projectList);
                    this.tabPageData=Object.assign([], projectsInfo.projectList);
                    this.freshEle++;
                }
                window.onresize = () => {
                    return (() => {
                        this.$refs.navigationEl.identityMenuCSS();
                        this.resizeContent();
                    })()
                }
            },

            methods: {
                resizeContent(){
                    this.contentMinHeight = window.innerHeight-340.38;
                },
                changeTab(type) {
                    this.currentTab=type;
                    this.currentPage=1;
                    this.$nextTick(function(){
                        this.$refs['pages'].currentPage = 1;
                    });

                    if(type=="All"&& !this.userState){
                        this.judgeMember(projectsInfo.projectList);
                        this.tabPageData=Object.assign([],  this.currentProjectList);
                        this.freshEle++;
                        this.totalCount=projectsInfo.count;
                    }
                    else{
                        this.changePage(1);
                    }

                },

                changePage(index){
                    if(this.currentTab == "All" && index==1 && !this.userState){
                        this.judgeMember(projectsInfo.projectList);
                        this.tabPageData=Object.assign([],  this.currentProjectList);
                        this.freshEle++;
                        this.totalCount=projectsInfo.count;
                    }
                    else {
                        let userId = "";
                        let joinedProjects = [];
                        if(this.userState){
                            userId = this.userInfo.userId;
                            for(let i = 0; i < this.userInfo.joinedProjects.length; i++) {
                                joinedProjects.push(this.userInfo.joinedProjects[i].projectId);
                            }
                        }
                        // this.$Spin.show();
                        axios
                            .get("/GeoProblemSolving/project/inquiryByPage"+
                                    "?category="+this.currentTab+
                                    "&page="+index+
                                    "&pageSize="+this.pageSize+
                                    "&userId="+userId+
                                    "&joinedProjects="+joinedProjects)
                            .then(res => {
                                // this.$Spin.hide();
                                if(res.data !="Fail") {
                                    if (res.data === "None") {
                                        this.currentProjectList = [];
                                    }
                                    else{
                                        var category = this.currentTab;
                                        var thisCategory = [];
                                        if(category!="All"){
                                            thisCategory = res.data.projectList.filter(function(e) {
                                                if (e.category == category) {
                                                    return e;
                                                }
                                            });
                                        }
                                        else {
                                            thisCategory = res.data.projectList;
                                        }
                                        this.judgeMember(thisCategory);
                                    }
                                    this.tabPageData = Object.assign([], this.currentProjectList);
                                    this.totalCount=this.currentProjectList.length;
                                    this.freshEle++;
                                }
                                else{
                                    console.log("Fail");
                                }
                            })
                            .catch(err => {
                                console.log(err.data);
                            });
                    }
                },

                judgeMember(list) {
                    let projectList = list;
                    //判断登录状态
                    if(this.userState == true){
                        if (projectList.length != 0) {
                            for (var i = 0; i < projectList.length; i++) {
                                let managerId = projectList[i].managerId;
                                let members = projectList[i].members;
                                if (managerId ==  this.userInfo.userId) {
                                    projectList[i]["isManager"] = true;
                                } else {
                                    projectList[i]["isManager"] = false;
                                }
                                if (members.length != 0) {
                                    for (var j = 0; j < members.length; j++) {
                                        if (members[j].userId ==  this.userInfo.userId) {
                                            projectList[i]["isMember"] = true;
                                            break;
                                        } else {
                                            projectList[i]["isMember"] = false;
                                        }
                                    }
                                } else {
                                    projectList[i]["isMember"] = false;
                                }
                            }
                            this.currentProjectList = Object.assign([],projectList);
                        }
                        else{
                            this.currentProjectList=[];
                        }
                    }
                    else{
                        if (projectList.length != 0) {
                            for (var i = 0; i < projectList.length; i++) {
                                let managerId = projectList[i].managerId;
                                let members = projectList[i].members;
                                projectList[i]["isManager"] = false;
                                projectList[i]["isMember"] = false;
                            }
                            this.currentProjectList = Object.assign([],projectList);
                        }
                        else{
                            this.currentProjectList=[];
                        }
                    }
                },
                newProject() {
                    if (this.userState == false) {
                        window.location.href = "/GeoProblemSolving/login"
                    } else {
                        window.location.href = "/GeoProblemSolving/newProject"
                    }
                },
                sendMessage(recipientId){
                    this.$refs.navigationEl.sendMessage(recipientId);
                }
            }
        })
    }
</script>

</body>
</html>