<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo</title>
    <meta http-equiv="Content-Type" content=" charset=UTF-8"/>
    <link href="https://unpkg.com/ionicons@4.5.10-1/dist/css/ionicons.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/iview/3.4.2/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/iview/3.4.2/iview.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-avatar@2.1.7/dist/vue-avatar.min.js"></script>
    <script src="/GeoProblemSolving/js/crypto-js.js"></script>
    <script src="/GeoProblemSolving/customize/userRole.js"></script>

    <style scoped th:fragment="tab-style">
        img {
            width: 100%;
            height: auto;
        }

        .projectTitle {
            height: 16px;
            line-height: 15px;
            font-size: 16px;
            max-width: 150px;
            padding-left: 5px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .cardicon {
            height: 15px;
            align-items: center;
            display: flex;
            justify-content: flex-start;
            margin-top: 10px
        }

        /*Modal*/

        .ivu-modal-header {
            padding: 15px 20px 0px 20px;
            border-bottom: 0px solid #e9eaec;
        / / 下划线
        }

        .ivu-modal-header-inner {
            font-size: 16px;
        }

        /*.ivu-modal-body{*/
        /*    width: auto;*/
        /*}*/
        /*.ivu-table-wrapper{*/
        /*    width: 100%;*/
        /*}*/
        /*.ivu-table-body table{*/
        /*    width: 80%;*/
        /*}*/

        .btnCreate:hover,
        .joinProjectBtn:hover {
            background-color: #19be6b;
            color: white;
        }
    </style>

</head>
<body>
<template id="tabContent" th:fragment="tab-card">
    <div>
        <div v-if="projectList!=undefined && projectList.length > 0">
            <div class="projectCard" v-for="(item,index) in projectList" :key="item.index"
                 style="width:95%;margin-right:5%">
                <i-col :xs="{ span: 5, offset: 1 }"
                       :md="{ span:5, offset: 1 }"
                       :lg="{ span: 3, offset: 1}">
                    <div @click="projectInfoModalShow(item)" style="cursor:pointer">
                        <Card style="height:auto;margin:15px -15px">
                            <!-- title-->
                            <span slot="title" class="projectTitle" :title="item.name">{{item.name}}</span>

                            <!-- 右上角的button-->
                            <div class="operate" slot="extra" style="display:flex;align-items:center">
                                <Icon type="md-eye" :size="20" title="Public project"
                                      v-show="!(item.isManager||item.isMember) && (item.privacy=='Public')"></Icon>
                                <Icon type="md-lock" :size="20" title="Discoverable project"
                                      v-show="!(item.isManager||item.isMember) && (item.privacy=='Discoverable')"></Icon>
                                <br/>
                                <Icon type="md-person" :size="20" title="Managed or joined project"
                                      v-show="item.isMember||item.isManager" :id="item.aid"></Icon>
                            </div>
                            <!--  description-->
                            <div style="display:flex;align-items:center;height:20px">
                                <strong style="text-align: center">Description</strong>
                                <p style="padding: 0 10px;word-break:break-word;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 400px;"
                                   :title="item.description">
                                    {{item.description}}
                                </p>
                            </div>
                            <!-- avatar-->
                            <div style="height:200px;display:flex;justify-content:center;margin-top:10px">
                                <img :src="item.picture" v-if="item.picture!=''&&item.picture!='undefined'"/>
                                <avatar :username="item.name" :size="200" :title="item.name" :rounded="false"
                                        v-else></avatar>
                            </div>
                            <!--managername -->
                            <!--                            <div  class="cardicon"  >-->
                            <!--                                <Icon type="md-body" :size="15" Manager></Icon>-->
                            <!--                                <span style="height:20px;margin-left:5%">-->
                            <!--                                <strong>{{item.managerName}}</strong>-->
                            <!--                            </span>-->
                            <!--                            </div>-->
                            <!--time-->
                            <div class="cardicon">
                                <Icon type="md-clock" :size="15" Time></Icon>
                                <span style="height:20px;margin-left:5%">
                                <strong>{{item.createdTime.split(' ')[0]}}</strong>
                            </span>
                            </div>
                            <!--tag -->
                            <div class="cardicon">
                                <Icon type="md-pricetags" :size="15" Tags></Icon>
                                <strong style=" margin-left:5%; display: inline-block; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;">
                                    {{item.tag}}
                                </strong>
                            </div>
                        </Card>
                    </div>
                </i-col>
            </div>
        </div>
        <div v-else>
            <i-col span="22" offset="1">
                <Card :bordered="false" style="min-height: 350px; margin-top: 3%">
                    <div style="display:flex;justify-content:center">
                        <Icon type="md-alert" size="40" color="gray"></Icon>
                    </div>
                    <br/>
                    <div style="display:flex;justify-content:center;">
                        <h2 style="text-align:center;width:50%">No more projects in this category.</h2>
                    </div>
                    <br/>
                    <div style="display:flex;justify-content:center">
                        <h4 style="text-align:center;width:50%;color:lightblue">
                            You can click the button right top to add a new project.
                            <br/>Enriching your description of the project and attracting more people to join in.
                        </h4>
                    </div>
                </Card>
            </i-col>
        </div>

        <Modal v-model="projectInfoModal" title="Project information" width="800px" class="projectInfoModal">
            <i-table stripe border :columns="columns" :data="projectDetailInfo" :show-header="false"></i-table>
            <div slot="footer">
                <Alert show-icon style="float: left;width: fit-content;display: inline-block;" v-show="!UserState">
                    If you want to join the project, please log in first.
                </Alert>
                <i-button v-show="!UserState" type="success" @click="login">Log in</i-button>
                <i-button
                        v-show="!selectedProjectInfo.isMember&&!selectedProjectInfo.isManager && UserState && selectedProjectInfo.privacy=='Public'"
                        type="success"
                        title="Enter the project and check it"
                        @click="enterProject(selectedProjectInfo)"
                >Enter
                </i-button>
                <i-button
                        type="success"
                        @click="joinApplyModalShow(selectedProjectInfo)"
                        v-show="!selectedProjectInfo.isMember&&!selectedProjectInfo.isManager&&UserState"
                        title="Apply to join the project"
                >Apply
                </i-button>
            </div>
        </Modal>

        <Modal v-model="applyJoinModal" title="Apply to join the project">
            <i-form ref="applyValidate" :model="applyValidate" :rules="applyRuleValidate" :label-width="80">
                <form-item label="Reason" prop="reason">
                    <i-input
                            v-model="applyValidate.reason"
                            type="textarea"
                            :rows="4"
                            placeholder="Enter The Reason For Application ..."
                    ></i-input>
                </form-item>
            </i-form>
            <div slot="footer">
                <i-button @click="applyJoinModal=false">Cancel</i-button>
                <i-button type="success" @click="joinApply('applyValidate')">Apply</i-button>
            </div>
        </Modal>
    </div>
</template>


<script th:fragment="tab-component" th:inline="javascript">

    Vue.component('tab-content', {
        template: '#tabContent',
        props: ["projectList"],
        components: {
            'avatar': VueAvatar.Avatar
        },
        data() {
            return {
                selectedProjectInfo: {},
                projectInfoModal: false,//modal模态框
                columns: [
                    {title: "Key", key: "key", width: "148px"},
                    {title: "Value", key: "value", width: "618px"}
                ],
                projectDetailInfo: [],
                //加入项目
                applyProjectInfo: {},
                applyValidate: {
                    reason: ""
                },
                applyRuleValidate: {
                    reason: [
                        {required: true, message: "Please enter the reason for application", trigger: "blur"},
                        {type: "string", min: 5, message: "The reason no less than 10 characters", trigger: "blur"}
                    ]
                },
                applyJoinModal: false,
                // 记录已经申请的情况
                haveApplied: false,
                UserState: false,
                userInfo: [],
            }
        },
        mounted() {
            this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
            this.UserState = this.userInfo.userState;
        },

        methods: {
            roleIdentity(activity) {
                return roleIdentify(activity.members, this.userInfo.userId);
            },
            projectPermissionIdentity(permission, role, operation) {
                return permissionIdentity(
                    JSON.parse(permission),
                    role,
                    operation
                );
            },
            projectInfoModalShow(projectInfo) {
                if (projectInfo.isMember || projectInfo.isManager) {
                    window.location.href = "/GeoProblemSolving/projectInfo/" + projectInfo.aid;
                } else {
                    this.selectedProjectInfo = Object.assign({}, projectInfo);

                    this.projectDetailInfo = [
                        {
                            key: "Category",
                            value: projectInfo.category
                        },
                        {
                            key: "Name",
                            value: projectInfo.name
                        },
                        {
                            key: "Description",
                            value: projectInfo.description
                        },
                        {
                            key: "Tag",
                            value: projectInfo.tag
                        },
                        {
                            key: "Creator",
                            value: ""
                        },
                        {
                            key: "Members",
                            value: ""
                        },
                        {
                            key: "Created time",
                            value: projectInfo.createdTime
                        },
                        {
                            key: "Last active time",
                            value: projectInfo.activeTime
                        }
                    ];

                    axios
                        .get("/GeoProblemSolving/project/" + projectInfo.aid + "/user")
                        .then(res => {
                            if (res.data.code === 0) {
                                var participants = res.data.data;

                                //creator
                                if (participants.creator != null) {
                                    this.projectDetailInfo[4].value = participants.creator.name;
                                } else {
                                    this.$Message.info("Fail to get the information of the creator.");
                                }
                                // members
                                var membersName = "";
                                for (var i = 0; i < participants.members.length; i++) {
                                    if (i === 0) {
                                        membersName = participants.members[i].name;
                                    } else {
                                        membersName = membersName + ", " + participants.members[i].name;
                                    }
                                }
                                this.projectDetailInfo[5].value = membersName;

                                this.projectInfoModal = true;
                            } else {
                                this.$Message.info("Fail to get the information of participants");
                                console.log(res.data.msg);
                                this.projectInfoModal = true;
                            }
                        })
                        .catch(err => {
                            console.log(err.data);
                        });
                }
            },
            joinApplyModalShow(applyProjectInfo) {
                if (this.UserState) {
                    this.applyProjectInfo = Object.assign([], applyProjectInfo);
                    this.applyValidate.reason = "";
                    if (this.applyProjectInfo.privacy == "Public") {
                        if (JSON.parse(this.applyProjectInfo.permission).auto_join.visitor === "Yes") {

                            // join the project directly
                            let url = "/GeoProblemSolving/project/" + this.applyProjectInfo.aid + "/user?userId=" + this.userInfo.userId;
                            this.axios
                                .post(url)
                                .then((res) => {
                                    if (res.data.code == 0) {
                                        this.$Message.info("Join the project successfuly");
                                        window.location.href = "/GeoProblemSolving/projectInfo/" + this.applyProjectInfo.projectId;
                                    } else if (res.data.code == -3) {
                                        this.$Notice.info({
                                                desc:
                                                    "You has already been a member of the project."
                                            }
                                        );
                                    } else {
                                        this.$Message.info("Fail to join in this project");
                                        console.log(res.data.msg);
                                    }
                                })
                                .catch((err) => {
                                    throw err;
                                });
                        } else {
                            this.applyJoinModal = true;
                        }
                    } else if (this.applyProjectInfo.privacy == "Discoverable") {
                        this.applyJoinModal = true;
                    }
                } else {
                    window.location.href = "/GeoProblemSolving/login";
                }
            },
            joinApply(name) {
                this.$refs[name].validate(valid => {
                    if (valid) {
                        this.applyJoinModal = false;
                        if (
                            this.haveApplied == true &&
                            this.applyProjectInfo.projectId == sessionStorage.getItem("applyId")
                        ) {
                            this.$Notice.warning({
                                title: "Repeatedly apply",
                                desc: "You have applied successfully, no need to click again!"
                            });
                        } else {
                            if (this.UserState) {
                                sessionStorage.setItem("applyId", this.applyProjectInfo.aid);
                                let managers = getMemberByRole(this.applyProjectInfo, "manager");
                                for (var i = 0; i < managers.length; i++) {
                                    let managerId = managers[i];
                                    let joinForm = {};
                                    joinForm["recipientId"] = managerId;
                                    joinForm["type"] = "apply";
                                    joinForm["content"] = {
                                        title: "Joining project application",
                                        activityId: this.applyProjectInfo.aid,
                                        activityName: this.applyProjectInfo.name,
                                        activityLevel: 0,
                                        userEmail: this.userInfo.email,
                                        userName: this.userInfo.name,
                                        userId: this.userInfo.userId,
                                        description:
                                            "The user: " +
                                            this.userInfo.name +
                                            " apply to join your project: " +
                                            this.applyProjectInfo.name +
                                            " ." +
                                            " The reason for application is: " +
                                            this.applyValidate.reason,
                                        approve: "unknow"
                                    };
                                    axios
                                        .post("/GeoProblemSolving/notice/save", joinForm)
                                        .then(res => {
                                            if (res.data == "Success") {
                                                this.$Notice.open({
                                                    title: "Apply successfully",
                                                    desc:
                                                        "The project manager will process your apply in time,you can get a notification later to tell you the result."
                                                });
                                                this.$emit("sendNotice", managerId);
                                                this.haveApplied = true;
                                            } else {
                                                this.$Notice.open({
                                                    desc: "Notification failed."
                                                });
                                            }
                                        })
                                        .catch(err => {
                                            throw err;
                                        });

                                    let emailObject = {
                                        recipient: managerId,
                                        mailTitle: "Project application",
                                        mailContent:
                                            joinForm.content.description +
                                            "<br>" +
                                            "You can click this url and enter the site to process this application: " +
                                            "http://" +
                                            window.location.host +
                                            "/GeoProblemSolving/home"
                                    };
                                    axios
                                        .post("/GeoProblemSolving/project/" + this.applyProjectInfo.aid + "/application", emailObject)
                                        .then(res => {
                                            if (res.data == "Success") {
                                                console.log("Email Success.");
                                            } else {
                                                console.log("Email fail.");
                                            }
                                        })
                                        .catch(err => {
                                            console.log("Email fail.");
                                        });
                                }
                            } else {
                                this.$Message.error("You must have an account before application.");
                                window.location.href = "/GeoProblemSolving/login"
                            }
                        }
                    }
                });
            },
            login() {
                window.location.href = "/GeoProblemSolving/login";
            },
            enterProject(projectInfo) {
                if (JSON.parse(projectInfo.permission).observe.visitor === "Yes") {
                    window.location.href = "/GeoProblemSolving/projectInfo/" + projectInfo.aid;
                } else {
                    this.$Message.error("Please apply to join the activity.");
                }
            },
        }
    });


</script>

</body>
</html>