<style scoped th:fragment="task-css">
    .createTaskBtn {
        font-size: 10px;
    }

    .createTaskBtn:hover {
        color: white;
        background: #47cb89;
    }

    .title {
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid lightgray;
    }

    .taskFormItem {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .taskFormItem span {
        text-align: center;
    }

    #taskContainer {
        padding: 10px;
        background-color: white;
    }

    .taskList {
        min-height: 60px;
        background: #f7f7f7;
    }

    .name {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 120px;
    }
</style>
<template th:fragment="task-html" id="taskComponent">
    <div>
        <Row>
            <!-- <i-col span="4" offset="20" style="margin-top:10px"> -->
            <!-- <span id="todoPanel" style="cursor:pointer;color:#57a3f3" @click="switch2Manager">Task manager</span>
            <Divider type="vertical" ></Divider>
            <span id="ganttPanel" style="cursor:pointer" @click="switch2Gantt">Gantt chart</span> -->
            <!-- </i-col> -->
            <!-- <i-col id="taskPage" span="23" offset="1"> -->
            <div id="taskContainer" :style="{height:contentHeight+'px'}">
                <template v-if="!chartSwitch">
                    <Row type="flex" justify="space-around">
                        <!--                        task to-->
                        <i-col span="7">
                            <Card :padding="0" :border="false">
                                <h3 slot="title">Todo</h3>
                                <i-button slot="extra" type="default" class="createTaskBtn" style="margin-top:-8px"
                                          @click="createTaskModalShow()"
                                          v-if="taskPermissionIdentity(projectInfo.permission, userRole, 'create_task')">
                                    Add
                                </i-button>
                                <vue-scroll :ops="ops" :style="{height:contentHeight-80+'px'}">
                                    <draggable
                                            :disabled="!taskPermissionIdentity(projectInfo.permission, userRole,'manage_task')"
                                            class="taskList" element="ul"
                                            :options="{group:'task'}" v-model="taskTodo"
                                            :style="{height:contentHeight-80+'px'}"
                                            @start="setMoveCount()" @update="updateMoveTask(taskTodo,'todo')"
                                            @add="addMoveTask(taskTodo,'todo')"
                                            @remove="removeMoveTask(taskTodo,'todo')">
                                        <Card v-for="(item,index) in taskTodo" :key="index" :padding="3"
                                              style="margin:5px">
                                            <div>
                                            <span style="float:left;padding:0 2.5px">
                                                <Icon type="ios-list" color="gray" :size="20"></Icon>
                                            </span>
                                                <span style="padding:5px">
                                                <strong style="color:#57a3f3" class="name"
                                                        :title="item.name">{{item.name}}</strong>
                                            </span>
                                                <div style="float:right">
                                                    <Rate :disabled="!(taskPermissionIdentity(projectInfo.permission, userRole,'manage_task') || userInfo.userId == item.creatorId)"
                                                          v-model="item.importance" :count="1" clearable
                                                          title="Importance" @on-change="changeImportance(item)"
                                                    ></Rate>
                                                    <template
                                                            v-if="taskPermissionIdentity(projectInfo.permission, userRole, 'manage_task') || userInfo.userId == item.creatorId">
                                                        <span title="Edit">
                                                            <Icon type="ios-create" color="gray" :size="20"
                                                                  style="cursor:pointer"
                                                                  @click="editOneTask(index, taskTodo)"></Icon>
                                                        </span>
                                                        <span style="margin-left:5px;margin-right:3px;cursor: pointer;color:gray;"
                                                              title="Delete" @click="taskRemoveAssure(index,taskTodo)">
                                                            <Icon type="ios-trash" :size="20" color="gray"></Icon>
                                                        </span>
                                                    </template>
                                                </div>
                                                <p style="word-break:break-word;padding:5px;cursor:pointer"
                                                   @click="showTask(index, taskTodo)">{{item.description}}</p>
                                                <div style="display:flex;justify-content:flex-end">
                                                    <Tag color="default" style="cursor:default">{{item.creatorName}}
                                                    </Tag>
                                                </div>
                                            </div>
                                        </Card>
                                        <Spin size="large" fix v-if="todoLoading"></Spin>
                                    </draggable>
                                </vue-scroll>
                            </Card>
                        </i-col>
                        <!--                        task doing-->
                        <i-col span="7">
                            <Card :padding="0" :border="false">
                                <h3 slot="title">Doing</h3>
                                <vue-scroll :ops="ops" :style="{height:contentHeight-80+'px'}">
                                    <draggable
                                            :disabled="!taskPermissionIdentity(projectInfo.permission, userRole,'manage_task')"
                                            class="taskList" element="ul"
                                            :options="{group:'task'}" v-model="taskDoing"
                                            :style="{height:contentHeight-80+'px'}"
                                            @start="setMoveCount()" @update="updateMoveTask(taskDoing,'doing')"
                                            @add="addMoveTask(taskDoing,'doing')"
                                            @remove="removeMoveTask(taskDoing,'doing')">
                                        <Card v-for="(item,index)  in taskDoing" :key="index" :padding="3"
                                              style="margin:5px">
                                            <div>
                                            <span style="float:left;padding:0 2.5px">
                                                <Icon type="ios-information-circle-outline" color="gray"
                                                      :size="20"></Icon>
                                            </span>
                                                <span style="padding:5px">
                                                <strong style="color:#57a3f3" class="name"
                                                        :title="item.name">{{item.name}}</strong>
                                            </span>
                                                <div style="float:right">
                                                    <Rate :disabled="!(taskPermissionIdentity(projectInfo.permission, userRole, 'manage_task') || userInfo.userId == item.creatorId)"
                                                          v-model="item.importance" :count="1" clearable
                                                          title="Importance" @on-change="changeImportance(item)"></Rate>
                                                    <template
                                                            v-if="taskPermissionIdentity(projectInfo.permission, userRole, 'manage_task') || userInfo.userId == item.creatorId">
                                                    <span title="Edit">
                                                        <Icon type="ios-create" color="gray" :size="20"
                                                              style="cursor:pointer"
                                                              @click="editOneTask(index,taskDoing)"></Icon>
                                                    </span>
                                                        <span style="margin-left:5px;margin-right:3px;cursor: pointer;color:gray;"
                                                              title="Delete" @click="taskRemoveAssure(index,taskDoing)">
                                                        <Icon type="ios-trash" :size="20" color="gray"></Icon>
                                                    </span>
                                                    </template>
                                                </div>
                                            </div>
                                            <p style="word-break:break-word;padding:5px;cursor:pointer"
                                               @click="showTask(index,taskDoing)">{{item.description}}</p>
                                            <div style="display:flex;justify-content:flex-end">
                                                <Tag color="default" style="cursor:default">{{item.managerName}}</Tag>
                                            </div>
                                        </Card>
                                        <Spin size="large" fix v-if="doingLoading"></Spin>
                                    </draggable>
                                </vue-scroll>
                            </Card>
                        </i-col>
                        <!--                        task done-->
                        <i-col span="7">
                            <Card :padding="0" :border="false">
                                <h3 slot="title">Done</h3>
                                <vue-scroll :ops="ops" :style="{height:contentHeight-80+'px'}">
                                    <draggable
                                            :disabled="!taskPermissionIdentity(projectInfo.permission, userRole,'manage_task')"
                                            class="taskList" element="ul"
                                            :options="{group:'task'}" v-model="taskDone"
                                            :style="{height:contentHeight-80+'px'}"
                                            @start="setMoveCount()" @update="updateMoveTask(taskDone,'done')"
                                            @add="addMoveTask(taskDone,'done')"
                                            @remove="removeMoveTask(taskDone,'done')">
                                        <Card v-for="(item,index) in taskDone" :key="index" :padding="3"
                                              style="margin:5px">
                                            <div>
                                            <span style="float:left;padding:0 2.5px">
                                                <Icon type="md-checkmark-circle-outline"></Icon>
                                            </span>
                                                <span style="padding:5px">
                                                <strong style="color:#57a3f3" class="name"
                                                        :title="item.name">{{item.name}}</strong>
                                            </span>
                                                <div style="float:right">
                                                    <Rate :disabled="!(taskPermissionIdentity(projectInfo.permission, userRole, 'manage_task') || userInfo.userId == item.creatorId)"
                                                          v-model="item.importance" :count="1" clearable
                                                          title="Importance" @on-change="changeImportance(item)"></Rate>
                                                    <template
                                                            v-if="taskPermissionIdentity(projectInfo.permission, userRole, 'manage_task') || userInfo.userId == item.creatorId">
                                                    <span title="Edit">
                                                        <Icon type="ios-create" color="gray" :size="20"
                                                              style="cursor:pointer"
                                                              @click="editOneTask(index,taskDone)"></Icon>
                                                    </span>
                                                        <span style="margin-left:5px;margin-right:3px;cursor: pointer;color:gray;"
                                                              title="Delete" @click="taskRemoveAssure(index,taskDone)">
                                                        <Icon type="ios-trash" :size="20" color="gray"></Icon>
                                                    </span>
                                                    </template>
                                                </div>
                                                <p style="word-break:break-word;padding:5px;cursor:pointer"
                                                   @click="showTask(index,taskDone)">{{item.description}}</p>
                                                <div style="display:flex;justify-content:flex-end">
                                                    <Tag color="default" style="cursor:default">{{item.managerName}}
                                                    </Tag>
                                                </div>
                                            </div>
                                        </Card>
                                        <Spin size="large" fix v-if="doneLoading"></Spin>
                                    </draggable>
                                </vue-scroll>
                            </Card>
                        </i-col>
                    </Row>
                </template>
                <div v-show="chartSwitch">
                    <vue-scroll :ops="scrollOps" :style="{height:contentHeight - 15 +'px'}">
                        <gantt-elastic :tasks="ganttTasks" :options="ganttOptions"></gantt-elastic>
                    </vue-scroll>
                </div>
            </div>
            <!-- </i-col> -->
        </Row>
        <Modal v-model="taskDeleteModal" title="Delete Task" @on-ok="taskRemove()" ok-text="OK" cancel-text="Cancel">
            <p>Do yout want to delete this task?</p>
        </Modal>
        <Modal v-model="createTaskModal" title="Create Task" width="800px" :closable="false">
            <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100"
                    style="margin-left: 30px">
                <Form-item label="Name" prop="name">
                    <i-input v-model="formValidate.name" placeholder="Fill in the name of task..."
                             style="width: 560px"/>
                </Form-item>
                <Form-item label="Description" prop="description">
                    <i-input v-model="formValidate.description" type="textarea"
                             placeholder="Fill in the description of task..." style="width: 560px"
                             :autosize="{minRows: 6}"/>
                </Form-item>
                <Form-item label="Start time" prop="startTime">
                    <date-picker v-model="formValidate.startTime" type="datetime" format="yyyy-MM-dd HH:mm:ss"
                                 placeholder="Select start time..."
                                 style="width: 560px"></date-picker>
                </Form-item>
                <Form-item label="End time" prop="endTime">
                    <date-picker v-model="formValidate.endTime" type="datetime" format="yyyy-MM-dd HH:mm:ss"
                                 placeholder="Select end time..."
                                 style="width: 560px"></date-picker>
                </Form-item>
                <Form-item label prop="importance">
                    <Checkbox v-model="formValidate.importanceCheck">Important Task</Checkbox>
                </Form-item>
            </i-form>
            <div slot="footer">
                <i-button type="text" @click="createTaskModal=false">Cancel</i-button>
                <i-button type="primary" @click="createTask('formValidate')">Create</i-button>
            </div>
        </Modal>
        <Modal v-model="editTaskModal" title="Edit Task" @on-ok="updateTask('formValidate')" ok-text="Ok"
               cancel-text="Cancel" width="800px"
               :closable="false">
            <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100"
                    style="margin-left: 30px">
                <Form-item label="Name" prop="name">
                    <i-input v-model="formValidate.name" placeholder="Fill in the name of task..."
                             style="width: 560px"/>
                </Form-item>
                <Form-item label="Description" prop="description">
                    <i-input v-model="formValidate.description" type="textarea"
                             placeholder="Fill in the description of task..." style="width:560px"
                             :autosize="{minRows: 6}"/>
                </Form-item>
                <Form-item label="Start time" prop="startTime">
                    <date-picker v-model="formValidate.startTime" type="datetime" format="yyyy-MM-dd HH:mm:ss"
                                 placeholder="Select start time..."
                                 style="width: 560px"></date-picker>
                </Form-item>
                <Form-item label="End time" prop="endTime">
                    <date-picker v-model="formValidate.endTime" type="datetime" format="yyyy-MM-dd HH:mm:ss"
                                 placeholder="Select end time..."
                                 style="width: 560px"></date-picker>
                </Form-item>
                <Form-item label prop="importance">
                    <Checkbox v-model="formValidate.importanceCheck">Important Task</Checkbox>
                </Form-item>
            </i-form>
            <div slot="footer">
                <i-button type="text" @click="editTaskModal=false">Cancel</i-button>
                <i-button type="primary" @click="updateTask('formValidate')">Update</i-button>
            </div>
        </Modal>
        <Modal v-model="taskDetailModal" title="Task Detail" width="800px">
            <div class="taskFormItem">
                <span style="width:15%">Task name</span>
                <i-input style="width: 600px" :placeholder="this.taskPlaceHolder.name" v-model="taskInfo.name"
                         readonly/>
            </div>
            <div class="taskFormItem">
                <span style="width:15%">Description</span>
                <i-input style="width: 600px" :placeholder="this.taskPlaceHolder.description" type="textarea" :rows="4"
                         v-model="taskInfo.description"
                         :autosize="{minRows: 6}" readonly/>
            </div>
            <div class="taskFormItem">
                <span style="width:15%">Start time</span>
                <date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" :placeholder="this.taskPlaceHolder.startTime"
                             style="width: 600px"
                             v-model="taskInfo.startTime" readonly></date-picker>
            </div>
            <div class="taskFormItem" style="margin-bottom:10px">
                <span style="width:15%">End time</span>
                <date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" :placeholder="this.taskPlaceHolder.endTime"
                             style="width: 600px"
                             v-model="taskInfo.endTime" readonly></date-picker>
            </div>
            <div slot="footer"></div>
        </Modal>
    </div>
</template>
<script th:fragment="task-js">

    //父子组件传参，从projectDetail组件，将projectInfo以及userRole传过来。
    Vue.component('child-task', {
        template: '#taskComponent',
        props: ["projectInfo", "userRole"], //子项目管理者Manager，项目管理者PManager,成员Member
        data() {
            return {
                todoLoading: true,
                doingLoading: true,
                doneLoading: true,
                userInfo: {
                    userState: false,
                    name: 'visitor',
                    userId: '',
                    avatar: '',
                },
                ops: {
                    bar: {
                        background: "#808695"
                    }
                },
                scrollOps: {
                    bar: {
                        background: "#808080",
                        keepShow: true,
                        size: "8px"
                    },
                    rail: {
                        background: "#d7d7d7",
                        opacity: 0.8,
                        size: "10px"
                    }
                },
                // 后台获取的subproject下的task列表
                taskList: [],
                selectTaskIndex: 0,
                taskDeleteModal: false,
                // 创建任务的模态框
                createTaskModal: false,
                // 编辑任务的模态框
                editTaskModal: false,
                taskDetailModal: false,
                // task的placeHolder默认值
                taskPlaceHolder: {
                    description: "Please input the task description.",
                    name: "Please input the task name",
                    startTime: "Choose the start time of task",
                    endTime: "Choose the end time of task"
                },
                //task相关
                taskInfo: {},
                taskTodo: [],
                taskDoing: [],
                taskDone: [],
                MoveCount: 0,
                // 动态记录相关
                // 消息
                projectSocket: null,
                timer: null,
                socketMsg: {
                    type: "",
                    time: "",
                    who: "",
                    whoid: "",
                    content: ""
                },
                formValidate: {
                    name: "",
                    description: "",
                    startTime: "",
                    endTime: "",
                    importanceCheck: false
                },
                ruleValidate: {
                    name: [
                        {required: true, message: "Please enter name...", trigger: "blur"}
                    ],
                    description: [
                        {required: true, message: "Please select type...", trigger: "blur"}
                    ],
                    startTime: [{required: true, type: "date", trigger: "blur"}],
                    endTime: [{required: true, type: "date", trigger: "blur"}]
                },
                contentHeight: 0,
                chartSwitch: false, // 切换至甘特图
                // gantt 图
                ganttTasks: [
                    {
                        id: 1,
                        name: "",
                        user: "",
                        start: new Date(),
                        end: new Date(),
                        progress: 0,
                        type: "task"
                    }
                ],
                ganttOptions: {
                    maxRows: 100,
                    maxHeight: this.contentHeight - 60,
                    row: {
                        height: 24
                    },
                    calendar: {
                        hour: {
                            display: false
                        }
                    },
                    chart: {
                        progress: {
                            bar: false
                        },
                        expander: {
                            display: true
                        }
                    },
                    taskList: {
                        expander: {
                            straight: false
                        },
                        columns: [
                            {
                                id: 1,
                                label: "ID",
                                value: "id",
                                width: 40
                            },
                            {
                                id: 2,
                                label: "Name",
                                value: "name",
                                width: 200,
                                expander: true
                            },
                            {
                                id: 3,
                                label: "Assigned to",
                                value: "user",
                                width: 100
                            },
                            {
                                id: 4,
                                label: "Start",
                                value: task => dayjs(task.start).format("YYYY-MM-DD"),
                                width: 90
                            },
                            {
                                id: 5,
                                label: "End",
                                value: task => dayjs(task.end).format("YYYY-MM-DD"),
                                width: 90
                            }
                        ]
                    }
                },
                editTaskState: "",
                taskSocket: null,
                removeTaskState: "",
                taskParticipants: []
            };
        },
        created() {
            this.initSize();
            this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
        },
        mounted() {
            this.inquiryTask();
            window.addEventListener("resize", this.initSize);
        },
        beforeRouteEnter(to, from, next){
            this.initWebSocket();
        },
        beforeRouteLeave(to, from, next) {
            this.taskSocket.close();
            this.removeTimer();
            next();
        },
        beforeDestroy: function () {
            window.removeEventListener("resize", this.initSize);
        },
        methods: {
            taskPermissionIdentity(permission, role, operation) {
                return permissionIdentity(
                    JSON.parse(permission),
                    role,
                    operation
                );
            },
            initSize() {
                if (window.innerHeight > 735) {
                    this.contentHeight = window.innerHeight - 236;
                } else {
                    this.contentHeight = 499;
                }
            },
            //webSocket 相关内容
            intWebSocket: function () {
                this.taskSocket = null;
                let taskSocketURL = `${window.location.protocol === 'https:' ? 'wss://' : 'ws://'}` + window.location.host + "/GeoProblemSolving/OperationServer/task/" + this.projectInfo.aid;
                if (window.location.host == "localhost:8080") {
                    taskSocketURL = "ws://localhost:8081/GeoProblemSolving/OperationServer/task/" + this.projectInfo.aid;
                }
                //实例化webSocket，然后绑定方法
                this.taskSocket = new WebSocket(taskSocketURL);
                this.taskSocket.onopen = this.onOpen;
                this.taskSocket.onmessage = this.onMessage;
                this.taskSocket.onclose = this.onClose;
                this.taskSocket.onerror = this.onError;
            },
            onOpen: function() {
                this.sendMessage({"type": "test"})
                console.log("Connection successfully.");
            },
            onMessage: function(e) {
                let messageJson = JSON.parse(e.data);
                let behavior = messageJson.behavior;
                let content = messageJson.content;
                if (messageJson.type == "members"){
                    if (behavior == "on"){
                        let joiner = messageJson.activeUser;
                        this.$Notice.success({title: "Join",desc: joiner.name + " join."});
                    }else if(behavior == "off"){
                        let joiner = messageJson.activeUser;
                        this.$Notice.info({title: "Exit",desc: joiner.name + " exit."});
                    }
                }else if (messageJson.type == "task"){
                    if(behavior == "create"){
                        let task = content.newTask;
                        this.taskTodo.push(task);
                    } else if (behavior == "importance") {
                        let taskState = content.state;
                        let taskId = content.taskId;
                        let importance = content.importance;
                        switch (taskState) {
                            case "todo":
                                this.taskTodo.forEach(item => {
                                    if (item.taskId == taskId) {
                                        item.importance = importance;
                                    }
                                })
                                break;
                            case "doing":
                                this.taskDoing.forEach(item => {
                                    if (item.taskId == taskId) {
                                        item.importance = importance;
                                    }
                                })
                                break;
                            case "done":
                                this.taskDone.forEach(item => {
                                    if (item.taskId == taskId) {
                                        item.importance = importance;
                                    }
                                })
                                break;
                        }
                    } else if (behavior == "updateTask") {
                        let taskState = content.state;
                        let putTask = content.editedTask;
                        let taskId = putTask.taskId;
                        switch (taskState) {
                            case "todo":
                                this.taskTodo.forEach(item => {
                                    if (item.taskId == taskId) {
                                        Object.assign(item, putTask);
                                    }
                                })
                                break;
                            case "doing":
                                this.taskDoing.forEach(item => {
                                    if (item.taskId == taskId) {
                                        Object.assign(item, putTask);
                                    }
                                })
                                break;
                            case "done":
                                this.taskDone.forEach(item => {
                                    if (item.taskId == taskId) {
                                        Object.assign(item, putTask);
                                    }
                                })
                                break;
                        }
                    } else if (behavior == "order") {
                        let taskState = content.state;
                        let taskList = content.taskList;
                        switch (taskState) {
                            case "todo":
                                this.$set(this, "taskTodo", taskList);
                                break;
                            case "doing":
                                this.$set(this, "taskDoing", taskList);
                                break;
                            case "done":
                                this.$set(this, "taskDone", taskList);
                                break;
                        }
                    }else if (behavior == "remove"){
                        let taskState = content.state;
                        let index = content.removeIndex;
                        switch (taskState) {
                            case "todo":
                                this.taskTodo.splice(index, 1);
                                break;
                            case "doing":
                                this.taskDoing.splice(index, 1);
                                break;
                            case "done":
                                this.taskDone.splice(index, 1);
                                break;
                        }
                    }
                }


                // let record = {
                //     type: "",
                //     time: "",
                //     who: "",
                //     content: ""
                // };
                // 任务记录
                // if (messageJson.type == "tasks") {
                //     this.inquiryTask();
                // }
            },
            onClose: function(e) {
                this.removeTimer();
                console.log("WebSocket disconnected");
            },
            onError: function(e) {
                this.removeTimer();
                console.log("WebSocket throw a exception and has disconnected. Exception: " + e.toString());
            },
            sendMessage: function (agentData) {
                agentData.sender = this.userInfo.userId;
                if (this.taskSocket != null) {
                    this.taskSocket.send(JSON.stringify(agentData));
                }
            },
            //ping
            setTimer() {
                let that = this;
                this.timer = setInterval(() => {
                    let messageJson = {};
                    messageJson["type"] = "ping";
                    messageJson["message"] = "ping";
                    if (
                        that.taskSocket != null &&
                        that.taskSocket != undefined
                    ) {
                        that.taskSocket.send(JSON.stringify(messageJson));
                    }
                }, 20000);
            },
            removeTimer() {
                clearInterval(this.timer);
            },

            ok() {
                this.$Message.info("Clicked ok");
            },
            cancel() {
            },
            //创建任务
            createTaskModalShow() {
                let taskDefult = {
                    name: "",
                    description: "",
                    startTime: "",
                    endTime: "",
                    state: "todo"
                };
                this.$set(this, "taskInfo", taskDefult);
                this.$set(this, "formValidate", taskDefult);
                this.createTaskModal = true;
            },
            createTask(name) {
                this.$refs[name].validate(valid => {
                    if (valid) {
                        let taskForm = {};
                        taskForm["name"] = this.formValidate.name;
                        taskForm["name"] = this.formValidate.name;
                        taskForm["description"] = this.formValidate.description;
                        taskForm["startTime"] = new Date(this.formValidate.startTime);
                        taskForm["endTime"] = new Date(this.formValidate.endTime);
                        taskForm["creatorId"] = this.userInfo.userId;
                        taskForm["creatorName"] = this.userInfo.name;
                        taskForm["managerName"] = this.userInfo.name;
                        taskForm["importance"] = this.formValidate.importanceCheck ? 1 : 0;
                        taskForm["aid"] = this.projectInfo.aid;
                        taskForm["state"] = "todo";
                        taskForm["order"] = this.taskTodo.length;
                        axios
                            .post("/GeoProblemSolving/task/save", taskForm)
                            .then(res => {
                                if (res.data == "Offline") {
                                    confirm("You are offline, please login again.");
                                } else if (res.data != "Fail") {
                                    // 任务更新socket
                                    this.addNewTask(res.data);
                                    this.createTaskModal = false;
                                    let task = res.data;
                                    //
                                    let sockMsg = {};
                                    sockMsg["type"] = "task";
                                    sockMsg["behavior"] = "create";
                                    sockMsg["content"] = {
                                        "newTask": task,
                                    };
                                    this.sendMessage(sockMsg);
                                }
                            })
                            .catch(err => {
                            });
                    } else {
                        this.$Message.error("Please enter the necessary information!");
                    }
                });
            },
            addNewTask(newTaskObject) {
                this.taskTodo.push(newTaskObject);
            },
            changeImportance(task) {
                let taskForm = new URLSearchParams();
                taskForm.append("taskId", task.taskId);
                taskForm.append("importance", task.importance);
                axios
                    .post("/GeoProblemSolving/task/update", taskForm)
                    .then(res => {
                        if (res.data == "Offline") {
                            confirm("You are offline, please login again.");
                        } else if (res.data != "None" && res.data != "Fail") {
                            let sockMsg = {};
                            sockMsg["type"] = "task";
                            sockMsg["behavior"] = "importance";
                            sockMsg["content"] = {
                                "taskId": task.taskId,
                                "state": task.state,
                                "importance": task.importance
                            };

                            this.sendMessage(sockMsg);
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        console.log(err.data);
                    });
            },
            //打开task编辑器
            editOneTask(index, taskList) {
                axios
                    .get(
                        "/GeoProblemSolving/task/inquiry?" +
                        "key=taskId" +
                        "&value=" +
                        taskList[index]["taskId"]
                    )
                    .then(res => {
                        if (res.data != "Fail") {
                            let taskInfoRes = res.data[0];
                            taskInfoRes.startTime = new Date(taskInfoRes.startTime);
                            taskInfoRes.endTime = new Date(taskInfoRes.endTime);
                            taskInfoRes.importanceCheck = taskInfoRes.importance ? true : false;
                            this.$set(this, "formValidate", taskInfoRes);
                            this.editTaskModal = true;
                            this.editTaskState = taskInfoRes.state;
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        this.$Message.error("Fail!");
                    });
            },
            showTask(index, taskList) {
                axios
                    .get(
                        "/GeoProblemSolving/task/inquiry?" +
                        "key=taskId" +
                        "&value=" +
                        taskList[index]["taskId"]
                    )
                    .then(res => {
                        if (res.data != "Fail") {
                            let taskInfoRes = res.data[0];
                            taskInfoRes.startTime = new Date(taskInfoRes.startTime);
                            taskInfoRes.endTime = new Date(taskInfoRes.endTime);
                            this.$set(this, "taskInfo", taskInfoRes);
                            this.taskDetailModal = true;
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        this.$Message.error("Fail!");
                    });
            },
            updateTaskList(taskObject) {
                taskObject.importanceCheck = taskObject.importance ? 1 : 0;
                switch (taskObject.state) {
                    case "todo": {
                        let taskList = this.taskTodo;
                        for (let i = 0; i < taskList.length; i++) {
                            if (taskList[i].taskId == taskObject.taskId) {
                                this.$set(this.taskTodo, i, taskObject);
                                break;
                            }
                        }
                        break;
                    }
                    case "doing": {
                        let taskList = this.taskDoing;
                        for (let i = 0; i < taskList.length; i++) {
                            if (taskList[i].taskId == taskObject.taskId) {
                                this.$set(this.taskDoing, i, taskObject);
                                break;
                            }
                        }
                        break;
                    }
                    case "done": {
                        let taskList = this.taskDone;
                        for (let i = 0; i < taskList.length; i++) {
                            if (taskList[i].taskId == taskObject.taskId) {
                                this.$set(this.taskDone, i, taskObject);
                                break;
                            }
                        }
                        break;
                    }
                }
            },
            //更新某个task
            updateTask(name) {
                this.$refs[name].validate(valid => {
                    if (valid) {
                        let taskForm = new URLSearchParams();
                        taskForm.append("taskId", this.formValidate.taskId);
                        taskForm.append("name", this.formValidate.name);
                        taskForm.append("description", this.formValidate.description);
                        taskForm.append("startTime", new Date(this.formValidate.startTime));
                        taskForm.append("endTime", new Date(this.formValidate.endTime));
                        let importance = this.formValidate.importanceCheck ? 1 : 0;
                        taskForm.append("importance", importance);
                        axios
                            .post("/GeoProblemSolving/task/update", taskForm)
                            .then(res => {
                                if (res.data == "Offline") {
                                    confirm("You are offline, please login again.");
                                } else if (res.data != "None" && res.data != "Fail") {
                                    this.updateTaskList(res.data); // 只更新单个任务

                                    let sockMsg = {};
                                    sockMsg["type"] = "task";
                                    sockMsg["behavior"] = "updateTask";
                                    sockMsg["content"] = {
                                        "state": this.editTaskState,
                                        "editedTask": taskForm
                                    };

                                    this.sendMessage(sockMsg);
                                } else {
                                    this.$Message.error("Fail!");
                                }
                            })
                            .catch(err => {
                                console.log(err.data);
                            });
                    } else {
                        this.$Message.error("Please enter the necessary information!");
                    }
                });
            },
            //查询task
            inquiryTask() {
                this.inquiryTodoTask();
                this.inquiryDoingTask();
                this.inquiryDoneTask();
            },
            inquiryTodoTask() {
                axios
                    .get(
                        "/GeoProblemSolving/task/inquiryTodo?" +
                        "aid=" +
                        this.projectInfo.aid
                    )
                    .then(res => {
                        // this.todoLoading=false;
                        this.$set(this, "todoLoading", false);
                        if (res.data != "None" && res.data != "Fail") {
                            this.$set(this, "taskTodo", res.data);
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        this.$set(this, "todoLoading", false);
                        console.log(err.data);
                    });
            },
            inquiryDoingTask() {
                axios
                    .get(
                        "/GeoProblemSolving/task/inquiryDoing?" +
                        "aid=" +
                        this.projectInfo.aid
                    )
                    .then(res => {
                        // this.doingLoading=false;
                        this.$set(this, "doingLoading", false);
                        if (res.data != "None" && res.data != "Fail") {
                            this.$set(this, "taskDoing", res.data);
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        this.$set(this, "doingLoading", false);
                        console.log(err.data);
                    });
            },
            inquiryDoneTask() {
                axios
                    .get(
                        "/GeoProblemSolving/task/inquiryDone?" +
                        "aid=" +
                        this.projectInfo.aid
                    )
                    .then(res => {
                        // this.doneLoading=false;
                        this.$set(this, "doneLoading", false);
                        if (res.data != "None" && res.data != "Fail") {
                            this.$set(this, "taskDone", res.data);
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        this.$set(this, "doneLoading", false);
                        console.log(err.data);
                    });
            },
            setMoveCount() {
                this.MoveCount = 2;
            },
            addMoveTask(taskList, type) {
                this.MoveCount--;
                this.taskOrderUpdate(taskList, type);
            },
            removeMoveTask(taskList, type) {
                this.MoveCount--;
                this.taskOrderUpdate(taskList, type);
            },
            updateMoveTask(taskList, type) {
                this.MoveCount -= 2;
                this.taskOrderUpdate(taskList, type);
            },
            taskOrderUpdate(taskList, type) {
                //变了过后的序列
                if (this.userRole != "Visitor" && this.userRole != "Token") {
                    let thisUserName = this.userInfo.name;
                    let stateChangeIndex = 0;
                    let count = taskList.length;
                    for (let i = 0; i < taskList.length; i++) {
                        let thisTask = taskList[i];
                        //order或state不相等则位置发生变化
                        if (thisTask.order != i || thisTask.state != type) {
                            //state不相等，状态发生变化
                            if (thisTask.state != type) {
                                stateChangeIndex = i;
                                let taskUpdateObj = new URLSearchParams();
                                taskUpdateObj.append("taskId", taskList[i]["taskId"]);
                                taskUpdateObj.append("order", i);
                                taskUpdateObj.append("state", type);
                                taskUpdateObj.append("managerName", thisUserName);
                                axios
                                    .post("/GeoProblemSolving/task/update", taskUpdateObj)
                                    .then(res => {
                                        count--;
                                        if (res.data == "Offline") {
                                            confirm("You are offline, please login again.");
                                        } else if (res.data != "Fail") {
                                            //更新数组
                                            taskList[stateChangeIndex].order = stateChangeIndex;
                                            taskList[stateChangeIndex].managerName = thisUserName;
                                            // if (this.MoveCount == 0 && count == 1) {
                                            //     this.endMove();
                                            // }
                                        }
                                    })
                                    .catch(err => {
                                        console.log(err.data);
                                    });
                            } else {
                                //状态不变，顺序发生变化
                                let taskUpdateObj = new URLSearchParams();
                                taskUpdateObj.append("taskId", taskList[i]["taskId"]);
                                taskUpdateObj.append("order", i);
                                taskUpdateObj.append("state", type);
                                axios
                                    .post("/GeoProblemSolving/task/update", taskUpdateObj)
                                    .then(res => {
                                        count--;
                                        if (res.data == "Offline") {
                                            confirm("You are offline, please login again.");
                                        } else if (res.data != "Fail") {
                                            //更新顺序i
                                            taskList[i].order = i;
                                            // if (this.MoveCount == 0 && count == 1) {
                                            //     this.endMove();
                                            // }
                                        }
                                    })
                                    .catch(err => {
                                        console.log(err.data);
                                    });
                            }
                        }
                    }

                    let sockMsg = {};
                    sockMsg["type"] = "task";
                    sockMsg["behavior"] = "order";
                    sockMsg["content"] = {
                        "state": type,
                        "taskList": taskList
                    };
                    this.sendMessage(sockMsg);

                }
            },
            endMove() {
                // 任务更新socket
                this.socketMsg.whoid = this.userInfo.userId;
                this.socketMsg.who = this.userInfo.name;
                this.socketMsg.type = "tasks";
                this.socketMsg.content = "changed the task schedule.";
                this.socketMsg.time = new Date().toLocaleString();
                // this.sendMessage(this.socketMsg);
            },
            taskRemoveAssure(index, taskList) {
                this.taskDeleteModal = true;
                this.selectTaskIndex = index;
                this.removeTaskState = taskList[index].state;
                this.taskList = taskList;
            },
            taskRemove() {
                axios
                    .get(
                        "/GeoProblemSolving/task/delete" +
                        "?taskId=" +
                        this.taskList[this.selectTaskIndex]["taskId"]
                    )
                    .then(res => {
                        if (res.data == "Success") {
                            this.taskList.splice(this.selectTaskIndex, 1);

                            let sockMsg = {};
                            sockMsg["type"] = "task";
                            sockMsg["behavior"] = "remove";
                            sockMsg["content"] = {
                                "state": this.removeTaskState,
                                "removeIndex": this.selectTaskIndex
                            };
                            this.sendMessage(sockMsg);
                        } else {
                            this.$Message.error("Fail!");
                        }
                    })
                    .catch(err => {
                        this.$Message.error("Fail!");
                    });
            },
            isMember(members) {
                let isMember = false;
                for (let i = 0; i < members.length; i++) {
                    if (members[i].userId === this.userInfo.userId) {
                        isMember = true;
                        break;
                    }
                }
                if (isMember) {
                    return true;
                } else {
                    return false;
                }
            },
            initGantt() {
                this.ganttTasks = [];
                for (let i = 0; i < this.taskDoing.length; i++) {
                    let gantttask = {
                        id: i + 1,
                        name: this.taskDoing[i].name,
                        user: this.taskDoing[i].managerName,
                        start: new Date(this.taskDoing[i].startTime),
                        end: new Date(this.taskDoing[i].endTime),
                        type: "task",
                        progress: 100,
                        style: {
                            base: {
                                fill: "#1EBC61"
                            }
                        }
                    };
                    this.ganttTasks.push(gantttask);
                }
                for (let i = 0; i < this.taskTodo.length; i++) {
                    let gantttask = {
                        id: this.taskDoing.length + i + 1,
                        name: this.taskTodo[i].name,
                        user: this.taskTodo[i].creatorName,
                        start: new Date(this.taskTodo[i].startTime),
                        end: new Date(this.taskTodo[i].endTime),
                        type: "task",
                        progress: 100,
                        style: {
                            base: {
                                fill: "#F90"
                            }
                        }
                    };
                    this.ganttTasks.push(gantttask);
                }
                for (let i = 0; i < this.taskDone.length; i++) {
                    let gantttask = {
                        id: this.taskDoing.length + this.taskTodo.length + i + 1,
                        name: this.taskDone[i].name,
                        user: this.taskDone[i].creatorName,
                        start: new Date(this.taskDone[i].startTime),
                        end: new Date(this.taskDone[i].endTime),
                        type: "task",
                        progress: 100,
                        style: {
                            base: {
                                fill: "#57A3F3"
                            }
                        }
                    };
                    this.ganttTasks.push(gantttask);
                }
            },
            switch2Manager() {
                this.chartSwitch = false;
                $("#todoPanel").css("color", "#57a3f3");
                $("#ganttPanel").css("color", "black");
            },
            switch2Gantt() {
                $("#todoPanel").css("color", "black");
                $("#ganttPanel").css("color", "#57a3f3");
                this.chartSwitch = true;

                this.initGantt();
            }
            // gotoPersonalSpace(id) {
            //   if (id == this.$store.getters.userId) {
            //     this.$router.push({ name: "PersonalPage" });
            //   } else {
            //     this.$router.push({ name: "MemberDetailPage", params: { id: id } });
            //   }
            // }
        }
    });
</script>
