<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=5,IE=9"><![endif]-->
<!DOCTYPE html>
<html>
<head>
    <title>Grapheditor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="styles/grapheditor.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="cdn_js/jquery.js"></script>
    <!-- import Vue.js -->
    <script src="cdn_js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="cdn_css/iview.css">
    <!-- import iView -->
    <script src="cdn_js/iview.min.js"></script>
    <!-- import vuescroll -->
    <script src="cdn_js/vuescroll.js"></script>
    <link rel="stylesheet" href="cdn_css/vuescroll.css" type="text/css"/>
    <!-- import axios -->
    <script src="cdn_js/axios.min.js"></script>
    <!-- collaboration -->
    <link rel="stylesheet" href="../../collabTemplate/collaboration.css">
    <script src="../../collabTemplate/js/bootstrap.js"></script>
    <script src="../../collabTemplate/collaboration.js"></script>

    <script type="text/javascript">
        // Parses URL parameters. Supported parameters are:
        // - lang=xy: Specifies the language of the user interface.
        // - touch=1: Enables a touch-style user interface.
        // - storage=local: Enables HTML5 local storage.
        // - chrome=0: Chromeless mode.
        var urlParams = (function (url) {
            var result = new Object();
            var idx = url.lastIndexOf('?');

            if (idx > 0) {
                var params = url.substring(idx + 1).split('&');

                for (var i = 0; i < params.length; i++) {
                    idx = params[i].indexOf('=');

                    if (idx > 0) {
                        result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                    }
                }
            }

            return result;
        })(window.location.href);

        // Default resources are included in grapheditor resources
        mxLoadResources = false;
    </script>
    <script type="text/javascript" src="js/Init.js"></script>
    <script type="text/javascript" src="deflate/pako.min.js"></script>
    <script type="text/javascript" src="deflate/base64.js"></script>
    <script type="text/javascript" src="jscolor/jscolor.js"></script>
    <script type="text/javascript" src="sanitizer/sanitizer.min.js"></script>
    <script type="text/javascript" src="js/mxClient.js"></script>
    <script type="text/javascript" src="js/EditorUi.js"></script>
    <script type="text/javascript" src="js/Editor.js"></script>
    <script type="text/javascript" src="js/Sidebar.js"></script>
    <script type="text/javascript" src="js/Graph.js"></script>
    <script type="text/javascript" src="js/Format.js"></script>
    <script type="text/javascript" src="js/Shapes.js"></script>
    <script type="text/javascript" src="js/Actions.js"></script>
    <script type="text/javascript" src="js/Menus.js"></script>
    <script type="text/javascript" src="js/Toolbar.js"></script>
    <script type="text/javascript" src="js/Dialogs.js"></script>
    <style>
        .fileBtnHoverRed:hover {
            background-color: #ed4014;
            color: white;
        }
    </style>
</head>
<body class="geEditor">

<div id="collab-tool-head"></div>
<div id="collab-tool-sidebar"></div>
<div id="collab-tool-content">
    <script>
        window.taskInfo = {
            taskId: "",
            title: "",
            description: ""
        };
    </script>
    <div id="saveTaskDiv">
        <Modal
                v-model="saveTaskModal"
                title="Save task">
            <div>
                <h5>Title:</h5>
                <i-input v-model="taskInfo.title" placeholder="Enter task title..."></i-input>
                <h5>Description:</h5>
                <i-input v-model="taskInfo.description" type="textarea"
                         placeholder="Enter task description..."></i-input>
            </div>
            <div slot="footer">
                <i-button @click="saveTask" type="primary">Save</i-button>
            </div>
        </Modal>
    </div>
    <script>
        window.saveTaskVM = new Vue({
            el: "#saveTaskDiv",
            data() {
                return {
                    saveTaskModal: false,
                    taskInfo: {
                        title: "",
                        description: ""
                    },
                }
            },
            methods: {
                showModal() {
                    this.taskInfo = {
                        title: "",
                        description: ""
                    }
                    this.saveTaskModal = true;
                },
                saveTask() {
                    let graphXML = getGraphXML();
                    let taskBlob = new Blob([graphXML],{type:"text/plain;charset=utf-8"});
                    var fileOfBlob = new File([taskBlob], this.taskInfo.title+".xml");
                    saveResources([fileOfBlob], this.taskInfo.description,  "others", "private");
                    this.saveTaskModal=false;
                }
            }
        });
    </script>

    <div id="updateTaskDiv">
        <Modal
                v-model="updateTaskModal"
                title="Update task">
            <div>
                <h5>Title:</h5>
                <i-input v-model="taskInfo.title" placeholder="Enter task title..."></i-input>
                <h5>Description:</h5>
                <i-input v-model="taskInfo.description" type="textarea"
                         placeholder="Enter task description..."></i-input>
            </div>
            <div slot="footer">
                <i-button @click="updateTask" type="primary">Update</i-button>
            </div>
        </Modal>
    </div>
    <script>
        window.updateTaskVM = new Vue({
            el: "#updateTaskDiv",
            data() {
                return {
                    updateTaskModal: false,
                    taskInfo: {
                        title: "",
                        description: ""
                    },
                }
            },
            methods: {
                showModal() {
                    this.taskInfo = window.taskInfo;
                    this.updateTaskModal = true;
                },
                updateTask() {
                    let taskInfoData = new URLSearchParams();
                    taskInfoData.append("taskId", this.taskInfo.taskId);
                    taskInfoData.append("title", this.taskInfo.title);
                    taskInfoData.append("description", this.taskInfo.description);
                    taskInfoData.append("graphXML", getGraphXML());
                    //发送请求
                    var url = "/GeoProblemSolving/graphEditor/update";
                    if (window.location.port == "5500") {
                        url = "http://localhost:8081/GeoProblemSolving/graphEditor/update";
                    }
                    axios
                        .post(url, taskInfoData)
                        .then(res => {
                            if (res.data != "Fail") {
                                window.taskInfo.title = this.taskInfo.title;
                                window.taskInfo.description = this.taskInfo.description;
                                this.updateTaskModal = false;
                            } else {
                                console.log("Update task fail.");
                            }
                        })
                        .catch(err => {
                            console.log("Update task fail.");
                        });
                }
            }
        });
    </script>

    <script type="text/javascript">
        // 加载协同组件
        loadCollabComponent();
    </script>

    <script type="text/javascript" src="js/Operation.js"></script>
</div>
</body>
</html>
