<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/jquery.jexcel.css" type="text/css"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/index.css"/>
    <style>
        .app-head {
            background-color: white;
            box-shadow: 9px 9px 6px 10px #d1d1d1;
            height: inherit;
            text-align: center;
            padding: 0px 40px;
            margin-bottom: 20px !important;
        }

        .logo div {
            font: bold 28px arial;
            text-decoration: none;
            line-height: 60px;
            color: #409eff;
            line-height: 80px;
        }

        .step2 {
            position: absolute;
            z-index: 10;
            background: white;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 2px 2px 2px #ddd;
            padding: 20px;
            left: 40%;
            top: 25%;
        }

        .step2 > .el-row:nth-child(2n + 1) {
            margin: 10px 0;
            border-bottom: 1px solid #ddd;
            padding: 4px 0;
        }

        .step2 > .el-row:last-child {
            border: none;
        }

        .close-step2 {
            position: absolute;
            right: 1.2rem;
            top: 1rem;
            cursor: pointer;
        }

        label {
            color: rebeccapurple;
        }

        .el-aside {
            border-right: 1px solid #777;
            padding: 0 20px;
        }

        .el-aside > p {
            padding: 0 15px;
        }

        .el-textarea {
            width: 70%;
            padding: 0 30px;
        }

        .rightBody {
            padding-left: 25px;
        }
    </style>
</head>

<body>
<div id="app">
    <el-container>
        <el-aside width="25%">
            <h2>Introduction</h2>
            <p>
                This table edit tool is offers the following functions to help you create edit
                <strong>csv,excel</strong> data,you can open the file existed in loacl storage,except that,
                you can download your file just edit.
            </p>
            <h2>How to Use</h2>
            <p>
                1.click open button , and choose your local file,and edit it.
            </p>
            <el-input type="textarea" :autosize="true" resize="none" :disabled="true" v-model="textarea">
            </el-input>
            <p>2.Double click the cell , you can edit the content table cell.</p>
            <p>3.Click donwload button,you can download the file in your own PC</p>

            <el-row>
                <el-col :span="2">
                    <el-upload action="-" :before-upload="beforeUpload"
                               multiple="false"
                               ref="upload" limit="1" name="myfile">
                        <el-button>open</el-button>
                    </el-upload>
                </el-col>
                <el-col :span="2" :offset="3">
                    <el-button @click="destroy">clear</el-button>
                </el-col>
                <el-col :span="2" :offset="3">
                    <el-button @click="download">download</el-button>
                </el-col>
            </el-row>
        </el-aside>
        <div class="rightBody">
            <el-main>
                <el-tabs v-model="activeTab" tab-position="top">
                    <el-tab-pane label="tablePanel" name="tablePanel">
                        <div id="tablePanel"></div>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </div>
    </el-container>
</div>
</body>
<script src="./js/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/index.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.csv.min.js"></script>
<script src="./js/jquery.jexcel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.1/xlsx.full.min.js"></script>
<script>
    var emptyExcel = $.fn.jexcel("helper", {
        action: "createEmptyData",
        cols: 20,
        rows: 20
    });
    // others
    var data;
    var vue = new Vue({
        el: "#app",
        data: {
            textarea: "And your file must be like this：\nx,y,z\n1,2,3\n1,2,3",
            outputHas: false,
            showXYSelect: false,
            headers: [],
            xValue: [],
            yValue: "",
            activeTab: "tablePanel"
        },
        computed: {
            transferHeaders() {
                var data = [];
                var row0 = $("#tablePanel").jexcel("getRowData", 0);
                this.headers.forEach(function (el, index) {
                    var flag = parseInt(row0[index]) === Number(row0[index]);

                    if (flag) {
                        data.push({
                            key: el,
                            label: el
                        });
                    }
                });
                return data;
            }
        },
        methods: {
            init() {
                console.log("init");
                $("#tablePanel").jexcel({
                    data: emptyExcel,
                    tableOverflow: false,
                    minDimensions: [20, 20]
                });
            },
            // 下载文件
            download() {
                $("#tablePanel").jexcel("download");
                var data = $('#tablePanel').jexcel('getData', false);
            },
            computeHeaders() {
                var h = [];
                if ($("#tablePanel").jexcel("getData")[0] === undefined) {
                    return h;
                }
                var len = $("#tablePanel").jexcel("getData")[0].length;
                for (var i = 0; i < len; i++) {
                    var headersIndex = $("#tablePanel").jexcel("getHeader", i);
                    if (
                        $("#tablePanel").jexcel("getValue", headersIndex + 1) != ""
                    ) {
                        h.push(headersIndex);
                    }
                }
                return h;
            },
            destroy() {
                $("#tablePanel").jexcel({
                    data: emptyExcel
                });
                // this.$refs.upload.clearFiles();
                this.headers = [];
                this.xValue = [];
                this.yValue = "";
                this.outputHas = false;
                this.activeTab = "tablePanel";
            },
            beforeUpload(file){
                if (!/\.(xls|xlsx|csv)$/.test(file.name.toLowerCase())) {
                    this.$Message.error("上传格式不正确，请上传xls或者xlsx格式");
                    return false;
                }

                //上传数据
                var formData = new FormData();
                var userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
                formData.append("file", file);
                formData.append("description", "Data chart tool");
                formData.append("type", "data");
                formData.append("uploaderId", userInfo.userId);
                formData.append("belong", userInfo.userName);
                var scopeObject = {
                    projectId: sessionStorage.getItem("projectId"),
                    subProjectId: sessionStorage.getItem("subProjectId"),
                    moduleId: sessionStorage.getItem("moduleId")
                };
                formData.append("scope", JSON.stringify(scopeObject));
                var inThis = this;
                $.ajax({
                    type: "POST",
                    url: "/GeoProblemSolving/resource/upload",
                    data: formData,
                    cache: false,        //不设置缓存
                    processData: false,  // 不处理数据
                    contentType: false,  // 不设置内容类型
                    success: function (data) {
                        if (data != "Size over" && data.length > 0) {

                            // this.$refs.upload.clearFiles();
                            var dataName = data[0].fileName;
                            inThis.uploadData(dataName);
                        }
                    },
                    error: function () {
                        alert("fail");
                    }
                });
                return false;
            },
            uploadData(name){
                var inThis = this;
                if (/\S*.csv/.test(name)) {
                    $("#tablePanel").jexcel({
                        // Full CSV URL
                        csv: "/GeoProblemSolving/resource/upload/" + name,
                        // // Use the first row of your CSV as the headers
                        csvHeaders: true,
                        // Headers
                        colWidths: [100, 100, 100, 100],
                        tableOverflow: false,
                        minDimensions: [20, 20],
                        onload() {
                            inThis.headers = inThis.computeHeaders();
                            inThis.$notify({
                                title: "成功",
                                message: "上传成功",
                                type: "success"
                            });
                        }
                    });
                }
                else if (/\S*.xls/.test(filename) || /\S*.xlsx/.test(filename)) {
                    // 获取数据
                    var xhr = new XMLHttpRequest();
                    xhr.open("GET", "/GeoProblemSolving/resource/upload/" + name, true);
                    xhr.responseType = 'blob';
                    xhr.onload = function(e) {
                        if (this.status == 200) {
                            var myBlob = this.response;

                            var fileReader = new FileReader();
                            fileReader.readAsBinaryString(myBlob);
                            fileReader.onload = function (ev) {
                                try {
                                    var data = ev.target.result;
                                    var workbook = XLSX.read(data, {
                                        type: "binary"
                                    });
                                    var wsname = workbook.SheetNames[0]; //取第一张表
                                    var ws = XLSX.utils.sheet_to_json(workbook.Sheets[wsname]);

                                    var arr = Object.keys(ws[0]);

                                    //生成json表格内容
                                    var list1 = [];
                                    var list2 = [];
                                    for (var i = 0; i < ws.length; i++) {
                                        for (var key in ws[i]) {
                                            list1.push(ws[i][key]);
                                        }
                                        list2[i] = list1;
                                        list1 = [];
                                    }

                                    var excelData = list2;
                                    $("#tablePanel").jexcel({
                                        data: excelData,
                                        colHeaders: arr,
                                        tableOverflow: false,
                                        csvHeaders: true,
                                        minDimensions: [20, 20],
                                        onload() {
                                            inThis.headers = inThis.computeHeaders();
                                            inThis.$notify({
                                                title: "成功",
                                                message: "上传成功",
                                                type: "success"
                                            });
                                        }
                                    });

                                } catch (e) {
                                    return false;
                                }
                            };
                        }
                    };
                    xhr.send();
                }
            }

        },
        created() {
            this.$nextTick(function () {
                this.init();
            });
        },
        mounted() {
        }
    });
</script>

</html>