<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/jquery.jexcel.css" type="text/css"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/index.css"/>
    <style>
        .app-head {
            background-color: white;
            box-shadow: 9px 9px 6px 10px #d1d1d1;
            height: inherit;
            text-align: center;
            padding: 0px 40px;
            margin-bottom: 20px !important;
        }

        .logo div {
            font: bold 28px arial;
            text-decoration: none;
            line-height: 60px;
            color: #409eff;
            line-height: 80px;
        }

        .step2 {
            position: absolute;
            z-index: 10;
            background: white;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 2px 2px 2px #ddd;
            padding: 20px;
            left: 40%;
            top: 25%;
        }

        .step2 > .el-row:nth-child(2n + 1) {
            margin: 10px 0;
            border-bottom: 1px solid #ddd;
            padding: 4px 0;
        }

        .step2 > .el-row:last-child {
            border: none;
        }

        .close-step2 {
            position: absolute;
            right: 1.2rem;
            top: 1rem;
            cursor: pointer;
        }

        label {
            color: rebeccapurple;
        }

        .el-aside {
            border-right: 1px solid #777;
            padding: 0 20px;
        }

        .el-aside > p {
            padding: 0 15px;
        }

        .el-textarea {
            width: 70%;
            padding: 0 30px;
        }

        .rightBody {
            padding-left: 25px;
        }
    </style>
</head>

<body>
<div id="app">
    <el-container>
        <el-aside width="400px">
            <h2>Introduction</h2>
            <p>
                This table edit tool offers the following functions to help you create edit <strong>CSV, excel</strong>
                data.
            </p>
            <p>
                You can open the file that exists in the resource center. After that, you can save your file into the
                resource center.
            </p>
            <h2>How to use</h2>
            <p>
                1. Click <strong>Open</strong> button, choose your file, and edit it.
            </p>
            <el-input type="textarea" :autosize="true" resize="none" :disabled="true" v-model="textarea">
            </el-input>
            <p>2. Double-click the cell, and you can edit the content table cell.</p>
            <p>3. Click <strong>Save</strong> button,you can download the file in your own PC</p>
            <el-row>
                <el-col :span="2">
                    <el-button @click="open">Open</el-button>
                </el-col>
                <el-col :span="2" :offset="3">
                    <el-button @click="destroy">Clear</el-button>
                </el-col>
                <el-col :span="2" :offset="3">
                    <el-button @click="save">Save</el-button>
                </el-col>
            </el-row>
        </el-aside>
        <div class="rightBody">
            <el-main>
                <el-tabs v-model="activeTab" tab-position="top">
                    <el-tab-pane label="tablePanel" name="tablePanel">
                        <div id="tablePanel"></div>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </div>
        <el-dialog title="Resouces list" :visible.sync="fileSelectVisible">
            <el-table :data="fileList" style="max-height: 400px; overflow-y: auto">
                <el-table-column property="name" label="Name" width="200"></el-table-column>
                <el-table-column property="type" label="Type" width="80"></el-table-column>
                <el-table-column property="description" label="Description"></el-table-column>
                <el-table-column label="Operation">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="uploadData(scope.row, true)">Select</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
    </el-container>
</div>
</body>
<script src="./js/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/index.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.csv.min.js"></script>
<script src="./js/jquery.jexcel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.1/xlsx.full.min.js"></script>
<script>
    var emptyExcel = $.fn.jexcel("helper", {
        action: "createEmptyData",
        cols: 20,
        rows: 20
    });
    // others
    var data;
    var vue = new Vue({
        el: "#app",
        data: {
            textarea: "And your file must be like this：\nx,y,z\n1,2,3\n1,2,3",
            outputHas: false,
            showXYSelect: false,
            headers: [],
            xValue: [],
            yValue: "",
            activeTab: "tablePanel",
            // 表格的socket工具
            excelSocket: null,
            boolCollaborate: false,
            pageParams: {pageId: "", userId: "", userName: ""},
            userInfo: {},
            fileList: [],
            dataName: "",
            fileSelectVisible: false
        },
        computed: {
            transferHeaders() {
                var data = [];
                var row0 = $("#tablePanel").jexcel("getRowData", 0);
                this.headers.forEach(function (el, index) {
                    var flag = parseInt(row0[index]) === Number(row0[index]);

                    if (flag) {
                        data.push({
                            key: el,
                            label: el
                        });
                    }
                });
                return data;
            }
        },
        beforeRouteLeave(to, from, next) {
            this.closeExcelSocket();
            next();
        },
        created() {
            this.$nextTick(function () {
                this.init();
            });
        },
        mounted() {
            this.getStepInfo();
            this.getUserInfo();
            this.openExcelSocket();
        },
        methods: {
            init() {
                console.log("init");
                $("#tablePanel").jexcel({
                    data: emptyExcel,
                    tableOverflow: false,
                    minDimensions: [20, 20],
                    onchange: this.handler,
                    oninsertrow: this.insertrow,
                    oninsertcolumn: this.insertcol,
                    ondeleterow: this.deleterow,
                    ondeletecolumn: this.deletecol,
                    onsort: this.tableSort,
                    onmoverow: this.rowMove
                });
            },
            getStepInfo() {
                var href = window.location.href;
                var url = href.split("&");

                for (var i = 0; i < url.length; i++) {
                    if (/groupID/.test(url[i])) {
                        this.pageParams.pageId = url[i].match(/groupID=(\S*)/)[1];
                        continue;
                    }

                    if (/userID/.test(url[i])) {
                        this.pageParams.userId = url[i].match(/userID=(\S*)/)[1];
                        continue;
                    }

                    if (/userName/.test(url[i])) {
                        this.pageParams.userName = url[i].match(/userName=(\S*)/)[1];
                        continue;
                    }
                }
            },
            getUserInfo() {
                var _this = this;
                this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
                if (this.userInfo == null || JSON.stringify(this.userInfo) == "{}") {
                    $.ajax({
                        type: "GET",
                        url: "/PExploration/user/inquiry" +
                        "?key=" +
                        "userId" +
                        "&value=" +
                        this.pageParams.userId,
                        cache: false,        //不设置缓存
                        processData: false,  // 不处理数据
                        contentType: false,  // 不设置内容类型
                        success: function (data) {
                            if (data != "Fail" && data != "None") {
                                _this.userInfo = data;
                            }
                        },
                        error: function () {
                            console.log("Fail");
                        }
                    });
                }
            },
            open() {
                if (this.pageParams.pageId == undefined || this.pageParams.pageId == "") {
                    this.$Message.error("Lost the information of current step.");
                    return false;
                }

                var _this = this;
                this.fileList = [];
                $.ajax({
                    type: "GET",
                    url: "/PExploration/folder/inquiry?folderId=" + this.pageParams.pageId,
                    cache: false,        //不设置缓存
                    processData: false,  // 不处理数据
                    contentType: false,  // 不设置内容类型
                    success: function (data) {
                        // 写渲染函数，取到所有资源
                        if (data !== "None") {
                            for (let i = 0; i < data.files.length; i++) {
                                if (
                                    data.files[i].type == "data" &&
                                    /\.(xls|xlsx|csv)$/.test(data.files[i].name.toLowerCase())) {
                                    _this.fileList.push(data.files[i]);
                                }
                            }
                            _this.fileSelectVisible = true;
                        } else {
                            _this.fileList = [];
                        }
                    },
                    error: function () {
                        console.log("Fail");
                    }
                });
            },
            // 下载文件
            save() {
                // $("#tablePanel").jexcel("download");
                var data = $('#tablePanel').jexcel('getData', false);
                var row = $('#tablePanel').jexcel('getRowData', 1);

                //格式化
                // set header
                let result = $('#tablePanel').jexcel('getHeader', 0);
                for (var i = 1; i < row.length; i++) {
                    result += "," + $('#tablePanel').jexcel('getHeader', i);
                }
                result += "\n";
                // set content
                for (var j = 0; j < data.length; j++) {
                    result += data[j][0];
                    for (var i = 1; i < row.length; i++) {
                        result += "," + data[j][i];
                    }
                    result += "\n";
                }

                //创建blob
                let blob = new Blob(["\ufeff" + result], {
                    type: "text/csv,charset=UTF-8"
                });
                var resultBlob = new File([blob], this.dataName + ".csv");

                let resultForm = new FormData();
                resultForm.append("file", resultBlob);
                resultForm.append("description", "The result of table editor tool");
                resultForm.append("type", "data");
                resultForm.append("uploaderId", this.pageParams.userId);
                resultForm.append("privacy", "private");
                resultForm.append("folderId", this.pageParams.pageId);

                $.ajax({
                    type: "POST",
                    url: "/PExploration/folder/uploadToFolder",
                    data: resultForm,
                    cache: false,        //不设置缓存
                    processData: false,  // 不处理数据
                    contentType: false,  // 不设置内容类型
                    success: function (data) {
                        if (
                            data.sizeOver.length > 0 ||
                            data.failed.length > 0 ||
                            data == "Offline"
                        ) {
                            console.log(data);
                        } else if (data.uploaded.length > 0) {
                            alert("Save successfully!")
                        }
                    },
                    error: function () {
                        alert("fail");
                    }
                });

            },
            computeHeaders() {
                var h = [];
                if ($("#tablePanel").jexcel("getData")[0] === undefined) {
                    return h;
                }
                var len = $("#tablePanel").jexcel("getData")[0].length;
                for (var i = 0; i < len; i++) {
                    var headersIndex = $("#tablePanel").jexcel("getHeader", i);
                    if (
                        $("#tablePanel").jexcel("getValue", headersIndex + 1) != ""
                    ) {
                        h.push(headersIndex);
                    }
                }
                return h;
            },
            destroy() {
                $("#tablePanel").jexcel({
                    data: emptyExcel
                });
                // this.$refs.upload.clearFiles();
                this.headers = [];
                this.xValue = [];
                this.yValue = "";
                this.outputHas = false;
                this.activeTab = "tablePanel";

                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "clear"
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            closeExcelSocket() {
                if (this.excelSocket != null) {
                    this.excelSocket.close();
                }
            },
            openExcelSocket() {
                if (this.pageParams.pageId == undefined || this.pageParams.pageId == "") {
                    this.$Message.error("Lose the information of current step.");
                    return false;
                }

                if (this.excelSocket != null) {
                    this.closeExcelSocket();
                    this.excelSocket = null;
                }

                var roomId = this.pageParams.pageId;
                var excelSocketURL = "ws://" + window.location.host + "/PExploration/ExcelTool/" + roomId;
                if (window.location.host == "localhost:8080") {
                    excelSocketURL = "ws://localhost:8081/PExploration/ExcelTool/" + roomId;
                }
                if(window.location.port=="8083"){
                    excelSocketURL = "wss://"+ window.location.hostname+":8083/PExploration/ExcelTool/" + roomId;
                }
                this.excelSocket = new WebSocket(excelSocketURL);
                this.excelSocket.onopen = this.onOpen;
                this.excelSocket.onmessage = this.onMessage;
                this.excelSocket.onclose = this.onClose;
                this.excelSocket.onerror = this.onError;
            },
            onOpen() {
                console.log("ExcelSocket连接成功！");
                this.setTimer();
            },
            onMessage(e) {
                var messageJson = JSON.parse(e.data);
                this.getSocketContent(messageJson);
            },
            onClose(e) {
                this.removeTimer();
                console.log("ExcelSocket连接断开！");
            },
            onError(e) {
                this.removeTimer();
                console.log("ExcelSocket连接错误！");
            },
            setTimer() {
                var _this = this;
                this.timer = setInterval(function () {
                    var messageJson = {};
                    messageJson["type"] = "ping";
                    messageJson["message"] = "ping";
                    _this.excelSocket.send(JSON.stringify(messageJson));
                }, 20000);
            },
            removeTimer() {
                clearInterval(this.timer);
            },
            uploadData(file, collaborate) {
                this.dataName = file.name;
                var pathURL = file.pathURL;
                var inThis = this;
                if (/\S*.csv/.test(this.dataName)) {
                    this.fileSelectVisible = false;
                    $("#tablePanel").jexcel({
                        // Full CSV URL
                        csv: pathURL,
                        // // Use the first row of your CSV as the headers
                        csvHeaders: true,
                        // Headers
                        colWidths: [100, 100, 100, 100],
                        tableOverflow: false,
                        // minDimensions: [20, 20],
                        onchange: inThis.handler,
                        oninsertrow: inThis.insertrow,
                        oninsertcolumn: inThis.insertcol,
                        ondeleterow: inThis.deleterow,
                        ondeletecolumn: inThis.deletecol,
                        onsort: inThis.tableSort,
                        onmoverow: inThis.rowMove,
                        onload() {
                            inThis.headers = inThis.computeHeaders();
                        }
                    });
                }
                else if (/\S*.xls/.test(this.dataName) || /\S*.xlsx/.test(this.dataName)) {
                    this.fileSelectVisible = false;
                    // 获取数据
                    var xhr = new XMLHttpRequest();
                    xhr.open("GET", pathURL, true);
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var myBlob = this.response;

                            var fileReader = new FileReader();
                            fileReader.readAsBinaryString(myBlob);
                            fileReader.onload = function (ev) {
                                try {
                                    var data = ev.target.result;
                                    var workbook = XLSX.read(data, {
                                        type: "binary"
                                    });
                                    var wsname = workbook.SheetNames[0]; //取第一张表
                                    var ws = XLSX.utils.sheet_to_json(workbook.Sheets[wsname]);

                                    var arr = Object.keys(ws[0]);

                                    //生成json表格内容
                                    var list1 = [];
                                    var list2 = [];
                                    for (var i = 0; i < ws.length; i++) {
                                        for (var key in ws[i]) {
                                            list1.push(ws[i][key]);
                                        }
                                        list2[i] = list1;
                                        list1 = [];
                                    }

                                    var excelData = list2;
                                    $("#tablePanel").jexcel({
                                        data: excelData,
                                        colHeaders: arr,
                                        tableOverflow: false,
                                        csvHeaders: true,
                                        // minDimensions: [20, 20],
                                        onchange: inThis.handler,
                                        oninsertrow: inThis.insertrow,
                                        oninsertcolumn: inThis.insertcol,
                                        ondeleterow: inThis.deleterow,
                                        ondeletecolumn: inThis.deletecol,
                                        onsort: inThis.tableSort,
                                        onmoverow: inThis.rowMove,
                                        onload() {
                                            inThis.headers = inThis.computeHeaders();
                                        }
                                    });

                                } catch (e) {
                                    return false;
                                }
                            };
                        }
                    };
                    xhr.send();
                }
                if (collaborate) {
                    var socket_content = {
                        type: "open",
                        file: file
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
            },
            insertrow(obj, mixed, rowNumber) {
                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "insert_row",
                        row: rowNumber,
                        mixed: mixed
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            insertcol(obj, mixed, properties, columnNumber) {
                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "insert_col",
                        column: columnNumber,
                        mixed: mixed,
                        properties: properties
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            handler(obj, cell, val) {
                if (!this.boolCollaborate) {
                    var socket_content = {};
                    socket_content["type"] = "value_change";
                    socket_content["cell"] = $(cell).prop('id');
                    socket_content["value"] = val;
                    console.log(socket_content);
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            deleterow(obj, row, num, rcd) {
                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "delete_row",
                        row: row,
                        NumofRow: num
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            deletecol(obj, col, num, rcd) {
                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "delete_column",
                        column: col,
                        NumofCol: num
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            rowMove(obj, movefrom, moveto) {
                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "row_move",
                        moveFrom: movefrom,
                        moveTo: moveto
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            tableSort(obj, col, order) {
                if (!this.boolCollaborate) {
                    var socket_content = {
                        type: "sort",
                        column: col,
                        order: order
                    };
                    this.excelSocket.send(JSON.stringify(socket_content));
                }
                this.boolCollaborate = false;
            },
            getSocketContent(data) {
                this.boolCollaborate = true;
                switch (data.type) {
                    case "open" : {
                        this.uploadData(data.file, false);
                        break;
                    }
                    case "insert_row" : {
                        $('#tablePanel').jexcel('insertRow', data.mixed, data.row);
                        break;
                    }
                    case "insert_col" : {
                        $('#tablePanel').jexcel('insertColumn', data.mixed, data.properties, data.column);
                        break;
                    }
                    case "value_change" : {
                        $('#tablePanel').jexcel('setValue', data.cell, data.value);
                        break;
                    }
                    case "delete_row" : {
                        $('#tablePanel').jexcel('deleteRow', data.row, data.NumofRow);
                        break;
                    }
                    case "delete_column" : {
                        $('#tablePanel').jexcel('deleteColumn', data.column, data.NumofCol);
                        break;
                    }
                    case "row_move" : {
                        $('#tablePanel').jexcel('moveRow', data.moveFrom, data.moveTo);
                        break;
                    }
                    case "sort" : {
                        $('#tablePanel').jexcel('orderBy', data.column, data.order);
                        break;
                    }
                    case "clear": {
                        this.destroy();
                        break;
                    }
                }

                this.boolCollaborate = false;
            }

        }
    });
</script>

</html>